<div class="l-wrapper">
	<div id="fragrance" class="page-contents">
		<div class="sticky-pulldown sp-only is-hide">
			<div class="dropdown dropdown-fragrance">
				<button type="button" class="dropdown-button">Search by the scent</button>
				<ul class="dropdown-list">
					<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/savon-1"
							target="_blank">SAVON</a></li>
					<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/white-lily-1"
							target="_blank">WHITE LILY</a></li>
					<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/white-tea"
							target="_blank">WHITE TEA</a></li>
					<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/earl-grey"
							target="_blank">EARL GREY</a></li>
					<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/kinmokusei"
							target="_blank">KINMOKUSEI</a></li>
				</ul>
			</div>
			<div class="dropdown dropdown-products">
				<button type="button" class="dropdown-button">Search by the product</button>
				<ul class="dropdown-list">
					<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/fragrance-five-fragrances"
							target="_blank">FRAGRANCE</a></li>
					<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/body-care-five-fragrances"
							target="_blank">BODY CARE</a></li>
					<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/hair-care-five-fragrances"
							target="_blank">HAIR CARE</a></li>
					<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/home-care-five-fragrances"
							target="_blank">HOME</a></li>
				</ul>
			</div>
		</div>
		<section class="section section-main-visual">
			<div class="kv-wrap">
				<h1 class="kv-hello"><span class="big">Hello</span> <br class="sp-only">to our <br class="sp-only">SHIRO
					Fragrances.
				</h1>
				<div class="anchor-dropdowns">
					<div class="dropdown dropdown-fragrance">
						<button type="button" class="dropdown-button">Search by the scent</button>
						<ul class="dropdown-list">
							<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/savon-1"
									target="_blank">SAVON</a></li>
							<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/white-lily-1"
									target="_blank">WHITE LILY</a></li>
							<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/white-tea"
									target="_blank">WHITE TEA</a></li>
							<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/earl-grey"
									target="_blank">EARL GREY</a></li>
							<li class="dropdown-content"><a href="https://shiro-shiro.us/collections/kinmokusei"
									target="_blank">KINMOKUSEI</a></li>
						</ul>
					</div>
					<div class="dropdown dropdown-products">
						<button type="button" class="dropdown-button">Search by the product</button>
						<ul class="dropdown-list">
							<li class="dropdown-content"><a
									href="https://shiro-shiro.us/collections/fragrance-five-fragrances"
									target="_blank">FRAGRANCE</a></li>
							<li class="dropdown-content"><a
									href="https://shiro-shiro.us/collections/body-care-five-fragrances"
									target="_blank">BODY CARE</a></li>
							<li class="dropdown-content"><a
									href="https://shiro-shiro.us/collections/hair-care-five-fragrances"
									target="_blank">HAIR CARE</a></li>
							<li class="dropdown-content"><a
									href="https://shiro-shiro.us/collections/home-care-five-fragrances"
									target="_blank">HOME</a></li>
						</ul>
					</div>
				</div>
				<p class="annotation">it will lead you the product page of your serching items.</p>
				<div class="box-inner anime_trigger base_anime box-concept" data-anim="is_fade">
					<div class="box-wrap">
						<p class="concept-en-title">SHIRO FRAGRANCE</p>
						<h2 class="concept-title">SHIRO fragrances that provide soothing and delightful aromas.
						</h2>
						<p class="concept-description">Five fragrances that gracefully accompany us in our everyday
							life.<br class="pc-only">May tomorrow bring you an abundance of joy.</p>
					</div>
				</div>
			</div>
		</section>
		<!--SAVON-->
		<section id="savon" class="section section-fragrance sp-visible-pulldowns">
			<div class="fragrance-container">
				<div class="ds-f">
					<div class="description-wrapper anime_trigger base_anime" data-anim="is_fade">
						<h2 class="fragrance-name">SAVON</h2>
						<h3 class="fragrance-impression">Clear and subtly sweet, the<br>unforgettable fragrance is
							crafted<br>through the fusion of citrus and soap.
						</h3>
						<p class="fragrance-description anime_trigger base_anime sp-only" data-anim="is_fade">The
							fragrance draws inspiration from the image of a crisp and invigorating soap, adorned with a
							delicate hint of fresh fruits. Revitalized by the zestiness of citrus and the tender
							sweetness of lingering notes, it exudes a comforting aura. We aspire for you to discover a
							scent unlike any other, one that embraces and soothes all who encounter it.</p>
					</div>

					<div class="fragrance-background anime_trigger base_anime" data-anim="is_fade">
						<picture>
							<source srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/savon_triangle_pc.jpg"
								media="(min-width: 768px)" width="581"><img class="material__image"
								src="https://cdn.shopify.com/s/files/1/2418/1099/files/savon_triangle_sp.jpg" alt=""
								width="318">
						</picture>
					</div>
				</div>
				<p class="fragrance-description anime_trigger base_anime pc-only" data-anim="is_fade">The fragrance
					draws inspiration from the image of a crisp and invigorating soap, adorned with a delicate hint of
					fresh fruits. Revitalized by the zestiness of citrus and the tender sweetness of lingering notes, it
					exudes a comforting aura. We aspire for you to discover a scent unlike any other, one that embraces
					and soothes all who encounter it.</p>
			</div>
			<div class="products-container">
				<div class="products-list splide products-splide">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/savon-eau-de-parfum-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/files/12702_dc262bbb-50f7-4cd7-a85c-ce38cd1a9b90_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/files/12702_dc262bbb-50f7-4cd7-a85c-ce38cd1a9b90_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON EAU DE PARFUM (BOXLESS)</p>
										<p class="product-value">$53</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/savon-hair-mist-22-boxless" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12708_700x_1f24b55f-e3b8-48cc-882c-1244780f0ad3_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12708_700x_1f24b55f-e3b8-48cc-882c-1244780f0ad3_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON HAIR MIST (BOXLESS)</p>
										<p class="product-value">$41</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/savon-room-fragrance-diffuser-liquid-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad" src="https://shiro-shiro.us/cdn/shop/files/12716_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/files/12716_700x.jpg" alt=""
											loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON ROOM FRAGRANCE DIFFUSER LIQUID (BOXLESS)</p>
										<p class="product-value">$72</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/savon-body-oil-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12705_700x_31fccab8-719c-4f18-b8c0-6846cd96d6a0_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12705_700x_31fccab8-719c-4f18-b8c0-6846cd96d6a0_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON BODY OIL (BOXLESS)</p>
										<p class="product-value">$49</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/savon-bath-oil-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12710_700x_755cbdaf-70c3-46b0-ad36-f4bfd37ac4e9_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12710_700x_755cbdaf-70c3-46b0-ad36-f4bfd37ac4e9_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON BATH OIL (BOXLESS)</p>
										<p class="product-value">$48</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/savon-fabric-softener-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12713_700x_e43deb4c-9e85-4a26-8da7-9252b9ea947a_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12713_700x_e43deb4c-9e85-4a26-8da7-9252b9ea947a_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON FABRIC SOFTENER (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/savon-laundry-detergent-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12711_700x_22a471eb-2d70-4563-9611-c6e3ee837a56_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12711_700x_22a471eb-2d70-4563-9611-c6e3ee837a56_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON LAUNDRY DETERGENT (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/savon-hand-serum-22-boxless" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12706_700x_dcec6fa0-c8a2-4339-bd29-c7c29579572a_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12706_700x_dcec6fa0-c8a2-4339-bd29-c7c29579572a_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name"><span style="word-break:break-all;">【PREVIOUS
												CONTAINER】SAVON HAND SERUM (BOXLESS)</span></p>
										<p class="product-value">$31</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/savon-body-cologne-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12701_700x_50932547-93eb-4eae-be0a-b2fe5089c611_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12701_700x_50932547-93eb-4eae-be0a-b2fe5089c611_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON BODY COLOGNE (BOXLESS)</p>
										<p class="product-value">$34</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/savon-hair-oil-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12709_700x_eb7d5346-0e81-4e29-9103-048d8edcbe4b_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12709_700x_eb7d5346-0e81-4e29-9103-048d8edcbe4b_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON HAIR OIL (BOXLESS)</p>
										<p class="product-value">$41</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/collections/clay-hand-soap/products/savon-clay-hand-soap-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12707_700x_ec6fd4a6-b99f-4106-bd70-2d5cd53dd2a1_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12707_700x_ec6fd4a6-b99f-4106-bd70-2d5cd53dd2a1_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON CLAY HAND SOAP (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/savon-body-milk-22-boxless" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12704_700x_334915f1-f916-44a9-9d64-b0ff5833223d_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12704_700x_334915f1-f916-44a9-9d64-b0ff5833223d_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON BODY MILK (BOXLESS)</p>
										<p class="product-value">$48</p>
									</div>
								</a>
							</li>
							{% comment %}<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/savon-body-soap-22-boxless" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12717_700x_6a88e4f3-4e6f-4c46-9024-efc4e6c0de34_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12717_700x_6a88e4f3-4e6f-4c46-9024-efc4e6c0de34_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON BODY SOAP (BOXLESS)</p>
										<p class="product-value">$40</p>
									</div>
								</a>
							</li>{% endcomment %}
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/savon-aroma-oil-22-boxless" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12715_700x_1f6ac253-39ee-4504-a2b6-10e8e8cb54d3_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12715_700x_1f6ac253-39ee-4504-a2b6-10e8e8cb54d3_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON AROMA OIL (BOXLESS)</p>
										<p class="product-value">$34</p>
									</div>
								</a>
							</li>
							{% comment %}<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/savon-body-mist"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad" src="https://shiro-shiro.us/cdn/shop/files/12870_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/files/12870_700x.jpg" alt=""
											loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">SAVON BODY MIST (BOXLESS)</p>
										<p class="product-value">$34</p>
									</div>
								</a>
							</li>{% endcomment %}
						</ul>
					</div>
				</div>
				<button type="button" class="button-more-products"
					onclick="window.open('https://shiro-shiro.us/collections/savon-1', '_blank')" target="_blank">SAVON
					Series Product List ＞</button>
			</div>
		</section>
		<section id="whitelily" class="section section-fragrance">
			<div class="fragrance-container">
				<div class="ds-f">
					<div class="description-wrapper anime_trigger base_anime" data-anim="is_fade">
						<h2 class="fragrance-name">WHITE LILY</h2>
						<h3 class="fragrance-impression">Enveloped in a bouquet of pristine white flowers, it propels
							you towards becoming the person you aspire to be. Introducing the sophisticated essence of
							White Lily.
						</h3>
						<p class="fragrance-description anime_trigger base_anime sp-only" data-anim="is_fade">A refined
							and pristine fragrance embraced by graceful floral notes. The exquisite Lily has been
							enhanced, complemented by the gentle presence of Magnolia, resulting in an overall tender
							impression. It is a scent that delicately instills self-assurance within you.</p>
					</div>

					<div class="fragrance-background anime_trigger base_anime" data-anim="is_fade">
						<picture>
							<source srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/whitelily_triangle_pc.jpg"
								media="(min-width: 768px)" width="527"><img class="material__image"
								src="https://cdn.shopify.com/s/files/1/2418/1099/files/whitelily_triangle_sp.jpg" alt=""
								width="318">
						</picture>
					</div>
				</div>
				<p class="fragrance-description anime_trigger base_anime pc-only" data-anim="is_fade">A refined and
					pristine fragrance embraced by graceful floral notes. The exquisite Lily has been enhanced,
					complemented by the gentle presence of Magnolia, resulting in an overall tender impression. It is a
					scent that delicately instills self-assurance within you.</p>
			</div>
			<div class="products-container">
				<div class="products-list splide products-splide">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-lily-eau-de-parfum-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad" src="https://shiro-shiro.us/cdn/shop/products/12722_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12722_700x.jpg" alt=""
											loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY EAU DE PARFUM (BOXLESS)</p>
										<p class="product-value">$53</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-lily-hair-mist-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12728_700x_698956f6-639c-41a3-a158-b80e4357a4b2_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12728_700x_698956f6-639c-41a3-a158-b80e4357a4b2_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY HAIR MIST (BOXLESS)</p>
										<p class="product-value">$41</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-lily-room-fragrance-diffuser-liquid-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12736_900x_d4a66808-2520-4f67-9ebd-a446d6649c48_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12736_900x_d4a66808-2520-4f67-9ebd-a446d6649c48_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY ROOM FRAGRANCE DIFFUSER LIQUID (BOXLESS)</p>
										<p class="product-value">$72</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-lily-body-oil-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12725_700x_12a0a670-6c0c-43df-a8b7-82e405952853_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12725_700x_12a0a670-6c0c-43df-a8b7-82e405952853_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY BODY OIL (BOXLESS)</p>
										<p class="product-value">$49</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-lily-bath-oil-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12730_700x_cc4581b4-0fa3-48ff-b0f2-d63c119eff84_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12730_700x_cc4581b4-0fa3-48ff-b0f2-d63c119eff84_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY BATH OIL (BOXLESS)</p>
										<p class="product-value">$48</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/white-lily-solid-perfume"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/SOLID.PERFUME_01e131eb-aacf-4509-98ef-3a2e6023de3d_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/SOLID.PERFUME_01e131eb-aacf-4509-98ef-3a2e6023de3d_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY SOLID PERFUME (BOXLESS)</p>
										<p class="product-value">$39</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-lily-fabric-softener-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12733_700x_ff41ba8f-d59a-4b70-bf60-f9fcee3c6412_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12733_700x_ff41ba8f-d59a-4b70-bf60-f9fcee3c6412_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY FABRIC SOFTENER (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-lily-laundry-detergent-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12731_700x_a19d6ad9-8670-46ab-b8fe-712f86a6c9c0_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12731_700x_a19d6ad9-8670-46ab-b8fe-712f86a6c9c0_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY LAUNDRY DETERGENT (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-lily-hand-serum-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12726_700x_b6cb5402-e00d-43af-a20d-84c5b7947b7b_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12726_700x_b6cb5402-e00d-43af-a20d-84c5b7947b7b_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name"><span style="word-break:break-all;">【PREVIOUS
												CONTAINER】WHITE LILY HAND SERUM (BOXLESS)</span></p>
										<p class="product-value">$31</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-lily-body-cologne-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12721_700x_80d465b0-eddc-4fbb-9f02-01077ce063fb_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12721_700x_80d465b0-eddc-4fbb-9f02-01077ce063fb_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY BODY COLOGNE (BOXLESS)</p>
										<p class="product-value">$34</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/whitelily-body-mist"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad" src="https://shiro-shiro.us/cdn/shop/files/12871_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/files/12871_700x.jpg" alt=""
											loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY BODY MIST (BOXLESS)</p>
										<p class="product-value">$34</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-lily-hair-oil-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12729_700x_8bc53212-2d73-4ab3-99ba-d578478d11f9_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12729_700x_8bc53212-2d73-4ab3-99ba-d578478d11f9_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY HAIR OIL (BOXLESS)</p>
										<p class="product-value">$41</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-lily-clay-hand-soap-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12727_700x_77d0664e-d19f-4050-9fe8-101a54413c64_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12727_700x_77d0664e-d19f-4050-9fe8-101a54413c64_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY CLAY HAND SOAP (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/collections/body-milk-1/products/white-lily-body-milk-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12724_700x_715dd3c6-9a19-44c2-8532-adf731a2f26e_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12724_700x_715dd3c6-9a19-44c2-8532-adf731a2f26e_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY BODY MILK (BOXLESS)</p>
										<p class="product-value">$48</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-lily-aroma-oil-22-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12735_700x_827576b6-9cf2-40a6-a83e-ce8092912460_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12735_700x_827576b6-9cf2-40a6-a83e-ce8092912460_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE LILY AROMA OIL (BOXLESS)</p>
										<p class="product-value">$34</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<button type="button" class="button-more-products"
					onclick="window.open('https://shiro-shiro.us/collections/white-lily-1', '_blank')"
					target="_blank">WHITE LILY Series Product List ＞</button>
			</div>
		</section>
		<section id="whitetea" class="section section-fragrance">
			<div class="fragrance-container">
				<div class="ds-f">
					<div class="description-wrapper anime_trigger base_anime" data-anim="is_fade">
						<h2 class="fragrance-name">WHITE TEA</h2>
						<h3 class="fragrance-impression">The freshness of citrus and green envelops your body, while
							white tea creates a sense of comfort, enabling you to be yourself.
						</h3>
						<p class="fragrance-description anime_trigger base_anime sp-only" data-anim="is_fade">It begins
							with a revitalizing burst of green and vibrant citrus, leaving you with an elegant and
							invigorating impression. Subsequently, the tranquility of woody and amber undertones brings
							about a sense of relaxation. Immersed in this soothing and gentle aroma, you will
							undoubtedly rediscover your forgotten essence.</p>
					</div>

					<div class="fragrance-background anime_trigger base_anime" data-anim="is_fade">
						<picture>
							<source srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/whitetea_triangle_pc.jpg"
								media="(min-width: 768px)" width="527"><img class="material__image"
								src="https://cdn.shopify.com/s/files/1/2418/1099/files/whitetea_triangle_sp.jpg" alt=""
								width="318">
						</picture>
					</div>
				</div>
				<p class="fragrance-description anime_trigger base_anime pc-only" data-anim="is_fade">It begins with a
					revitalizing burst of green and vibrant citrus, leaving you with an elegant and invigorating
					impression. Subsequently, the tranquility of woody and amber undertones brings about a sense of
					relaxation. Immersed in this soothing and gentle aroma, you will undoubtedly rediscover your
					forgotten essence.</p>
			</div>
			<div class="products-container">
				<div class="products-list splide products-splide">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-tea-bathsalt-boxless" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12904_600x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12904_600x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE TEA BATH SALT (BOXLESS)</p>
										<p class="product-value">$49</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-tea-body-mist-boxless" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12905_600x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12905_600x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE TEA BODY MIST (BOXLESS)</p>
										<p class="product-value">$34</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-tea-eau-de-parfum-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12906_600x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12906_600x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE TEA EAU DE PARFUM (BOXLESS)</p>
										<p class="product-value">$53</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-tea-body-milk-boxless" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12907_600x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12907_600x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE TEA BODY MILK (BOXLESS)</p>
										<p class="product-value">$48</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-tea-aroma-oil-boxless" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12908_600x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12908_600x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE TEA AROMA OIL (BOXLESS)</p>
										<p class="product-value">$34</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-tea-clay-hand-soap-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12909_600x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12909_600x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE TEA CLAY HAND SOAP (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-tea-hand-serum-boxless" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12910_600x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12910_600x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name"><span style="word-break:break-all;">【PREVIOUS
												CONTAINER】WHITE TEA HAND SERUM (BOXLESS)</span></p>
										<p class="product-value">$31</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-tea-hair-oil-boxless" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12911_600x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12911_600x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE TEA HAIR OIL (BOXLESS)</p>
										<p class="product-value">$41</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/copy-of-white-tea-hair-mist-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12912_600x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12912_600x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE TEA HAIR MIST (BOXLESS)</p>
										<p class="product-value">$41</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-tea-fabric-softener-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12913_600x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12913_600x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE TEA FABRIC SOFTENER (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-tea-laundry-detergent-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12915_600x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12915_600x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE TEA LAUNDRY DETERGENT (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-tea-fragrance-diffuser-liquid-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12917_600x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12917_600x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">WHITE TEA FRAGRANCE DIFFUSER LIQUIDE (BOXLESS)</p>
										<p class="product-value">$72</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<button type="button" class="button-more-products"
					onclick="window.open('https://shiro-shiro.us/collections/white-tea', '_blank')"
					target="_blank">WHITE TEA Series Product List ＞</button>
			</div>
		</section>
		<section id="earlgrey" class="section section-fragrance">
			<div class="fragrance-container">
				<div class="ds-f">
					<div class="description-wrapper anime_trigger base_anime" data-anim="is_fade">
						<h2 class="fragrance-name">EARL GREY</h2>
						<h3 class="fragrance-impression">The aroma of ripe, bursting fruits intertwines harmoniously
							with the sublime elegance of Earl Grey. This enchanting scent exudes a captivating charm and
							irresistible sophistication.
						</h3>
						<p class="fragrance-description anime_trigger base_anime sp-only" data-anim="is_fade">This
							fruity Earl Grey fragrance commences with the comforting sweetness of bergamot. Over time,
							the underlying notes of Earl Grey and rose unveil an exquisite impression of elegance.
							Embrace your true self and relish in the evolving essence of this scent.</p>
					</div>

					<div class="fragrance-background anime_trigger base_anime" data-anim="is_fade">
						<picture>
							<source srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/earlgrey_triangle_pc.jpg"
								media="(min-width: 768px)" width="527"><img class="material__image"
								src="https://cdn.shopify.com/s/files/1/2418/1099/files/earlgrey_triangle_sp.jpg" alt=""
								width="318">
						</picture>
					</div>
				</div>
				<p class="fragrance-description anime_trigger base_anime pc-only" data-anim="is_fade">This fruity Earl
					Grey fragrance commences with the comforting sweetness of bergamot. Over time, the underlying notes
					of Earl Grey and rose unveil an exquisite impression of elegance. Embrace your true self and relish
					in the evolving essence of this scent.</p>
			</div>
			<div class="products-container">
				<div class="products-list splide products-splide">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/earl-grey-eau-de-parfum-boxless"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12415-00_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12415-00_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">EARL GREY EAU DE PARFUM (BOXLESS)</p>
										<p class="product-value">$53</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/earl-grey-body-mist-boxless" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12873_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12873_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">EARL GREY BODY MIST (BOXLESS)</p>
										<p class="product-value">$34</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/earl-grey-hand-serum"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12739_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12739_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name"><span style="word-break:break-all;">【PREVIOUS
												CONTAINER】EARL GREY HAND SERUM (BOXLESS)</span></p>
										<p class="product-value">$31</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/earl-grey-clay-hand-soap"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12740_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12740_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">EARL GREY CLAY HAND SOAP (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/earl-grey-hair-oil"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12741_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12741_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">EARL GREY HAIR OIL (BOXLESS)</p>
										<p class="product-value">$41</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/earl-grey-fabric-softener"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12742_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12742_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">EARL GREY FABRIC SOFTENER (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/earl-grey-laundry-detergent" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12743_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12743_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">EARL GREY LAUNDRY DETERGENT (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/earl-grey-fragrance-diffuser-liquid"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12744_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12744_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">EARL GREY FRAGRANCEDIFFUSER LIQUID (BOXLESS)</p>
										<p class="product-value">$72</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<button type="button" class="button-more-products"
					onclick="window.open('https://shiro-shiro.us/collections/earl-grey', '_blank')" target="_blank">EARL
					GREY Series Product List ＞</button>
			</div>
		</section>
		<section id="kinmokusei" class="section section-fragrance">
			<div class="fragrance-container">
				<div class="ds-f">
					<div class="description-wrapper anime_trigger base_anime" data-anim="is_fade">
						<h2 class="fragrance-name">KINMOKUSEI</h2>
						<h3 class="fragrance-impression">The scent possesses an exotic yet nostalgic charm that entices
							and intrigues, causing people to instinctively glance back.
						</h3>
						<p class="fragrance-description anime_trigger base_anime sp-only" data-anim="is_fade">The
							journey begins with the invigorating sweetness of bergamot, leading to the gentle and
							tranquil aroma of Kinmokusei (fragrant olive), evoking a sense of nostalgia. Enveloped in an
							ambiance of exotic and sentimental scents, cherish this special day for yourself.</p>
					</div>

					<div class="fragrance-background anime_trigger base_anime" data-anim="is_fade">
						<picture>
							<source
								srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/kinmokusei_triangle_pc.jpg?"
								media="(min-width: 768px)" width="527"><img class="material__image"
								src="https://cdn.shopify.com/s/files/1/2418/1099/files/kinmokusei_triangle_sp.jpg"
								alt="" width="318">
						</picture>
					</div>
				</div>
				<p class="fragrance-description anime_trigger base_anime pc-only" data-anim="is_fade">The journey begins
					with the invigorating sweetness of bergamot, leading to the gentle and tranquil aroma of Kinmokusei
					(fragrant olive), evoking a sense of nostalgia. Enveloped in an ambiance of exotic and sentimental
					scents, cherish this special day for yourself.</p>
			</div>
			<div class="products-container">
				<div class="products-list splide splide products-splide">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/kinmokusei-eau-de-parfum"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/products/KINMOKUSEI_eaudeparfum_1000x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/products/KINMOKUSEI_eaudeparfum_1000x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">KINMOKUSEI EAU DE PARFUM (BOXLESS)</p>
										<p class="product-value">$53</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/kinmokusei-body-mist"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12636_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12636_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">KINMOKUSEI BODY MIST (BOXLESS)</p>
										<p class="product-value">$34</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/kinmokusei-hand-serum"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12745_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12745_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name"><span style="word-break:break-all;">【PREVIOUS
												CONTAINER】KINMOKUSEI HAND SERUM(BOXLESS)</span></p>
										<p class="product-value">$31</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/kinmokusei-clay-hand-soap"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12746_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12746_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">KINMOKUSEI CLAY HAND SOAP (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/products/kinmokusei-hair-mist"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12747_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12747_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">KINMOKUSEI HAIR MIST (BOXLESS)</p>
										<p class="product-value">$41</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/kinmokusei-fabric-softener" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12748_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12748_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">KINMOKUSEI FABRIC SOFTENER (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/kinmokusei-laundry-detergent" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12749_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12749_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">KINMOKUSEI LAUNDRY DETERGENT (BOXLESS)</p>
										<p class="product-value">$32</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/kinmokusei-fragrance-diffuser-liquid"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12750_900x.jpg"
											data-src="https://cdn.shopify.com/s/files/1/2418/1099/files/12750_900x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="product-name">KINMOKUSEI FRAGRANCEDIFFUSER LIQUID (BOXLESS)</p>
										<p class="product-value">$72</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
				<button type="button" class="button-more-products"
					onclick="window.open('https://shiro-shiro.us/collections/kinmokusei', '_blank')"
					target="_blank">KINMOKUSEI Series Product List ＞</button>
			</div>
		</section>
		<section class="section section-products">
			<div class="section-header">
				<div class="section-title-en">Search by Product</div>
				<h2 class="section-title-jp">
					<picture class="lozad" style="display: block; min-height: 1rem" data-alt="">
						<source media="(max-width: 768px)"
							srcset="/client_info/SHIRO/view/userweb/ext/fragrance/assets/images/products/products_title_sp.svg">
						<source media="(min-width: 769px)"
							srcset="/client_info/SHIRO/view/userweb/ext/fragrance/assets/images/products/products_title.svg">
					</picture>
				</h2>
			</div>
			<div class="products-container">
				<div class="products-list-header">
					<h3 class="products-category">FRAGRANCE</h3>
					<a class="products-more" href="https://shiro-shiro.us/collections/fragrance-five-fragrances"
						target="_blank">See More Product ＞</a>
				</div>
				<div class="products-list splide products-splide">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/collections/eau-de-parfum-five-fragrances"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/files/12702_dc262bbb-50f7-4cd7-a85c-ce38cd1a9b90_700x.jpg"
											data-src="hhttps://shiro-shiro.us/cdn/shop/files/12702_dc262bbb-50f7-4cd7-a85c-ce38cd1a9b90_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">EAU DE PARFUM</p>
										<p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY
											/<br>KINMOKUSEI </p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/collections/body-cologne"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12701_700x_50932547-93eb-4eae-be0a-b2fe5089c611_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12701_700x_50932547-93eb-4eae-be0a-b2fe5089c611_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">BODY COLOGNE</p>
										<p class="category-fragrance"> SAVON / WHITE LILY </p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/collections/shiro-fragrance/Solidperfume"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/SOLID.PERFUME_01e131eb-aacf-4509-98ef-3a2e6023de3d_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/SOLID.PERFUME_01e131eb-aacf-4509-98ef-3a2e6023de3d_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">SOLID PERFUME</p>
										<p class="category-fragrance"> WHITE LILY </p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/collections/body-mist-five-fragrances" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad" src="https://shiro-shiro.us/cdn/shop/files/12870_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/files/12870_700x.jpg" alt=""
											loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">BODY MIST</p>
										<p class="category-fragrance">{% comment %} SAVON /{% endcomment %} WHITE LILY /<br>WHITE TEA / EARL GREY
											/<br>KINMOKUSEI </p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="products-container">
				<div class="products-list-header">
					<h3 class="products-category">BODY CARE</h3>
					<a class="products-more" href="https://shiro-shiro.us/collections/body-care-five-fragrances"
						target="_blank">See More Product ＞</a>
				</div>
				<div class="products-list splide products-splide">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/collections/hand-serum-five-fragrances"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12706_700x_dcec6fa0-c8a2-4339-bd29-c7c29579572a_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12706_700x_dcec6fa0-c8a2-4339-bd29-c7c29579572a_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">HAND SERUM</p>
										<p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY
											/<br>KINMOKUSEI </p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/collections/clay-hand-soap"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12707_700x_ec6fd4a6-b99f-4106-bd70-2d5cd53dd2a1_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12707_700x_ec6fd4a6-b99f-4106-bd70-2d5cd53dd2a1_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">CLAY HAND SOAP</p>
										<p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY
											/<br>KINMOKUSEI </p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/collections/body-milk-1"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12704_700x_334915f1-f916-44a9-9d64-b0ff5833223d_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12704_700x_334915f1-f916-44a9-9d64-b0ff5833223d_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">BODY MILK</p>
										<p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA </p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/collections/body-oil"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12705_700x_31fccab8-719c-4f18-b8c0-6846cd96d6a0_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12705_700x_31fccab8-719c-4f18-b8c0-6846cd96d6a0_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">BODY OIL</p>
										<p class="category-fragrance"> SAVON / WHITE LILY </p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/collections/bath-oil"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12710_700x_755cbdaf-70c3-46b0-ad36-f4bfd37ac4e9_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12710_700x_755cbdaf-70c3-46b0-ad36-f4bfd37ac4e9_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">BATH OIL</p>
										<p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA </p>
									</div>
								</a>
							</li>
							{% comment %}<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/collections/body-soap"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12717_700x_6a88e4f3-4e6f-4c46-9024-efc4e6c0de34_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12717_700x_6a88e4f3-4e6f-4c46-9024-efc4e6c0de34_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">BODY SOAP</p>
										<p class="category-fragrance"> SAVON </p>
									</div>
								</a>
							</li>{% endcomment %}
						</ul>
					</div>
				</div>
			</div>
			<div class="products-container">
				<div class="products-list-header">
					<h3 class="products-category">HAIR CARE</h3>
					<a class="products-more" href="https://shiro-shiro.us/collections/hair-care-five-fragrances"
						target="_blank">See More Product ＞</a>
				</div>
				<div class="products-list splide products-splide">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/collections/hair-oil"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12709_700x_eb7d5346-0e81-4e29-9103-048d8edcbe4b_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12709_700x_eb7d5346-0e81-4e29-9103-048d8edcbe4b_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">HAIR OIL</p>
										<p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY
										</p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/collections/hair-mist"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12708_700x_1f24b55f-e3b8-48cc-882c-1244780f0ad3_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12708_700x_1f24b55f-e3b8-48cc-882c-1244780f0ad3_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">HAIR MIST</p>
										<p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / KINMOKUSEI
										</p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="products-container">
				<div class="products-list-header">
					<h3 class="products-category">HOME</h3>
					<a class="products-more" href="https://shiro-shiro.us/collections/home-care-five-fragrances"
						target="_blank">See More Product ＞</a>
				</div>
				<div class="products-list splide products-splide">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/collections/fragrance-diffuser-liquid-five-fragrances"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad" src="https://shiro-shiro.us/cdn/shop/files/12716_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/files/12716_700x.jpg" alt=""
											loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">FRAGRANCE DIFFUSER LIQUID</p>
										<p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY
											/<br>KINMOKUSEI </p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/collections/laundry-detergent"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12711_700x_22a471eb-2d70-4563-9611-c6e3ee837a56_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12711_700x_22a471eb-2d70-4563-9611-c6e3ee837a56_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">LAUNDRY DETERGENT</p>
										<p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY
											/<br>KINMOKUSEI </p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/collections/fabric-softener"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12713_700x_e43deb4c-9e85-4a26-8da7-9252b9ea947a_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12713_700x_e43deb4c-9e85-4a26-8da7-9252b9ea947a_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">FABRIC SOFTENER</p>
										<p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY
											/<br>KINMOKUSEI </p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.us/collections/aroma-oil"
									target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://shiro-shiro.us/cdn/shop/products/12715_700x_1f6ac253-39ee-4504-a2b6-10e8e8cb54d3_700x.jpg"
											data-src="https://shiro-shiro.us/cdn/shop/products/12715_700x_1f6ac253-39ee-4504-a2b6-10e8e8cb54d3_700x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">AROMA OIL</p>
										<p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA </p>
									</div>
								</a>
							</li>
							<li class="splide__slide">
								<a class="product-item"
									href="https://shiro-shiro.us/products/white-tea-bathsalt-boxless" target="_blank">
									<div class="product-thumbnail">
										<img class="lozad"
											src="https://cdn.shopify.com/s/files/1/2418/1099/files/12904_600x.jpg"
											data-src=https://cdn.shopify.com/s/files/1/2418/1099/files/12904_600x.jpg"
											alt="" loading="lazy">
									</div>
									<div class="product-info">
										<p class="category-name">WHITE TEA BATH SALT (BOXLESS)</p>
										<p class="category-fragrance"> WHITE TEA </p>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>