<div id="About">
	{% comment %}<section class="Section" id="section-1526942365749" data-section-id="1526942365749" data-section-type="background-video" data-section-settings="{
	&quot;videoType&quot;: &quot;youtube&quot;,
	&quot;videoId&quot;: &quot;ZpWiheFo4ag&quot;,
	&quot;requestHost&quot;: &quot;prestige-theme-couture.myshopify.com&quot;
}">
	<div class="ImageHero ImageHero--large">
		<iframe class="ImageHero__VideoHolder" frameborder="0" allowfullscreen="1" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" width="640" height="360" src="https://www.youtube.com/embed/Q65vYgHDz_Y?showinfo=0&amp;controls=0&amp;fs=0&amp;rel=0&amp;height=100%25&amp;width=100%25&amp;iv_load_policy=3&amp;html5=1&amp;loop=1&amp;playsinline=1&amp;modestbranding=1&amp;disablekb=1&amp;origin=https%3A%2F%2Fprestige-theme-couture.myshopify.com&amp;widget_referrer=https%3A%2F%2Fthemes.shopify.com%2Fthemes%2Fprestige%2Fstyles%2Fcouture%2Fpreview&amp;enablejsapi=1&amp;widgetid=1" id="widget2"></iframe>
	</div>
</section>{% endcomment %}
	<!-- <section class="Section" id="section-1572941768263">
		<div class="Container">
			<div class="FlexboxIeFix"><div class="ImageHero ImageHero--small" style="background: url({{ settings.about_us_video_image }})">
					<div class="ImageHero__ImageWrapper">
						<div class="ImageHero__Image Image--zoomOut Image--lazyLoaded" data-optimumx="1.4" data-expand="-150" style="background-image: url({{ settings.about_us_video_image | img_url: 'master' }});">
						</div>

						<noscript>
							<div class="ImageHero__Image" style="background-image: url(//cdn.shopify.com/s/files/1/0314/8752/4908/files/2019-11-05_11.53.02_1500x_4a6dada9-5a0e-4241-b9c2-5c86ac71166f.png?v=1584933361)"></div>
						</noscript></div>

					<div class="ImageHero__ContentOverlay">
						<header class="SectionHeader"><div class="SectionHeader__IconHolder">
								<button type="button" class="Video__PlayButton" data-action="open-modal" aria-label="Play video" aria-controls="modal-1572941768263"><svg class="Icon Icon--play" role="presentation" viewBox="0 0 24 24">
					<path d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0zm-2 15.5V9l4.5 3.25L10 15.5z" fill="currentColor"></path>
				</svg></button>
							</div>
						</header>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div id="modal-1572941768263" class="Modal Modal--fullScreen Modal--videoContent" aria-hidden="true" role="dialog" data-scrollable="">
		<div class="Modal__Content">
			<div class="Container Container--narrow">
				<div class="VideoWrapper">

						<iframe class="Image--lazyLoad" data-src="{{ settings.about_us_video_url }}" frameborder="0" allowfullscreen=""></iframe>

				</div>
			</div>
		</div>

		<button class="Modal__Close Modal__Close--outside" data-animate-bottom="" data-action="close-modal"><svg class="Icon Icon--close" role="presentation" viewBox="0 0 16 14">
				<path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
			</svg></button>
	</div> -->

	<section class="section-text">
		<div class="Container">
			<div class="title page-about__toptitle">ABOUT US</div>
			<div class="l-kv">
				<picture>
					<source srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/about-shiro_kv_fea420c7-8811-4abd-ab4f-c99928df0955.jpg?v=1711529322" media="(min-width: 768px)" width="852" height="426"><img class="l-kv__img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/about-shiro_kv-sp_23865809-28be-4810-ad3f-8b2997896d07.jpg?v=1711529345" alt="ABOUT SHIRO" width="750" height="750">
				</picture>
			</div>
			</div>
	</section>
	<section class="section-text">
		<div class="Container">
			<dl class="page-about__textList">
				<dt class="page-about__textList--title">OUR ROLES</dt>
				<dd class="page-about__textList--desc">We bring happiness to the world by facing our creativity and honesty with our creations.</dd>
				<dt class="page-about__textList--title">OUR VISION</dt>
				<dd class="page-about__textList--desc">All of our work is the simple but certain philosophy; “to deliver the good to as much people as possible”.</dd>
				<dt class="page-about__textList--title">OUR VALUES</dt>
				<dd class="page-about__textList--desc">We vow that we are committed in facing the rich blessings of the earth when creating only what we really want to use ourselves. We sincerely do what is right for the people, earth, and society.</dd>
			</dl>
		</div>
	</section>
	<section class="section-text">
		<div class="Container">
			<div class="page-about__box--white">
				<ul class="page-about__valueList">
					<li class="page-about__valueItem">
						<p class="page-about__valueItem--title">HONESTY</p>
						<p class="page-about__valueItem--desc">We create products that we want to use ourselves every day.</p>
					</li>
					<li class="page-about__valueItem">
						<p class="page-about__valueItem--title">ORIGINALITY</p>
						<p class="page-about__valueItem--desc">We seek the finest natural sources and create our products with ingredients we find ourselves.</p>
					</li>
					<li class="page-about__valueItem">
						<p class="page-about__valueItem--title">GOOD QUALITY</p>
						<p class="page-about__valueItem--desc">We research ingredients in our own laboratory and investigate how to maximize the power of natural ingredients.</p>
					</li>
					<li class="page-about__valueItem">
						<p class="page-about__valueItem--title">SAFETY</p>
						<p class="page-about__valueItem--desc">We partner with farmers who produce the best quality of sources sustainably.</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<section class="section-text">
		<div class="Container">
			<div class="title">OUR JOURNEY</div>
			<div class="paragraph">It all began in Hokkaido, Japan, where land is fertile and natural resources are abundant.<br /><br />We started in 1989 as a souvenir shop, harvesting herbs and making gifts using local resources and ingredients.<br />In 1998, with our ample knowledge of local ingredients, we began distributing ingredients and resources to a number of household name beauty brands. We're proud to have been involved in everything from R&D to manufacturing of products for more than 130 brands. During that period, we saw tremendous business growth, but, at the same time, we felt pressure to reduce costs from the brand side. That led us to reflect on our brand and what we wanted to achieve. We could reduce costs by using more chemical ingredients, but that went entirely against our beliefs.<br /><br />We create products that we want to use ourselves.
			In 2009, we founded our own brand to take full ownership of our products and sell them directly to consumers.<br /><br />For the past 20 years, we have created products inspired by and created with the maximum goodness of nature — from sourcing ingredients to research and development. Today, we are committed to doing the same and to creating and providing even better products to the world.</div>
		</div>
	</section>
	<section class="section-text">
		<div class="Container">
			<div class="page-about__bnrBox">
				<a href="https://shiro-shiro.us/pages/ethical">
					<img class="bnrBox__img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/ethical_banner_202312.jpg" alt="SHIRO'S ETHICAL EFFORTS" width="740" height="234">
				</a>
			</div>
		</div>
	</section>
</div>