<div class="l-wrapper" id="target">
    <h1 class="l-kv">
      <picture>
        <source srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/LP-top-pc.jpg?v=1713840874" media="(min-width: 768px)" width="100%"
          height="*">
        <img class="l-kv__img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/LP-top-sp.jpg?v=1713840874"
          alt="SHIRO FRAGRANCE and SHIRO PERFUME Enjoy and adore your fragrances to the fullest" loading="eager" width="100%" height="*">
      </picture>
    </h1>
    <div class="l-main">
      <div class="intro-box">
        <div class="intro">
          <p class="intro__text">
            For those seeking to enhance their fragrance experience, the SHIRO team offers tips and ideas to help you enjoy every scent to the fullest.
          </p>
        </div>
      </div>
      <!--香りのレイヤード-->
      <section id="layered" class="l-content">
        <div class="title__box">
          <h2 class="title">Enhance your signature scent<br>by layering fragrances</h2>
        </div>
        <div class="l-content__inner">
          <p class="disc disc--layered">
            Layer your favorite fragrance with others to create a different atmosphere.<br>
            By combining scents of SHIRO FRAGRANCE with SHIRO PERFUME, you can enjoy your personalized unique scent with even more depth.
          </p>
          <div class="menu menu--layered">
            <!-- <ul class="menuList menuList--layered">
              <li class="menuList__item"><a class="menuList__link arrow arrow-bottom scroll-link" href="#savon">SAVON</a></li>
              <li class="menuList__item"><a class="menuList__link arrow arrow-bottom scroll-link" href="#white-lily">WHITE LILY</a></li>
              <li class="menuList__item"><a class="menuList__link arrow arrow-bottom scroll-link" href="#white-tea">WHITE TEA</a></li>
              <li class="menuList__item"><a class="menuList__link arrow arrow-bottom scroll-link" href="#earl-grey">EARL GREY</a></li>
              <li class="menuList__item"><a class="menuList__link arrow arrow-bottom scroll-link" href="#kinmokusei">KINMOKUSEI</a></li>
            </ul> -->
          </div>
          <!--savon-->
          <section id="savon" class="layered__container">
            <h3 class="layered-title layered-title--main">SAVON<span class="kakeru"></span><br class="sp">POMEGRANATE</h3>
            <div class="layered__main-box">
              <div class="text-area">
                <div class="img-area spOnly">
                  <img src="https://cdn.shopify.com/s/files/1/2418/1099/files/layered_savon.jpg?v=1713840875" alt="SAVON ✕ POMEGRANATE" loading="lazy">
                </div>
                <p class="layered-disc">The gentle musk of SAVON combines with the sensual berry scent of POMEGRANATE to give SAVON a sophisticated allure.</p>
                <div class="layered-item">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/savon-eau-de-parfum-22-boxless">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/savon_eaudeparfum_110.jpg?v=1713840874"></a>
                  <div>
                    <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/savon-eau-de-parfum-22-boxless"><span class="item--link">SAVON EAU DE PARFUM</span><br><span class="item--price">40mL $53</span></p></a>
                    <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/eau-de-parfum-mini?variant=40372794654854"><span class="item--link">EAU DE PARFUM MINI</span><br><span class="item--price">10mL $21</span></p></a>
                  </div>
                </div>
                <div class="layered-item">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-pomegranate">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/POMEGRANATE_12241_960x960_c59c2e31-f7e2-41dc-a26a-2fcdd2df483e.webp?v=1713946474"></a>
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-pomegranate"><span class="item--link">POMEGRANATE EAU DE PARFUM</span></a><br><a href="https://shiro-shiro.us/products/perfume-pomegranate-50ml-boxless"><span class="item--price underline">50mL</span><span class="item--price underline"> $100</a></span><span class="slash"> / </span><a href="https://shiro-shiro.us/products/perfume-pomegranate"><span class="item--price underline">100mL</span><span class="item--price underline"> $155</span></a></p>
                </div>
              </div>
              <div class="img-area pcOnly">
                <img src="https://cdn.shopify.com/s/files/1/2418/1099/files/layered_savon.jpg?v=1713840875" alt="SAVON ✕ POMEGRANATE" loading="lazy">
              </div>
            </div>
            <div class="layered__sub-box">
                <h3 class="layered-title layered-title-a">SAVON<span class="kakeru-mini"></span>FREESIA MIST</h3>
                <p class="layered-disc-a">The fresh citrus of SAVON is overlaid with the fresh apple and other fruity notes of FREESIA MIST, creating a familiar-like and pretty fragrance.</p>
                <div class="layered-item layered-item-a">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/freesia-mist-eau-de-parfum-boxless">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/FREESIA-MIST-100_900x_f3bc8987-8967-4392-b620-2d18a20d0654.webp?v=1713928703"></a>
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/freesia-mist-eau-de-parfum-boxless"><span class="item--link">FREESIA MIST EAU DE PARFUM</span><br><span class="item--price">50mL $100 / 100mL $155</span></p></a>
                </div>
                <h3 class="layered-title layered-title-b">SAVON<span class="kakeru-mini"></span>INCENSE CLEAR</h3>
                <p class="layered-disc-b">The refreshing scent of SAVON combined with a calming incense creates a deep, restful fragrance.</p>
                <div class="layered-item layered-item-b">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-incense-clear">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/incense_clear_2b8d306b-b599-440a-82ec-b4208523df62.jpg?v=1713840874"></a>
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-incense-clear"><span class="item--link">INCENSE CLEAR EAU DE PARFUM</span><br><span class="item--price">100mL $155</span></p></a>
                </div>
            </div>
          </section>
          <!--white lily-->
          <section id="white-lily" class="layered__container">
            <h3 class="layered-title layered-title--main">WHITE LILY<span class="kakeru"></span><br class="sp">SPICE OF LIFE</h3>
            <div class="layered__main-box">
              <div class="text-area">
                <div class="img-area spOnly">
                  <img src="https://cdn.shopify.com/s/files/1/1440/3462/files/layered_whitelily.jpg?v=1713763064" alt="WHITE LILY ✕ SPICE OF LIFE EAU DE PARFUM" loading="lazy">
                </div>
                <p class="layered-disc">The elegant WHITE LILY is combined with the stimulating pepper and ginger scents of SPICE OF LIFE to create an elegant yet glamorous and intelligent impression.</p>
                <div class="layered-item">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/white-lily-eau-de-parfum-22-boxless">
                    <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/white_lily_f9ea75e6-2b9d-482c-8459-7ad49e3fd189.jpg?v=1713840874"></a>
                    <div>
                      <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/white-lily-eau-de-parfum-22-boxless"><span class="item--link">WHITE LILY EAU DE PARFUM</span><br><span class="item--price">40mL $53</span></a></p>
                      <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/eau-de-parfum-mini?variant=40372794687622"><span class="item--link">EAU DE PARFUM MINI</span><br><span class="item--price">10mL $21</span></p></a>
                    </div>
                </div>
                <div class="layered-item">
                    <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-spice-of-life-50ml-boxless">
                    <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/12663_SPICE_OF_LIFE_1000x1000_4a525842-8e8c-4ae7-a548-98d12f87d58f.webp?v=1713928703"></a>
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-spice-of-life-50ml-boxless"><span class="item--link">SPICE OF LIFE EAU DE PARFUM</span><br><span class="item--price">50mL $100 / 100mL $155</span></a></p>
                </div>
              </div>
              <div class="img-area pcOnly">
                <img src="https://cdn.shopify.com/s/files/1/1440/3462/files/layered_whitelily.jpg?v=1713763064" alt="WHITE LILY ✕ SPICE OF LIFE EAU DE PARFUM" loading="lazy">
              </div>
            </div>
            <div class="layered__sub-box">
                <h3 class="layered-title layered-title-a">WHITE LILY<span class="kakeru-mini"></span>FREESIA MIST</h3>
                <p class="layered-disc-a">The elegant floral of WHITE LILY is overlaid with the delightful floral bouquet of FREESIA MIST, making you feel as if you are surrounded by a bunch of flowers.</p>
                <div class="layered-item layered-item-a">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/FREESIA-MIST-100_900x_f3bc8987-8967-4392-b620-2d18a20d0654.webp?v=1713928703">
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/freesia-mist-eau-de-parfum-boxless"><span class="item--link">FREESIA MIST EAU DE PARFUM</span><br><span class="item--price">50mL $100 / 100mL $155</span></a></p>
                </div>
                <h3 class="layered-title layered-title-b">WHITE LILY<span class="kakeru-mini"></span>INTRODUCTION</h3>
                <p class="layered-disc-b">The floral combination of the elegant WHITE LILY and warm INTRODUCTION creates a fragrance that expresses floral elegance to the fullest.</p>
                <div class="layered-item layered-item-b">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/INTRODUCTION_960x960_16d160cd-0f9a-49da-90e3-8d1b79f1e8cf.webp?v=1713946473">
                  <p  class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/pefume-introduction"><span class="item--link">INTRODUCTION EAU DE PARFUM</span></a><br><a href="https://shiro-shiro.us/products/introduction-eau-de-parfum-boxless?variant=40221702553734"><span class="item--price underline">50mL</span><span class="item--price underline"> $100</span></a><span class="slash"> / </span><a href="https://shiro-shiro.us/products/pefume-introduction"><span class="item--price underline">100mL</span><span class="item--price underline"> $155</span></a></p>
                </div>
                </div>
          </section>
          <!--white tea-->
          <section id="white-tea" class="layered__container">
            <h3 class="layered-title layered-title--main">WHITE TEA<span class="kakeru"></span><br class="sp">FREESIA MIST</h3>
            <div class="layered__main-box">
              <div class="text-area">
                <div class="img-area spOnly">
                  <img src="https://cdn.shopify.com/s/files/1/2418/1099/files/layered_whitetea.jpg?v=1713840875" alt="WHITE TEA ✕ FREESIA MIST" loading="lazy">
                </div>
                <p class="layered-disc">Fresh citrusy WHITE TEA is layered with the gorgeous fruity of FREESIA MIST to create a vibrant and charming fragrance.</p>
                <div class="layered-item">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/white-tea-eau-de-parfum-boxless">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/white_tea_fcd85c1c-b87a-4e2b-8d07-685b078e78eb.jpg?v=1713840874"></a>
                  <div>
                    <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/white-tea-eau-de-parfum-boxless"><span class="item--link">WHITE TEA EAU DE PARFUM</span><br><span class="item--price">40mL $53</span></a></p>
                    <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/eau-de-parfum-mini?variant=40372794720390"><span class="item--link">EAU DE PARFUM MINI</span><br><span class="item--price">10mL $21</span></p></a>
                  </div>
                </div>
                <div class="layered-item">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/freesia-mist-eau-de-parfum-boxless">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/FREESIA-MIST-100_900x_f3bc8987-8967-4392-b620-2d18a20d0654.webp?v=1713928703"></a>
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/freesia-mist-eau-de-parfum-boxless"><span class="item--link">FREESIA MIST EAU DE PARFUM</span><br><span class="item--price">50mL $100 / 100mL $155</span></a></p>
                </div>
              </div>
              <div class="img-area pcOnly">
                <img src="https://cdn.shopify.com/s/files/1/2418/1099/files/layered_whitetea.jpg?v=1713840875" alt="WHITE TEA ✕ FREESIA MIST" loading="lazy">
              </div>
            </div>
            <div class="layered__sub-box">
                <h3 class="layered-title layered-title-a">WHITE TEA<span class="kakeru-mini"></span>TAKE IT EASY</h3>
                <p class="layered-disc-a">The citrus of WHITE TEA combines with the deep woody notes of TAKE IT EASY to create a more soothing scent.</p>
                <div class="layered-item layered-item-a">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-take-it-easy">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/take_it_easy_b6d1e9e7-0e82-43e9-9245-00bd43049830.jpg?v=1713840874"></a>
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-take-it-easy"><span class="item--link">TAKE IT EASY EAU DE PARFUM</span><br><span class="item--price">100mL $155</span></a></p>
                </div>
                <h3 class="layered-title layered-title-b">WHITE TEA<span class="kakeru-mini"></span>PARISIAN SHIRT</h3>
                <p class="layered-disc-b">The freshness of WHITE TEA and the seaside-inspired scent of PARISIAN SHIRT combine to create a casual yet elegant mature atmosphere.</p>
                <div class="layered-item layered-item-b">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-parisian-shirt">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/PARISIAN_SHIRT_12249_960x960_2111feb7-39c6-4fdc-b957-79d9f2e976b0.webp?v=1713946473"></a>
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-parisian-shirt"><span class="item--link">PARISIAN SHIRT EAU DE PARFUM</span></a><br><a href="https://shiro-shiro.us/products/perfume-parisian-shirt-50ml-boxless"><span class="item--price underline">50mL</span><span class="item--price underline"> $100</span></a><span class="slash"> / </span><a href="https://shiro-shiro.us/products/perfume-parisian-shirt"><span class="item--price underline">100mL</span><span class="item--price underline"> $155</span></a></p>
                </div>
                </div>
          </section>
          <!--earl grey-->
          <section id="earl-grey" class="layered__container">
            <h3 class="layered-title layered-title--main">EARL GREY<span class="kakeru"></span><br class="sp">MARVELLOUS STAR</h3>
            <div class="layered__main-box">
              <div class="text-area">
                <div class="img-area spOnly">
                  <img src="https://cdn.shopify.com/s/files/1/2418/1099/files/layered_earlgrey.jpg?v=1713840875" alt="EARL GREY ✕ MARVELLOUS STAR" loading="lazy">
                </div>
                <p class="layered-disc">The mellow sweetness of MARVELLOUS STAR envelopes the gorgeous aroma of EARL GREY, giving it a warm fragrance.</p>
                <div class="layered-item">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/earl-grey-eau-de-parfum-boxless">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/earl_grey.jpg?v=1713840874"></a>
                  <div>
                    <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/earl-grey-eau-de-parfum-boxless"><span class="item--link">EARL GREY EAU DE PARFUM</span><br><span class="item--price">40mL $53</span></a></p>
                    <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/eau-de-parfum-mini?variant=40385822326918"><span class="item--link">EAU DE PARFUM MINI</span><br><span class="item--price">10mL $21</span></p></a>
                  </div>
                </div>
                <div class="layered-item">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-marvellous-star">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/marvellous_star_9c161cbb-bf1f-4296-bc8f-26a1c026a361.jpg?v=1713840874"></a>
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-marvellous-star"><span class="item--link">MARVELLOUS STAR EAU DE PARFUM</span><br><span class="item--price">100mL $155</span></a></p>
                </div>
              </div>
              <div class="img-area pcOnly">
                <img src="https://cdn.shopify.com/s/files/1/2418/1099/files/layered_earlgrey.jpg?v=1713840875" alt="EARL GREY ✕ MARVELLOUS STAR" loading="lazy">
              </div>
            </div>
            <div class="layered__sub-box">
                <h3 class="layered-title layered-title-a">EARL GREY<span class="kakeru-mini"></span>FREESIA MIST</h3>
                <p class="layered-disc-a">The depth and fruity notes of EARL GREY and the fruitiness of FREESIA MIST combine to create a fresh and charming fragrance.</p>
                <div class="layered-item layered-item-a">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/freesia-mist-eau-de-parfum-boxless">
                    <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/FREESIA-MIST-100_900x_f3bc8987-8967-4392-b620-2d18a20d0654.webp?v=1713928703"></a>
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/freesia-mist-eau-de-parfum-boxless"><span class="item--link">FREESIA MIST EAU DE PARFUM</span><br><span class="item--price">50mL $100 / 100mL $155</span></a></p>
                </div>
                <h3 class="layered-title layered-title-b">EARL GREY<span class="kakeru-mini"></span>PARISIENNE FAVOURITE</h3>
                <p class="layered-disc-b">The elegant floral sweetness of PARISIENNE FAVOURITE complements the juicy fruitiness of EARL GREY to create a heart-warming and gorgeous fragrance.</p>
                <div class="layered-item layered-item-b">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-parisienne-favorite">
                    <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/PARISIENNE_FAVOURITE_12242_960x960_3a9dc278-428c-43d8-bdd8-fb06c77d331b.webp?v=1713946473"></a>
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-parisienne-favorite"><span class="item--link">PARISIENNE FAVOURITE EAU DE PARFUM</span></a><br><a href="https://shiro-shiro.us/products/perfume-parisienne-favourite-50ml-boxless"><span class="item--price underline">50mL</span><span class="item--price underline"> $100</span></a><span class="slash"> / </span><a href="https://shiro-shiro.us/products/perfume-parisienne-favorite"><span class="item--price underline">100mL</span><span class="item--price underline"> $155</span></a></p>
                </div>
                </div>
          </section>
          <!--kinmokusei-->
          <section id="kinmokusei" class="layered__container">
            <h3 class="layered-title layered-title--main">KINMOKUSEI<span class="kakeru"></span><br class="sp">BON WOOD</h3>
            <div class="layered__main-box">
              <div class="text-area">
                <div class="img-area spOnly">
                  <img src="https://cdn.shopify.com/s/files/1/2418/1099/files/layered_kinmokusei.jpg?v=1713840875" alt="KINMOKUSEI ✕ BON WOOD" loading="lazy">
                </div>
                <p class="layered-disc">Blend the deep, calming woody notes of BON WOOD with the sweetness of KINMOKUSEI to create a floral scent with depth.</p>
                <div class="layered-item">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/kinmokusei-eau-de-parfum">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/kinmokusei_cbe6b5c4-78e0-4004-b962-1e07cf68c64a.jpg?v=1713840874"></a>
                  <div>
                    <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/kinmokusei-eau-de-parfum"><span class="item--link">KINMOKUSEI EAU DE PARFUM</span><br><span class="item--price">40mL $53</span></a></p>
                    <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/eau-de-parfum-mini?variant=40385822359686"><span class="item--link">EAU DE PARFUM MINI</span><br><span class="item--price">10mL $21</span></p></a>
                  </div>
                </div>  
                <div class="layered-item">  
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-bon-wood">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/BON_WOOD_12246_960x960_3e007d5d-0a3a-4888-b339-9440ca63ae23.webp?v=1713946474"></a>
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-bon-wood"><span class="item--link">BON WOOD EAU DE PARFUM</span></a><br><a href="https://shiro-shiro.us/products/perfume-bon-wood-50ml-boxless"><span class="item--price underline">50mL</span><span class="item--price underline"> $100</span></a><span class="slash"> / </span><a href="https://shiro-shiro.us/products/perfume-bon-wood"><span class="item--price underline">100mL</span><span class="item--price underline"> $155</span></a></p>
                </div>
              </div>
              <div class="img-area pcOnly">
                <img src="https://cdn.shopify.com/s/files/1/2418/1099/files/layered_kinmokusei.jpg?v=1713840875" alt="KINMOKUSEI ✕ BON WOOD" loading="lazy">
              </div>
            </div>
            <div class="layered__sub-box">
                <h3 class="layered-title layered-title-a">KINMOKUSEI<span class="kakeru-mini"></span>SPICES AND TEASE</h3>
                <p class="layered-disc-a">The sharp spiciness of SPICES AND TEASE makes the sweet floral of KINMOKUSEI a much more mature and cooler impression.</p>
                <div class="layered-item layered-item-a">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-spices-and-tease">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/spices_and_tease.jpg?v=1713840874"></a>
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-spices-and-tease"><span class="item--link">SPICES AND TEASE EAU DE PARFUM</span><br><span class="item--price">100mL $155</span></a></p>
                </div>
                <h3 class="layered-title layered-title-b">KINMOKUSEI<span class="kakeru-mini"></span>FREESIA MIST</h3>
                <p class="layered-disc-b">The fruity floral of the fresh FREESIA MIST overlaps with KINMOKUSEI to create a gentle, warm fragrance.</p>
                <div class="layered-item layered-item-b">
                  <a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/freesia-mist-eau-de-parfum-boxless">
                    <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/FREESIA-MIST-100_900x_f3bc8987-8967-4392-b620-2d18a20d0654.webp?v=1713928703"></a>
                  <p class="layered-item-text"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/freesia-mist-eau-de-parfum-boxless"><span class="item--link">FREESIA MIST EAU DE PARFUM</span><br><span class="item--price">50mL $100 / 100mL $155</span></a></p>
                </div>
                </div>
          </section>
        </div>
        <!--innner閉じ-->
      </section>
  
      <section class="line-up__box">
        <div class="line-up__inner">
        <h2 class="line-up__title">LINEUP</h2>
        <div class="line-up__category">
          <h3 class="line-up__heading"><a href="https://shiro-shiro.us/collections/eau-de-perfume"><span class="heading--bg-color">FRAGRANCE</span></a></h3>
          <ul class="line-up__list">
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/savon-eau-de-parfum-22-boxless">SAVON</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/white-lily-eau-de-parfum-22-boxless">WHITE LILY</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/white-tea-eau-de-parfum-boxless">WHITE TEA</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/earl-grey-eau-de-parfum-boxless">EARL GREY</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/kinmokusei-eau-de-parfum">KINMOKUSEI</a></li>
          </ul>
        </div>
        <div class="line-up__category">
          <h3 class="line-up__heading"><a href="https://shiro-shiro.us/collections/eau-de-parfum-shiro-perfume"><span class="heading--bg-color">PERFUME</span></a></h3>
          <ul class="line-up__list">
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/freesia-mist-eau-de-parfum-boxless">FREESIA MIST</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-pomegranate">POMEGRANATE</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-parisienne-favorite">PARISIENNE <br class="sp">FAVOURITE</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-marvellous-star">MARVELLOUS STAR</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-take-it-easy">TAKE IT EASY</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-spice-of-life-50ml-boxless">SPICE OF LIFE</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-bon-wood">BON WOOD</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-spices-and-tease">SPICES AND TEASE</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/pefume-introduction">INTRODUCTION</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-parisian-shirt">PARISIAN SHIRT</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-incense-clear">INCENSE CLEAR</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered" href="https://shiro-shiro.us/products/perfume-smoked-leather-50ml-boxless">SMOKED LEATHER</a></li>
          </ul>
        </div>
        <a class="more__btn ga-shiropaper2_layered"
          href="https://shiro-shiro.us/collections/eau-de-parfum-shiro-fragrance-shiro-perfume">DISCOVER ALL EAU DE PARFUMS</a>
        </div>
      </section>
      <p class="credit"></p>
    </div><!--main閉じ-->
  </div>