<div class="wrapper wrapper--wide">
<section class="sozai-area-two">
  <div class="sozai-inner">
  <p class="title-page"><span class="font-ttL">NATURAL <br class="spOnly">INGREDIENTS</span></p>
  <div class="ingredients">
  <ul class="ingredientsList">
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/sake-kasu" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/sakekasu-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/sakekasu-sp.jpg" class="item__pic"></picture>
  <div class="item__desc">
  <h3 class="desc__titleJa mb-1">SAKE KASU</h3>
  <p class="desc__titleEn lang-en-tt-r">MOISTURIZATION</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/komenuka" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/komenuka-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/komenuka-sp.jpg" class="item__pic"></picture>
    <div class="item__desc textColor--white">
    <h3 class="desc__titleJa mb-1">KOMENUKA</h3>
    <p class="desc__titleEn lang-en-tt-r">MOISTURIZATION</p>
    </div>
    </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/gagome-kombu" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/kombu-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/kombu-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">GAGOME KOMBU</h3>
  <p class="desc__titleEn lang-en-tt-r">HYDRATION</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/tamanu" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/tamanu-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/tamanu-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">TAMANU</h3>
  <p class="desc__titleEn lang-en-tt-r">MOISTURIZATION /<br>SKIN CONDITIONING</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/flaxseed" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/flaxseed-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/flaxseed-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">FLAXSEED</h3>
  <p class="desc__titleEn lang-en-tt-r">SKIN PROTECTION</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/aloe" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/aloe-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/aloe-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">ALOE</h3>
  <p class="desc__titleEn lang-en-tt-r">MOISTURIZATION</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/butterbur" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/butterbur-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/butterbur-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">BUTTERBUR</h3>
  <p class="desc__titleEn lang-en-tt-r">SKIN CONDITIONING</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/calendula" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/crendura-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/crendura-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">CALENDULA</h3>
  <p class="desc__titleEn lang-en-tt-r">SKIN PROTECTION</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/yuzu" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/yuzu-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/yuzu-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">YUZU</h3>
  <p class="desc__titleEn lang-en-tt-r">SKIN CONDITIONING</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/ginger" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/ginger-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/ginger-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">GINGER</h3>
  <p class="desc__titleEn lang-en-tt-r">SKIN CONDITIONING</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/rhubarb" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/rhubarb-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/rhubarb-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">RHUBARB</h3>
  <p class="desc__titleEn lang-en-tt-r">LUSTER & GLOW</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/neem" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/neem-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/neem-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">NEEM</h3>
  <p class="desc__titleEn lang-en-tt-r">AGING CARE</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/olive" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/olive-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/olive-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">OLIVE</h3>
  <p class="desc__titleEn lang-en-tt-r">MOISTURIZATION</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/rugosa-rose" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/rugosarose-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/rugosarose-sp.jpg" class="item__pic"></picture>
  <div class="item__desc">
  <h3 class="desc__titleJa mb-1">RUGOSA ROSE</h3>
  <p class="desc__titleEn lang-en-tt-r">MOISTURIZATION</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/shea-butter" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/sheabutter-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/sheabutter-sp.jpg" class="item__pic"></picture>
  <div class="item__desc">
  <h3 class="desc__titleJa mb-1">SHEA BUTTER</h3>
  <p class="desc__titleEn lang-en-tt-r">MOISTURIZATION</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.us/collections/licorice" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/liquorice-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/2418/1099/files/liquorice-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">LICORICE</h3>
  <p class="desc__titleEn lang-en-tt-r">SKIN CONDITIONING</p>
  </div>
  </a></li>
  </ul>
  </div>
  </div>
  </section>
</div>