<div class="l-wrapper">
				<div class="l-kv">
					<picture>
						<source srcset="https://cdn.shopify.com/s/files/1/2418/1099/files/sakekome-top-pc.jpg" media="(min-width: 768px)" width="750" height="750"><img class="l-kv__img" src="https://cdn.shopify.com/s/files/1/2418/1099/files/sakekome-top-sp.jpg" alt="With Komenuka,more hydration to your skin. Renewal of Sake Kasu Series" width="1920" height="788">
					</picture>
				</div>
				<div class="l-main">
					<div class="l-container">
						<div class="l-inner">
							<div class="l-content">
								<div class="menu">
									<ul class="menuList">
										<li class="menuList__item"><a class="menuList__link" href="#lineup"><span class="menuList__hover">LINEUP</span> <span class="menuList__arrow"></span></a></li>
										<li class="menuList__item"><a class="menuList__link" href="#how-to-use"><span class="menuList__hover">HOW TO USE</span> <span class="menuList__arrow"></span></a></li>
										<li class="menuList__item"><a class="menuList__link" href="#dev-story"><span class="menuList__hover">BEHIND THE STORY</span> <span class="menuList__arrow"></span></a></li>
										<li class="menuList__item"><a class="menuList__link" href="#about-mta"><span class="menuList__hover">INGREDIENTS</span> <span class="menuList__arrow"></span></a></li>
									</ul>
								</div>
								<div class="intro">
									<p class="intro__text">SHIRO's signature skincare line, the "Sake Kasu Series," has been renewed.<br>The series now includes komenuka (rice bran), a byproduct of rice polishing,<br>while maintaining the skin-softening properties of the original products.<br>It has been reborn as the "Sake Kasu & Komenuka Series,"<br>which promotes more moisturized skin.<br>The lineup features "Sake Kasu & Komenuka Lotion,"<br>"Sake Kasu & Komenuka Serum," and a new addition,<br>"Sake Kasu & Komenuka Oil-in Serum."</p>
								</div>
								<div class="desc">
									<h2 class="desc__title">Why did we add <br class="spOnly">komenuka (rice bran) ?</h2>
									<p class="desc__text">We added komenuka (rice bran) to the Sake Kasu Series after being contacted by San-en-an, the manufacturer of the brown rice amazake sold at "SHIRO LIFE" in Japan. They suggested us to utilize the komenuka that is produced during the rice polishing process, which led to the renewal of the Sake Kasu Series.<br>Most of the nutrients in brown rice are contained in komenuka, so we created prototypes to harness its natural power. This led to the creation of the Sake Kasu & Komenuka Series, which combines sake kasu and komenuka in SHIRO's skincare lineup.<br>By using two ingredients from rice, they are returning to their original state.</p>
								</div>
							</div>
							<section class="l-content" id="lineup">
								<h2 class="lineup__title">LINEUP</h2>
								<div class="thumb thumb-swiper swiper spOnly">
									<ul class="thumbList swiper-wrapper">
										<li class="thumbList__item swiper-slide"><img class="thumbList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/menu-sakekasu_komenuka-clear-lotion.jpg" alt="" width="111" height="180">
											<p class="thumbList__text">Lotion</p>
											<div class="thumbList__arrow"></div>
										</li>
										<li class="thumbList__item swiper-slide"><img class="thumbList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/menu-sakekasu_komenuka-clear-serum.jpg" alt="" width="111" height="180">
											<p class="thumbList__text">Serum</p>
											<div class="thumbList__arrow"></div>
										</li>
										<li class="thumbList__item swiper-slide"><img class="thumbList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/menu-sakekasu_komenuka-clear-oil-in-serum.jpg" alt="" width="111" height="180">
											<p class="thumbList__text">Oil-in Serum</p>
											<div class="thumbList__arrow"></div>
										</li>
									</ul>
								</div>
								<div class="product product-swiper swiper">
									<ul class="productList swiper-wrapper">
										<li class="productList__item swiper-slide"><a class="productList__link" href="https://shiro-shiro.us/collections/skin-care/products/sakekasu-komenuka-lotionboxless" aria-label="link to a product page"><img class="productList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/lineup-sakekasu_komenuka-clear-lotion-pc.jpg" alt="" width="240" height="240">
												<p class="productList__name">SAKE KASU & KOMENUKA<br>LOTION</p></a>
											<p class="productList__price"><span>120mL</span> <span>&#36;44</span></p><a class="productList__btn u-btn u-btn--black" href="https://shiro-shiro.us/cart/add?id=40139133452422&quantity=1">ADD TO CART</a>
											<p class="productList__text">SHIRO's best-selling "Sake Kasu Lotion" has been renewed with increased power. We have doubled the ratio of ingredients in this lotion by adding komenuka<sup>*1</sup>. Its light texture help skin to easily absorbs into the skin, keeping it hydrated.</p>
											<div class="review">
												<div class="review__box">
													<div class="review__name">Tokyo Head Office Staff<br>＜Retail Group＞</div>
													<div class="review__text">I have found that the addition of komenuka enhances the gentle scent of rice in the Sake Kasu & Komenuka Series. This skincare line penetrates into the skin and provides deep hydration, leaving it soft and moisturized with repeated use. For best results, we recommend applying it to your face by gently blending it in with your hands.</div>
												</div>
											</div>
										</li>
										<li class="productList__item swiper-slide"><a class="productList__link" href="https://shiro-shiro.us/products/sakekasu-komenuka-serumboxless" aria-label="link to a product page"><img class="productList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/lineup-sakekasu_komenuka-clear-serum-pc.jpg" alt="" width="240" height="240">
												<p class="productList__name">SAKE KASU & KOMENUKA<br>SERUM</p></a>
											<p class="productList__price"><span>60mL</span> <span>&#36;78</span></p><a class="productList__btn u-btn u-btn--black" href="https://shiro-shiro.us/cart/add?id=40139685134470&quantity=1">ADD TO CART</a>
											<p class="productList__text">The Sake Kasu & Komenuka Serum delivers the powerful benefits of sake kasu<sup>*2</sup> and komenuka<sup>*1</sup> directly to the skin. By combining komenuka<sup>*1</sup> with sake kasu<sup>*2</sup>, we have increased the ratio of ingredients to 1.6 times compares to conventional products. The thick texture of the serum provides the skin with a glossy surface, leading to a plump and hydrated skin.</p>
											<div class="review">
												<div class="review__box">
													<div class="review__name">Tokyo Head Office Staff<br>＜Retail Group＞</div>
													<div class="review__text">I have found that the extract in the Sake Kasu & Komenuka Serum is thick and provides a sensation of full penetration of nutrients into the skin with just two pumps. It not only leads to clearer skin but also leaves it feeling soft, which is addictive.</div>
												</div>
											</div>
										</li>
										<li class="productList__item swiper-slide"><a class="productList__link" href="https://shiro-shiro.us/collections/skin-care/products/sakekasu-komenuka-oil-in-serumboxless" aria-label="link to a product page"><img class="productList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/lineup-sakekasu_komenuka-clear-oil-in-serum-pc.jpg" alt="" width="240" height="240">
												<p class="productList__name">SAKE KASU & KOMENUKA<br>OIL IN SERUM</p></a>
											<p class="productList__price"><span>30mL</span> <span>&#36;91</span></p><a class="productList__btn u-btn u-btn--black" href="https://shiro-shiro.us/cart/add?id=40139686641798&quantity=1">ADD TO CART</a>
											<p class="productList__text">The Sake Kasu & Komenuka Oil-in Serum is a luxurious two-layered serum composed of hand-pressed sake kasu & komenuka extract and rich komenuka oil. It contains moisturizing nutrients such as amino acids and ceramide that help prevent skin damage caused by dryness and UV rays. With repeated use, this serum leads to clear and smooth-textured skin<sup>*3</sup>.</p>
											<div class="review">
												<div class="review__box">
													<div class="review__name">Tokyo Head Office Staff<br>＜Retail Group＞</div>
													<div class="review__text">I have found that the Sake Kasu & Komenuka Oil-in Serum has a texture that is easily absorbed into the skin and blends well with it. We recommend trying it immediately after washing your face for best results. It is highly moisturizing but not sticky, and when added as a serum to your skincare routine, it helps to take care of dry skin with ease. With continued use, you'll enjoy the texture of this product even more.</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<p class="lineup__note">*1 Rice bran/moisturizing <br class="spOnly">*2 Sake lees/moisturizing <br class="spOnly">*3 Clear skin with moisture</p>
							</section>
							<section class="l-content" id="how-to-use">
								<h2 class="how-to-use__title">HOW TO USE</h2>
								<div class="process">
									<ul class="processList">
										<li class="processList__item processList__item-01">
											<h3 class="processList__title">Everyday basic 3 step</h3>
											<div class="product">
												<ul class="productList">
													<li class="productList__item">
														<p class="productList__step">STEP1</p><a class="productList__link" href="https://shiro-shiro.us/collections/skin-care/products/sakekasu-komenuka-lotionboxless" aria-label="link to a product page">
															<picture>
																<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-01-sakekasu_komenuka-clear-lotion-pc.jpg" media="(min-width: 768px)" width="115" height="136"><img class="productList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-01-sakekasu_komenuka-clear-lotion-sp.jpg" alt="" width="111" height="151">
															</picture>
															<div class="productList__name" href="https://shiro-shiro.us/collections/skin-care/products/sakekasu-komenuka-lotionboxless">SAKE KASU &<br>KOMENUKA<br>LOTION</div></a>
														<div class="amountUsed">
															<div class="amountUsed__circle"><span class="amountUsed__text">A coin-sized</span></div>
														</div>
													</li>
													<li class="productList__item">
														<p class="productList__step">STEP2</p><a class="productList__link" href="https://shiro-shiro.us/products/sakekasu-komenuka-serumboxless" aria-label="link to a product page">
															<picture>
																<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-01-sakekasu_komenuka-clear-serum-pc.jpg" media="(min-width: 768px)" width="115" height="136"><img class="productList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-01-sakekasu_komenuka-clear-serum-sp.jpg" alt="" width="111" height="151">
															</picture>
															<div class="productList__name" href="https://shiro-shiro.us/products/sakekasu-komenuka-serumboxless">SAKE KASU &<br>KOMENUKA<br>SERUM</div></a>
														<div class="amountUsed">
															<div class="amountUsed__circle"><span class="amountUsed__text">2-4 pushes</span></div>
														</div>
													</li>
													<li class="productList__item">
														<p class="productList__step">STEP3</p><a class="productList__link" href="https://shiro-shiro.us/collections/skin-care/products/sakekasu-komenuka-oil-in-serumboxless" aria-label="link to a product page">
															<picture>
																<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-01-sakekasu_komenuka-clear-oil-in-serum-pc.jpg" media="(min-width: 768px)" width="115" height="136"><img class="productList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-01-sakekasu_komenuka-clear-oil-in-serum-sp.jpg" alt="" width="111" height="151">
															</picture>
															<div class="productList__name" href="https://shiro-shiro.us/collections/skin-care/products/sakekasu-komenuka-oil-in-serumboxless">SAKE KASU &<br>KOMENUKA<br>OIL IN SERUM</div></a>
														<div class="amountUsed">
															<div class="amountUsed__circle"><span class="amountUsed__text">3-6 drops</span></div>
														</div>
													</li>
												</ul>
											</div>
											<p class="processList__text">This is the basic step that leads to clear, translucent skin by plumping and moisturizing. The moisture from the lotion and serum is locked in with the Oil-in Serum. Three-step care without the need for cream.</p>
										</li>
										<li class="processList__item processList__item-02">
											<h3 class="processList__title">4 steps to moisturize more</h3>
											<div class="product">
												<ul class="productList">
													<li class="productList__item">
														<p class="productList__step">STEP1</p><a class="productList__link" href="https://shiro-shiro.us/collections/skin-care/products/sakekasu-komenuka-oil-in-serumboxless" aria-label="link to a product page">
															<picture>
																<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-02-sakekasu_komenuka-clear-oil-in-serum-pc.jpg" media="(min-width: 768px)" width="99" height="136"><img class="productList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-02-sakekasu_komenuka-clear-oil-in-serum-sp.jpg" alt="" width="81" height="151">
															</picture>
															<div class="productList__name" href="https://shiro-shiro.us/collections/skin-care/products/sakekasu-komenuka-oil-in-serumboxless">SAKE KASU &<br>KOMENUKA<br>OIL IN SERUM</div></a>
														<div class="amountUsed">
															<div class="amountUsed__circle"><span class="amountUsed__text">3 drops</span></div>
														</div>
													</li>
													<li class="productList__item">
														<p class="productList__step">STEP2</p><a class="productList__link" href="https://shiro-shiro.us/collections/skin-care/products/sakekasu-komenuka-lotionboxless" aria-label="link to a product page">
															<picture>
																<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-02-sakekasu_komenuka-clear-lotion-pc.jpg" media="(min-width: 768px)" width="99" height="136"><img class="productList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-02-sakekasu_komenuka-clear-lotion-sp.jpg" alt="" width="81" height="151">
															</picture>
															<div class="productList__name" href="https://shiro-shiro.us/collections/skin-care/products/sakekasu-komenuka-lotionboxless">SAKE KASU &<br>KOMENUKA<br>LOTION</div></a>
														<div class="amountUsed">
															<div class="amountUsed__circle"><span class="amountUsed__text">A coin-sized</span></div>
														</div>
													</li>
													<li class="productList__item">
														<p class="productList__step">STEP3</p><a class="productList__link" href="https://shiro-shiro.us/collections/skin-care/products/kombu-skin-serum" aria-label="link to a product page">
															<picture>
																<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-02-konbu-moisturizing-serum-pc.jpg" media="(min-width: 768px)" width="99" height="136"><img class="productList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-02-konbu-moisturizing-serum-sp.jpg" alt="" width="81" height="151">
															</picture>
															<div class="productList__name" href="https://shiro-shiro.us/collections/skin-care/products/kombu-skin-serum">KOMBU<br>SKIN<br>SERUM</div></a>
														<div class="amountUsed">
															<div class="amountUsed__circle"><span class="amountUsed__text">2-4 pushes</span></div>
														</div>
													</li>
													<li class="productList__item">
														<p class="productList__step">STEP4</p><a class="productList__link" href="https://shiro-shiro.us/collections/skin-care/products/kombu-facial-cream" aria-label="link to a product page">
															<picture>
																<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-02-konbu-moisturizing-hace-cream-pc.jpg" media="(min-width: 768px)" width="99" height="136"><img class="productList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-02-konbu-moisturizing-hace-cream-sp.jpg" alt="" width="81" height="151">
															</picture>
															<div class="productList__name" href="https://shiro-shiro.us/collections/skin-care/products/kombu-facial-cream">KOMBU<br>FACIAL<br>CREAM</div></a>
														<div class="amountUsed">
															<div class="amountUsed__circle"><span class="amountUsed__text">1-2 pushes</span></div>
														</div>
													</li>
												</ul>
											</div>
											<p class="processList__text">When your skin feels dry, use the Oil-in Serum as booster serum to soften your skin. Combined with the Gagome Kombu Series, which has high water retention capacity, it will lead to skin filled with moisture.</p>
										</li>
										<li class="processList__item processList__item-03">
											<h3 class="processList__title">One easy step on a tired day</h3>
											<div class="product">
												<ul class="productList">
													<li class="productList__item">
														<p class="productList__step">STEP1</p><a class="productList__link" href="https://shiro-shiro.us/collections/skin-care/products/sakekasu-komenuka-oil-in-serumboxless" aria-label="link to a product page">
															<picture>
																<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-02-sakekasu_komenuka-clear-oil-in-serum-pc.jpg" media="(min-width: 768px)" width="111" height="151"><img class="productList__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/how-to-use-01-sakekasu_komenuka-clear-oil-in-serum-sp.jpg" alt="" width="99" height="136">
															</picture>
															<div class="productList__name" href="https://shiro-shiro.us/collections/skin-care/products/sakekasu-komenuka-oil-in-serumboxless">SAKE KASU &<br>KOMENUKA<br>OIL IN SERUM</div></a>
														<div class="amountUsed">
															<div class="amountUsed__circle__big"><span class="amountUsed__text">3-6 drops two times</span></div>
														</div>
													</li>
												</ul>
											</div>
											<p class="processList__text">On mornings when you don't have much time, or at nights when you are tired and want to go to sleep right away, you can easily take care of your skin with only Oil-in Serum. The two-layered beauty oil, consisting of extract and oil, provides all-at-one care.</p>
										</li>
									</ul>
								</div>
							</section>
							<section class="l-content" id="dev-story">
								<h2 class="dev-story__title">BEHIND THE STORY</h2>
								<div class="dev-story__thumb box--wide">
									<picture>
										<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/dev-story-cover-pc.jpg" media="(min-width: 768px)" width="1000" hight="350"><img class="dev-story__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/dev-story-cover-sp.jpg" alt="" width="375" height="375">
									</picture>
								</div>
								<p class="dev-story__text">To create products utilizing komenuka (rice bran) was something we had wanted to achieve for more than 10 years. Although we had made many prototypes, we had failed on it because of its sour aroma and poor feel.<br>
								Then, Mr. Sugihara of San-en-an contacted us to see if we could make use of thier komenuka. Despite our misgivings, we made a prototype and found that San-en-an's komenuka had a great aroma and blended easily with the skin.</p>
								<p class="dev-story__text">The secret lay in Mr. Sugihara's commitment to rice bran.</p>
								<p class="dev-story__text">The rice fields of San-en-an are located at the foot of mountains in Noto Peninsula, Ishikawa Prefecture. There, they use highly nutritious mountain water to grow rice through a natural recycling and reduced-chemical agriculture method.
								We were gifted komenuka from only "Koshihikari Amore" rice grown in such a way that it soaked up plenty of nutrients from the land.<br>
								It is rare to find komenuka that all its ingredient are from same region, year and variety. Large-scale farmers can sell komenuka to the ones who make rice oil, but otherwise, some of it is used as fertilizer and the rest is thrown away. Therefore, there is no custom to properly manage komenuka.</p>
								<p class="dev-story__text">However, Mr. Sugihara has been thinking about how to utilize komenuka because he feels it would be a waste to throw away part of the crops he passionally has taken care of.<br>
									Thier result is San-en-an's signature product, the Nuka-Bukuro Warmer. In the pursuit of making the Nuka-Bukuro warmer more comfortable to use, we realized that komenuka tends to oxidize easily, and as it loses its freshness, its aroma deteriorates as well.<br>
									Therefore, at San-en-an, only needed amount of rice is milled each time and the komenuka is packed in a deaerated sealer for refrigerated storage.<br>
									The komenuka, which would normally be thrown away, is managed in such a way as to keep it free of insects, and the freshness of the komenuka is also a key factor in Mr. Sugihara's desire to utlize the power of the komenuka at most.</p>
								<p class="dev-story__text">The products made with the freshness and quality of San-en-an's komenuka are exceptional in both aroma and comfort.</p>
								<p class="dev-story__text">Mr. Sugihara's passion for komenuka has given the birth of the "Sake Kasu & Komenuka Series".</p>
								<div class="info">
									<p class="info__title">San-en-an</p>
									<p class="info__text">Established in March 2008. Produces safe and tasty agricultural products using a natural recycling-based farming method. Other than selling rice, the company also sells rice processed products such as the Nuka-Bukuro warmer and brown rice amazake "Genmai ga Yumeowomita," which is also sold at SHIRO LIFE in Japan.</p>
								</div>
							</section>
							<section class="l-content" id="about-mta">
								<h2 class="about-mta__title">INGREDIENTS</h2>
								<div class="material">
									<div class="material__thumbnail">
										<picture>
											<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/about-mta-sakekasu-pc.jpg" media="(min-width: 768px)" width="800" height="460"><img class="material__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/about-mta-sakekasu-sp.jpg" alt="" width="630" height="630">
										</picture>
									</div>
									<div class="material__body">
										<h3 class="material__title">Sake kasu from Kobayashi Sake Brewery in Kuriyama-cho, Yubari-gun, Hokkaido, Japan</h3>
										<p class="material__text">These products are made with pure rice sake kasu from the Kobayashi Sake Brewery, a long-established sake brewery in Kuriyama-cho, Yubari-gun, Hokkaido.<br>
											Under the philosophy "The people, the rice, and the water are all from Hokkaido", the brewery is committed to brewing sake using rice grown in Hokkaido. Sake kasu, produced from the simple ingredients of rice, rice malt, and water, contain more than 100 rich nutrients, including amino acids, kojic acid, and minerals. It quickly absorbs into the skin, moisturizes it, and leads to clear skin.</p>
									</div>
								</div>
								<div class="material">
									<div class="material__thumbnail">
										<picture>
											<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/about-mta-komenuka-pc.jpg" media="(min-width: 768px)" width="800" height="460"><img class="material__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/about-mta-komenuka-sp.jpg" alt="" width="630" height="630">
										</picture>
									</div>
									<div class="material__body">
										<h3 class="material__title">Komenuka from Noto Peninsula,<br class="pcOnly">Ishikawa Prefecture, Japan</h3>
										<p class="material__text">Komenuka (rice bran) from "Koshihikari Amore" from San-en-an, Noto Peninsula, Ishikawa Prefecture, is used in the products.<br>
											The rice grown by a natural-cycle, pesticide-reduced agricultural method soaks up the nutrients of the land it comes from. Komenuka contain most of the nutrients found in brown rice and prevent skin problems. It also has the power to store moisture and leads your skin hydrated and soft.</p>
									</div>
								</div>
							</section>
							<div class="l-content__bg l-content__bg--gray bottomBtn"><a class="bottomBtn__link u-btn u-btn--black u-btn__arrow u-btn__arrow--right u-btn__arrow--white" href="https://shiro-shiro.us/collections/sakekasu-komenuka">Click here for checking all products from "Sake Kasu & Komenuka Series" products.</a></div>
						</div>
					</div>
				</div>
			</div>