.SkinCareContainer {
  padding: 0px;
}

  .SkinCareContainer {
    padding: 0px;
  }


  summary {
    display: block
  }
  summary::-webkit-details-marker {
    display: none
  }
  figure {
    margin: 0
  }
  dl, ol, ul {
    margin-bottom: 0;
    list-style: none;
  }
  dt {
    font-weight: initial
  }
  dd {
    margin-bottom: 0
  }
  a {
    text-decoration: none
  }
  a:hover {
    opacity: .8;
    text-decoration: none
  }
.l-main {
  background-color: #fff;
  font-size: 1.4rem;
  color: #333;
  line-height: 1.75
}
.l-main .l-section {
  padding-top: 96px;
  padding-bottom: 96px
}
@media screen and (max-width: 767px) {
  .l-main .l-section {
    padding-top: 64px;
    padding-bottom: 64px
  }
}
.l-main .l-section.--bg {
  background: #fafafa
}
.l-inner {
  margin-left: auto;
  margin-right: auto
}
.l-inner:not(.--wide):not(.--full) {
  max-width: 1080px
}
@media screen and (max-width: 767px) {
  .l-inner:not(.--wide):not(.--full) {
    max-width: 92%
  }
}
@media screen and (min-width: 768px) {
  .l-inner:not(.--full) {
    padding: 0 20px
  }
}
.l-container {
  margin-left: auto;
  margin-right: auto
}
@media screen and (min-width: 768px) {
  .l-container._narrow {
    max-width: 776px
  }
}
.l-container._full {
  max-width: 100%
}
// .l-section__title-en .u-en {
//   line-height: 1.75;
//   font-family: "TTCommons-Light", sans-serif;
//   letter-spacing: .75em
// }
// @media screen and (max-width: 767px) {
//   .l-section__title-en .u-en {
//     letter-spacing: .5em
//   }
// }
.l-section__title+*, .l-section__title-en+* {
  margin-top: 48px
}


@media screen and (min-width: 768px) {
  .l-hero {
    background-image: url(https://cdn.shopify.com/s/files/1/1440/3462/files/main-img_pc.jpg?v=1718344419);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 75%;
    height: 560px
  }
}
@media screen and (min-width: 768px) {
  .l-hero__inner {
    position: relative;
    height: 100%
  }
}
@media screen and (max-width: 767px) {
  .l-hero__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
@media screen and (min-width: 768px) {
  .l-hero__body {
    position: absolute;
    top: 50%;
    left: 50%;
    // width: 500px;
    padding: 48px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fefefe
  }
}
@media screen and (max-width: 767px) {
  .l-hero__body {
    max-width: 92%;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 64px
  }
}
.l-hero__body .h1 {
  font-weight: 400;
  font-size: 38px;
}
@media screen and (min-width: 768px) {
  .l-hero__body .h1 {
    color: #fefefe;
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  .l-hero__thumb {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw)
  }
}
.l-hero__img {
  width: 100%;
  height: auto
}

.description{
  max-width: 1250px;
  padding: 0 20px;
}

.l-ethical {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 192px;
  background-image: url("https://cdn.shopify.com/s/files/1/2418/1099/files/ethical-img_pc.jpg?v=1718591027");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover
}
@media screen and (max-width: 767px) {
  .l-ethical {
    background-image: url("https://cdn.shopify.com/s/files/1/2418/1099/files/ethical-img_sp.jpg?v=1718591027")
  }
}
.button-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 32px 32px
}
@media screen and (max-width: 767px) {
  .button-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px 32px
  }
}
.button {
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  padding: 8px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  width: 100%;
  text-decoration: none
}
.button.--primary {
  background-color: #000030;
  color: #fefefe
}
.button.--primary:hover {
  background-color: #fff;
  color: #000030;
  border: 1px solid #000030
}
.button.--secondary {
  background-color: #fff;
  color: #000030;
  border: 1px solid #000030
}
.button.--secondary:hover {
  background-color: #000030;
  color: #fefefe
}
.button.--tertiary {
  background-color: #79888b;
  color: #fefefe
}
.button.--tertiary:hover {
  background-color: #fff;
  color: #000030;
  border: 1px solid #000030
}
.button.--transparent {
  color: #000030;
  border: 1px solid #000030
}
.button.--transparent:hover {
  background-color: #000030;
  color: #fefefe
}
.button.--arrow {
  position: relative;
  padding-right: 24px
}
.button.--arrow::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-top: 1px solid #fefefe;
  border-right: 1px solid #fefefe;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  margin-right: 8px
}
.button.--primary.--arrow::before {
  border-top: 1px solid #fefefe;
  border-right: 1px solid #fefefe
}
.button.--primary:hover.--arrow::before {
  border-top: 1px solid #000030;
  border-right: 1px solid #000030
}
.button.--secondary.--arrow::before, .button.--transparent.--arrow::before {
  border-top: 1px solid #000030;
  border-right: 1px solid #000030
}
.button.--secondary:hover.--arrow::before, .button.--transparent:hover.--arrow::before {
  border-top: 1px solid #fefefe;
  border-right: 1px solid #fefefe
}
.button:hover {
  opacity: 1;
  text-decoration: none
}
.button.--small {
  font-size: 1.2rem;
  max-width: 236px
}
.button.--medium {
  max-width: 504px
}
.button.--large {
  max-width: 772px
}
.button.--wide, .button.--wider {
  font-size: 16px;
}
.button.--wide {
  padding: 16px
}
.button.--wider {
  padding: 24px
}
.button-icon__online {
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
.button-icon__online.--navy::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/icon/online-soudan-navy.png);
  background-size: contain;
  vertical-align: middle;
  margin-right: 4px
}
.button-icon__online.--navy:hover::before {
  -webkit-transition: .3s;
  transition: .3s;
  background-image: url(../img/icon/online-soudan-white.png)
}
.inline-button {
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  color: #333
}
.inline-button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #333;
  bottom: 0;
  left: 0
}
.inline-button.--detail {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding-right: 16px
}
.inline-button.--detail::before {
  position: absolute;
  content: "";
  -webkit-mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M432 320H400a16 16 0 0 0 -16 16V448H64V128H208a16 16 0 0 0 16-16V80a16 16 0 0 0 -16-16H48A48 48 0 0 0 0 112V464a48 48 0 0 0 48 48H400a48 48 0 0 0 48-48V336A16 16 0 0 0 432 320zM488 0h-128c-21.4 0-32.1 25.9-17 41l35.7 35.7L135 320.4a24 24 0 0 0 0 34L157.7 377a24 24 0 0 0 34 0L435.3 133.3 471 169c15 15 41 4.5 41-17V24A24 24 0 0 0 488 0z"/></svg>');
  mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M432 320H400a16 16 0 0 0 -16 16V448H64V128H208a16 16 0 0 0 16-16V80a16 16 0 0 0 -16-16H48A48 48 0 0 0 0 112V464a48 48 0 0 0 48 48H400a48 48 0 0 0 48-48V336A16 16 0 0 0 432 320zM488 0h-128c-21.4 0-32.1 25.9-17 41l35.7 35.7L135 320.4a24 24 0 0 0 0 34L157.7 377a24 24 0 0 0 34 0L435.3 133.3 471 169c15 15 41 4.5 41-17V24A24 24 0 0 0 488 0z"/></svg>');
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: #333;
  height: 10px;
  width: 10px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.inline-button.--arrow {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 16px
}
.inline-button.--arrow::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg)
}
.inline-button:hover {
  opacity: .8;
  text-decoration: none
}
.carousel-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 32px
}
@media screen and (max-width: 767px) {
  .carousel-buttons {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 24px
  }
}
.carousel-button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 2px solid #79888b;
  border-radius: 8px;
  background: #fff;
  color: #79888b;
  padding: 16px
}
@media screen and (max-width: 767px) {
  .carousel-button {
    -webkit-flex-basis: calc((100% - 24px)/2);
    -ms-flex-preferred-size: calc((100% - 24px)/2);
    flex-basis: calc((100% - 24px)/2)
  }
}
.recommend-nav__type {
  font-size: 1.2rem;
  letter-spacing: .25em
}
.recommend-nav__navTitle {
  margin-top: 4px;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .recommend-nav__navTitle {
    font-size: 15px;
  }
}
@media screen and (max-width: 320px) {
  .recommend-nav__navTitle {
    font-size: 12px;
  }
}
// .recommend-nav__navTitle::before {
//   display: block;
//   font-size: 1.2rem;
//   letter-spacing: .25em;
//   content: attr(data-en);
//   text-transform: uppercase
// }
.carousel-button.active {
  background-color: #79888b;
  color: #fefefe
}
@-webkit-keyframes btnFX {
  0% {
    left: 0;
    width: 100%
  }
  33% {
    left: 100%;
    width: 0%
  }
  66% {
    left: 0;
    width: 0%
  }
  100% {
    left: 0;
    width: 100%
  }
}
@keyframes btnFX {
  0% {
    left: 0;
    width: 100%
  }
  33% {
    left: 100%;
    width: 0%
  }
  66% {
    left: 0;
    width: 0%
  }
  100% {
    left: 0;
    width: 100%
  }
}
.l-section.skincareNav {
  padding: 50px 0px 10px;
}

@media screen and (max-width: 767px) {
  .l-section.skincareNav {
    padding: 40px 0px 5px;
  }
}

.line-button {
  position: relative;
  display: block;
  width: 100%;
  font-size: 1.4rem;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 15px;
  padding-left: 16px;
  -webkit-transition: .3s;
  transition: .3s
}
@media screen and (min-width: 768px) {
  .line-button {
    max-width: 236px
  }
}
.line-button::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #333
}
.line-button.--arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding-right: 32px
}
.line-button.--arrow::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-top: 1px solid #333;
  border-right: 1px solid #333;
  top: 50%;
  right: 8px;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
  transform: translate(-50%, -50%) rotate(135deg)
}
@media screen and (min-width: 768px) {
  .line-button:hover {
    opacity: 1
  }
}
.line-button:hover::before {
  -webkit-animation: btnFX 1s;
  animation: btnFX 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #000030;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 0
}
p {
  font-size: 18px;
  letter-spacing: .02em;
}
@media screen and (max-width: 769px) {
  p {
    font-size: 16px;
  }
}
.h1.h_under-line::after, .h2.h_under-line::after, .h3.h_under-line::after, .h4.h_under-line::after, .h5.h_under-line::after, .h6.h_under-line::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #333;
  margin-top: 16px
}
// .h1 {
//   font-size: 3.2rem;
//   font-weight: 600
// }
@media screen and (max-width: 767px) {
  .h1 {
    font-size: 2.2rem
  }
}
.h1 .u-en {
  font-family: "TTCommons-DemiBold", sans-serif
}
.h2 {
  font-size: 35px;
}
@media screen and (max-width: 767px) {
  .h2 {
    font-size: 20px;
  }
}
.h3 {
  font-size: 26px;
}
@media screen and (max-width: 767px) {
  .h3 {
    font-size: 20px;
  }
}
.h4 {
  font-size: 22px;
}
@media screen and (max-width: 767px) {
  .h4 {
    font-size: 18px;
  }
}
.h5 {
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .h5 {
    font-size: 16px;
  }
}
.h6 {
  font-size: 16px;
}
@media screen and (max-width: 767px) {
  .h6 {
    font-size: 16px;
  }
}
.en-text .u-en {
  font-family: "TTCommons-Regular", sans-serif
}
.en-text--light .u-en {
  font-family: "TTCommons-Light", sans-serif
}
.en-text--medium .u-en {
  font-family: "TTCommons-Medium", sans-serif
}
.en-text--demibold .u-en {
  font-family: "TTCommons-DemiBold", sans-serif
}
.en-text--bold .u-en {
  font-family: "TTCommons-Bold", sans-serif
}
.text-ls--tighter {
  letter-spacing: -1em
}
.text-ls--tight {
  letter-spacing: -0.5em
}
.text-ls--normal {
  letter-spacing: normal
}
.text-ls--wide {
  letter-spacing: .5em
}
.text-ls--wider {
  letter-spacing: 1em
}
.text-ls--widest {
  letter-spacing: 1.5em
}
@media screen and (min-width: 768px) {
  .text-ls-pc--tighter {
    letter-spacing: -1em
  }
  .text-ls-pc--tight {
    letter-spacing: -0.5em
  }
  .text-ls-pc--normal {
    letter-spacing: normal
  }
  .text-ls-pc--wide {
    letter-spacing: .5em
  }
  .text-ls-pc--wider {
    letter-spacing: 1em
  }
  .text-ls-pc--widest {
    letter-spacing: 1.5em
  }
}
@media screen and (max-width: 767px) {
  .text-ls-sp--tighter {
    letter-spacing: -1em
  }
  .text-ls-sp--tight {
    letter-spacing: -0.5em
  }
  .text-ls-sp--normal {
    letter-spacing: normal
  }
  .text-ls-sp--wide {
    letter-spacing: .5em
  }
  .text-ls-sp--wider {
    letter-spacing: 1em
  }
  .text-ls-sp--widest {
    letter-spacing: 1.5em
  }
}
.text-ta--center {
  text-align: center;
}
.text-ta--left {
  text-align: left
}
.text-ta--right {
  text-align: right
}
@media screen and (min-width: 768px) {
  .text-ta-pc--center {
    text-align: center
  }
  .text-ta-pc--left {
    text-align: left
  }
  .text-ta-pc--right {
    text-align: right
  }
}
@media screen and (max-width: 767px) {
  .text-ta-sp--center {
    text-align: center
  }
  .text-ta-sp--left {
    text-align: left
  }
  .text-ta-sp--right {
    text-align: right
  }
}
.text-decoration--underline {
  text-decoration: underline
}
.text-decoration--none {
  text-decoration: none
}
.font-size--s {
  font-size: 1.2rem
}
.font-size--xs {
  font-size: 1rem
}

.subTitle {
  text-align: center;
  margin-bottom: 5px;
  color: #000030;
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .subTitle {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px)  {
  .l-section__title-en {
    font-size: 22px;
  }
}

.pcOnly {
  display: block;
}

@media screen and (max-width: 767px) {
  .pcOnly {
    display: none;
  }
}

.product-card {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: recommend-product
}
.recommend .product-card__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 32px
}
@media screen and (max-width: 767px) {
  .recommend .product-card__list {
    gap: 32px 16px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
}
.product-card__item {
  // display: -webkit-box;
  // display: -webkit-flex;
  // display: -ms-flexbox;
  // display: flex;
  // -webkit-box-orient: vertical;
  // -webkit-box-direction: normal;
  // -webkit-flex-direction: column;
  // -ms-flex-direction: column;
  // flex-direction: column;
  width: 100%;
  max-width: calc((100% - 96px)/4)
}
@media screen and (max-width: 767px) {
  .product-card__item {
    max-width: calc((100% - 16px)/2)
  }
}

.product-card__item--link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  transition: .3s;
}

.product-card__item--link:hover{
  opacity: .5;
}

@media screen and (min-width: 768px) {
  .lineup-prod .product-card__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    gap: 32px
  }
}
@media screen and (max-width: 767px) {
  .lineup-prod .product-card__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
  }
}
@media screen and (min-width: 768px) {
  .lineup-prod .product-card__item {
    max-width: calc((100% - 128px)/5)
  }
}
.product-card__name {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 5px;
}
.product-card__capacity {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-size: 15px;
  max-width: 70%;
  margin-bottom: 0px;
}

.product-card__price {
  padding-left: 0.5em;
  display: flex;
  justify-content: flex-start;
  text-align: right;
  min-width: 54px;
}
.product-card__footer {
  margin-top: auto;
  padding-top: 16px;
  padding-bottom: 16px
}
.product-card__thumb {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  position: relative
}
.product-card__img {
  aspect-ratio: 1/1
}
@supports not (aspect-ratio: 1/1) {
  .product-card__img::before {
    content: "";
    float: left;
    padding-top: calc((1 / 1)*100%)
  }
  .product-card__img::after {
    content: "";
    display: block;
    clear: both
  }
}
.bestseller {
  position: absolute;
  background-image: url("./assets/img/icon/bs_icon.svg");
  top: 0;
  left: 0;
  width: 24%
}
.alternate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  gap: 32px
}
@media screen and (min-width: 768px) {
  .alternate:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
  }
}
@media screen and (max-width: 767px) {
  .alternate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}
.alternate+.alternate {
  margin-top: 64px
}
.alternate__body, .alternate__thumb {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}
@media screen and (min-width: 768px) {
  .alternate__body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}
@media screen and (min-width: 768px) {
  .alternate__body .button {
    max-width: 236px
  }
}
.step-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8px
}
// @media screen and (max-width: 767px) {
//   .step-icons {
//     -webkit-flex-wrap: wrap;
//     -ms-flex-wrap: wrap;
//     flex-wrap: wrap
//   }
// }
.step-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #000030;
  font-size: 12px;
  padding: 2px 8px
}
@media screen and (max-width: 320px) {
  .step-icon {
    font-size: 9px;
    padding: 2px 4px
  }
}
.step-icon__step--en {
  letter-spacing: 4px
}
.step-icon__process {
  padding-left: 8px;
  margin-left: 8px;
  position: relative
}
.step-icon__process::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 80%;
  top: 50%;
  left: 0;
  background: #333;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.step-icon__rate {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.step-icon__score {
  margin-left: 8px;
  position: relative;
  display: inline-block;
  width: 55px;
  height: 10px;
  font-size: 10px
}
.step-icon__score::before, .step-icon__score::after {
  position: absolute;
  left: 0;
  display: inline-block;
  height: 10px;
  content: "★★★★★";
  line-height: 10px
}
.step-icon__score::before {
  color: #ccc
}
.step-icon__score::after {
  overflow: hidden;
  width: calc(var(--score)*11.2px);
  color: #000030
}
@media screen and (max-width: 320px) {
  .step-icon__score {
    margin-left: 2px
  }
}
.navs {
  max-width: 776px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  gap: 32px
}
@media screen and (max-width: 767px) {
  .navs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px
  }
}

.line-button.--arrow {
  font-size: 18px;
}

.profile {
  border: 1px solid #333;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 24px;
  gap: 32px
}
@media screen and (max-width: 767px) {
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
    padding: 16px
  }
}
.profile__body {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}
@media screen and (max-width: 767px) {
  .profile__body {
    width: 100%
  }
}
.profile__title {
  font-size: 1.8rem
}
.profile__title-en {
  font-size: 1.4rem;
  margin-left: 16px
}
.profile__subtitle {
  font-size: 1.2rem
}
.profile__thumb {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px
}
@media screen and (max-width: 767px) {
  .profile__thumb {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%
  }
}
.profile__img {
  aspect-ratio: 1/1
}
@supports not (aspect-ratio: 1/1) {
  .profile__img::before {
    content: "";
    float: left;
    padding-top: calc((1 / 1)*100%)
  }
  .profile__img::after {
    content: "";
    display: block;
    clear: both
  }
}

.l-recommend .recommend__desc {
  display: flex;
  justify-content: center;
}

.recommend-kit .recommend-kit__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: -webkit-fit-content 32px -webkit-fit-content 32px -webkit-fit-content;
  -ms-grid-rows: fit-content 32px fit-content 32px fit-content;
  grid-template-rows: -webkit-fit-content -webkit-fit-content -webkit-fit-content;
  grid-template-rows: fit-content fit-content fit-content;
  gap: 32px;
  grid-auto-flow: row;
  grid-template-areas: "recommend-kit__header recommend-kit__header" "recommend-kit__thumb recommend-kit__body" "recommend-product recommend-product";
  margin-top: 65px;
  background-color: #fff
}
@media screen and (max-width: 767px) {
  .recommend-kit .recommend-kit__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: -webkit-fit-content -webkit-fit-content -webkit-fit-content -webkit-fit-content;
    -ms-grid-rows: fit-content fit-content fit-content fit-content;
    grid-template-rows: -webkit-fit-content -webkit-fit-content -webkit-fit-content -webkit-fit-content;
    grid-template-rows: fit-content fit-content fit-content fit-content;
    grid-template-areas: "recommend-kit__header" "recommend-kit__thumb" "recommend-kit__body" "recommend-product"
  }
}
.recommend-kit .recommend-kit__header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: recommend-kit__header
}
.recommend-kit .recommend-kit__body {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: recommend-kit__body;
  // height: 378px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column
}

.recommend-kit .recommend-kit__body p {
  line-height: 1.4em;
}
.recommend-kit .recommend-kit__thumb {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: recommend-kit__thumb
}
@media screen and (max-width: 767px) {
  .recommend-kit .recommend-kit__header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1
  }
  .recommend-kit .recommend-kit__body {
    -ms-grid-row: 3;
    -ms-grid-column: 1
  }
  .recommend-kit .recommend-kit__thumb {
    -ms-grid-row: 2;
    -ms-grid-column: 1
  }
}
.recommend-kit .recommend-kit__img {
  aspect-ratio: 4/3
}
@supports not (aspect-ratio: 4/3) {
  .recommend-kit .recommend-kit__img::before {
    content: "";
    float: left;
    padding-top: calc((3 / 4)*100%)
  }
  .recommend-kit .recommend-kit__img::after {
    content: "";
    display: block;
    clear: both
  }
}
@media screen and (max-width: 767px) {
  .recommend-kit .recommend-kit__img {
    aspect-ratio: 1/1;
  }
  @supports not (aspect-ratio: 1/1) {
    .recommend-kit .recommend-kit__img::before {
      content: "";
      float: left;
      padding-top: calc((1 / 1)*100%)
    }
    .recommend-kit .recommend-kit__img::after {
      content: "";
      display: block;
      clear: both
    }
  }
}
.recommend-kit__type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  // text-transform: uppercase;
  gap: .3em;
  font-weight: 500;
  font-size: 26px;
  color: #000030;
}
.recommend-kit__type .u-en {
  font-family: "TTCommons-Light", sans-serif;
  letter-spacing: 0em;
}
.recommend-kit__type::before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 24px;
  height: 1px;
  background-color: #333
}

@media screen and (max-width: 767px) {
  .recommend-kit__type {
    font-size: 18px;
  }
}
.review.review__list {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow-y: auto
}
.review__item {
  background-color: #eee;
  padding: 24px
}
@media screen and (max-width: 767px) {
  .review__item {
    padding: 16px
  }
}
.review__item+.review__item {
  margin-top: 24px
}
.review__text, .review__belong, .review__name {
  font-size: 1.2rem
}
.review__position {
  display: inline-block
}
@media screen and (max-width: 767px) {
  .recommend-cleansing .recommend-kit__img {
    aspect-ratio: 1/1
  }
  @supports not (aspect-ratio: 1/1) {
    .recommend-cleansing .recommend-kit__img::before {
      content: "";
      float: left;
      padding-top: calc((1 / 1)*100%)
    }
    .recommend-cleansing .recommend-kit__img::after {
      content: "";
      display: block;
      clear: both
    }
  }
}
.lineup-prod:not(:first-child) {
  margin-top: 64px
}

.ingredients__list {
  display: grid;
  grid-template-columns: repeat(5, 18%);
  justify-content: center;
  gap: 10px 20px;
}
.ingredients__item {
  display: inline-block;
  position: relative
}
@media screen and (min-width: 768px) {
  .ingredients__item {
    width: 100%
  }
}
@media screen and (max-width: 767px) {
  .ingredients__list {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: center;
    gap: 10px 4%;
  }

  .ingredients__item {
    width: 100%
  }
}
.ingredients__link {
  position: relative;
  transform:translate3d(0,0,0);
}

.ingredients__link:hover {
  opacity: 1;
}

.ingredients__link::before {
  position: absolute;
  z-index: 1;
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.ingredients__link .ingredients__link {
  transition: .10;
}
.ingredients__link:hover .ingredients__link {
  transform: scale(1.5);
}

.ingredients__link .ingredients__thumb {
  overflow: hidden;
  position: relative;
}

.ingredients__link .ingredients__thumb img {
  transition: 1.5s;
  z-index: 0;
  filter: brightness(0.6);
}

.ingredients__link:hover .ingredients__thumb img{
  transform: scale(1.2);
}

.ingredients__caption {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fefefe;
  z-index: 999;
}

@media screen and (max-width: 767px) {
  .ingredients__caption {
    opacity: 1
  }
}
@media screen and (max-width: 767px) {
  .ingredients__caption--light {
    color: #fefefe
  }
}
@media screen and (max-width: 767px) {
  .ingredients__caption--dark {
    color: #333
  }
}
// .ingredients__title::after {
//   display: block;
//   margin-top: 8px;
//   font-size: 1rem;
//   content: attr(data-en);
//   letter-spacing: .25em;
//   text-transform: uppercase
// }
// @media screen and (min-width: 768px) {
//   .ingredients__link:hover .ingredients__caption {
//     opacity: 1
//   }
// }
.ingredients__title {
  margin-bottom: 0px;
  font-size: 18px;
}
.ingredients__text {
  margin-top: 0px;
  font-size: 16px;
}

.ingredients__text .u-en {
  font-size: 1.35rem;
}


.banner__link {
  display: block
}
.banner__link:not(:first-child) {
  margin-top: 24px
}
.splideContainer {
  padding-top: 48px;
  padding-right: 24px;
  padding-left: 24px
}
@media screen and (max-width: 767px) {
  .splideContainer {
    padding-top: 24px;
    padding-right: 8px;
    padding-left: 8px
  }
}
.splideContainer__list {
  -webkit-box-align: start !important;
  -webkit-align-items: flex-start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important
}
.splideContainer__track {
  -webkit-transition: height .3s ease-out;
  transition: height .3s ease-out
}
.modal__arrows {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1
}
.modal__arrows .modal--prev {
  left: 0 !important
}
.modal__arrows .modal--next {
  right: 0 !important
}
.slider-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 32px
}
@media screen and (max-width: 767px) {
  .slider-detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.slider-detail__body {
  width: calc(100% - 300px - 32px)
}
@media screen and (max-width: 767px) {
  .slider-detail__body {
    width: 100%
  }
}
.slider-detail__capacity {
  font-size: 1.4rem
}
.slider-detail__text {
  font-size: 1.4rem
}
.slider-detail__intro>* {
  margin-top: 8px
}
.slider-detail__intro>*:first-child {
  margin-top: 16px
}
.slider-detail__note {
  font-size: 1rem
}
.slider-detail__thumb {
  text-align: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  width: 300px;
  position: relative
}
@media screen and (max-width: 767px) {
  .slider-detail__thumb {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }
}
.slider-detail__img {
  aspect-ratio: 1/1
}
@supports not (aspect-ratio: 1/1) {
  .slider-detail__img::before {
    content: "";
    float: left;
    padding-top: calc((1 / 1)*100%)
  }
  .slider-detail__img::after {
    content: "";
    display: block;
    clear: both
  }
}
.u-en {
  font-family: "TTCommons-Regular", sans-serif;
  // font-size: 120%;
  line-height: 1;
  font-weight: normal
}
.u-m-0 {
  margin: 0
}
@media screen and (min-width: 768px) {
  .u-pc-m-0 {
    margin: 0
  }
}
@media screen and (max-width: 767px) {
  .u-sp-m-0 {
    margin: 0
  }
}
.u-m-1 {
  margin: 8px
}
@media screen and (min-width: 768px) {
  .u-pc-m-1 {
    margin: 8px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-m-1 {
    margin: 8px
  }
}
.u-m-2 {
  margin: 16px
}
@media screen and (min-width: 768px) {
  .u-pc-m-2 {
    margin: 16px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-m-2 {
    margin: 16px
  }
}
.u-m-3 {
  margin: 24px
}
@media screen and (min-width: 768px) {
  .u-pc-m-3 {
    margin: 24px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-m-3 {
    margin: 24px
  }
}
.u-m-4 {
  margin: 32px
}
@media screen and (min-width: 768px) {
  .u-pc-m-4 {
    margin: 32px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-m-4 {
    margin: 32px
  }
}
.u-m-5 {
  margin: 48px
}
@media screen and (min-width: 768px) {
  .u-pc-m-5 {
    margin: 48px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-m-5 {
    margin: 48px
  }
}
.u-m-6 {
  margin: 64px
}
@media screen and (min-width: 768px) {
  .u-pc-m-6 {
    margin: 64px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-m-6 {
    margin: 64px
  }
}
.u-m-7 {
  margin: 96px
}
@media screen and (min-width: 768px) {
  .u-pc-m-7 {
    margin: 96px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-m-7 {
    margin: 96px
  }
}
.u-m-8 {
  margin: 128px
}
@media screen and (min-width: 768px) {
  .u-pc-m-8 {
    margin: 128px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-m-8 {
    margin: 128px
  }
}
.u-m-9 {
  margin: 192px
}
@media screen and (min-width: 768px) {
  .u-pc-m-9 {
    margin: 192px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-m-9 {
    margin: 192px
  }
}
.u-m-10 {
  margin: 256px
}
@media screen and (min-width: 768px) {
  .u-pc-m-10 {
    margin: 256px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-m-10 {
    margin: 256px
  }
}
.u-mt-0 {
  margin-top: 0
}
@media screen and (min-width: 768px) {
  .u-pc-mt-0 {
    margin-top: 0
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mt-0 {
    margin-top: 0
  }
}
.u-mt-1 {
  margin-top: 8px
}
@media screen and (min-width: 768px) {
  .u-pc-mt-1 {
    margin-top: 8px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mt-1 {
    margin-top: 8px
  }
}
.u-mt-2 {
  margin-top: 16px
}
@media screen and (min-width: 768px) {
  .u-pc-mt-2 {
    margin-top: 16px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mt-2 {
    margin-top: 16px
  }
}
.u-mt-3 {
  margin-top: 24px
}
@media screen and (min-width: 768px) {
  .u-pc-mt-3 {
    margin-top: 24px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mt-3 {
    margin-top: 24px
  }
}
.u-mt-4 {
  margin-top: 32px
}
@media screen and (min-width: 768px) {
  .u-pc-mt-4 {
    margin-top: 32px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mt-4 {
    margin-top: 32px
  }
}
.u-mt-5 {
  margin-top: 48px
}
@media screen and (min-width: 768px) {
  .u-pc-mt-5 {
    margin-top: 48px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mt-5 {
    margin-top: 48px
  }
}
.u-mt-6 {
  margin-top: 64px
}
@media screen and (min-width: 768px) {
  .u-pc-mt-6 {
    margin-top: 64px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mt-6 {
    margin-top: 64px
  }
}
.u-mt-7 {
  margin-top: 96px
}
@media screen and (min-width: 768px) {
  .u-pc-mt-7 {
    margin-top: 96px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mt-7 {
    margin-top: 96px
  }
}
.u-mt-8 {
  margin-top: 128px
}
@media screen and (min-width: 768px) {
  .u-pc-mt-8 {
    margin-top: 128px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mt-8 {
    margin-top: 128px
  }
}
.u-mt-9 {
  margin-top: 192px
}
@media screen and (min-width: 768px) {
  .u-pc-mt-9 {
    margin-top: 192px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mt-9 {
    margin-top: 192px
  }
}
.u-mt-10 {
  margin-top: 256px
}
@media screen and (min-width: 768px) {
  .u-pc-mt-10 {
    margin-top: 256px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mt-10 {
    margin-top: 256px
  }
}
.u-ml-0 {
  margin-left: 0
}
@media screen and (min-width: 768px) {
  .u-pc-ml-0 {
    margin-left: 0
  }
}
@media screen and (max-width: 767px) {
  .u-sp-ml-0 {
    margin-left: 0
  }
}
.u-ml-1 {
  margin-left: 8px
}
@media screen and (min-width: 768px) {
  .u-pc-ml-1 {
    margin-left: 8px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-ml-1 {
    margin-left: 8px
  }
}
.u-ml-2 {
  margin-left: 16px
}
@media screen and (min-width: 768px) {
  .u-pc-ml-2 {
    margin-left: 16px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-ml-2 {
    margin-left: 16px
  }
}
.u-ml-3 {
  margin-left: 24px
}
@media screen and (min-width: 768px) {
  .u-pc-ml-3 {
    margin-left: 24px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-ml-3 {
    margin-left: 24px
  }
}
.u-ml-4 {
  margin-left: 32px
}
@media screen and (min-width: 768px) {
  .u-pc-ml-4 {
    margin-left: 32px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-ml-4 {
    margin-left: 32px
  }
}
.u-ml-5 {
  margin-left: 48px
}
@media screen and (min-width: 768px) {
  .u-pc-ml-5 {
    margin-left: 48px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-ml-5 {
    margin-left: 48px
  }
}
.u-ml-6 {
  margin-left: 64px
}
@media screen and (min-width: 768px) {
  .u-pc-ml-6 {
    margin-left: 64px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-ml-6 {
    margin-left: 64px
  }
}
.u-ml-7 {
  margin-left: 96px
}
@media screen and (min-width: 768px) {
  .u-pc-ml-7 {
    margin-left: 96px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-ml-7 {
    margin-left: 96px
  }
}
.u-ml-8 {
  margin-left: 128px
}
@media screen and (min-width: 768px) {
  .u-pc-ml-8 {
    margin-left: 128px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-ml-8 {
    margin-left: 128px
  }
}
.u-ml-9 {
  margin-left: 192px
}
@media screen and (min-width: 768px) {
  .u-pc-ml-9 {
    margin-left: 192px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-ml-9 {
    margin-left: 192px
  }
}
.u-ml-10 {
  margin-left: 256px
}
@media screen and (min-width: 768px) {
  .u-pc-ml-10 {
    margin-left: 256px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-ml-10 {
    margin-left: 256px
  }
}
.u-mr-0 {
  margin-right: 0
}
@media screen and (min-width: 768px) {
  .u-pc-mr-0 {
    margin-right: 0
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mr-0 {
    margin-right: 0
  }
}
.u-mr-1 {
  margin-right: 8px
}
@media screen and (min-width: 768px) {
  .u-pc-mr-1 {
    margin-right: 8px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mr-1 {
    margin-right: 8px
  }
}
.u-mr-2 {
  margin-right: 16px
}
@media screen and (min-width: 768px) {
  .u-pc-mr-2 {
    margin-right: 16px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mr-2 {
    margin-right: 16px
  }
}
.u-mr-3 {
  margin-right: 24px
}
@media screen and (min-width: 768px) {
  .u-pc-mr-3 {
    margin-right: 24px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mr-3 {
    margin-right: 24px
  }
}
.u-mr-4 {
  margin-right: 32px
}
@media screen and (min-width: 768px) {
  .u-pc-mr-4 {
    margin-right: 32px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mr-4 {
    margin-right: 32px
  }
}
.u-mr-5 {
  margin-right: 48px
}
@media screen and (min-width: 768px) {
  .u-pc-mr-5 {
    margin-right: 48px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mr-5 {
    margin-right: 48px
  }
}
.u-mr-6 {
  margin-right: 64px
}
@media screen and (min-width: 768px) {
  .u-pc-mr-6 {
    margin-right: 64px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mr-6 {
    margin-right: 64px
  }
}
.u-mr-7 {
  margin-right: 96px
}
@media screen and (min-width: 768px) {
  .u-pc-mr-7 {
    margin-right: 96px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mr-7 {
    margin-right: 96px
  }
}
.u-mr-8 {
  margin-right: 128px
}
@media screen and (min-width: 768px) {
  .u-pc-mr-8 {
    margin-right: 128px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mr-8 {
    margin-right: 128px
  }
}
.u-mr-9 {
  margin-right: 192px
}
@media screen and (min-width: 768px) {
  .u-pc-mr-9 {
    margin-right: 192px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mr-9 {
    margin-right: 192px
  }
}
.u-mr-10 {
  margin-right: 256px
}
@media screen and (min-width: 768px) {
  .u-pc-mr-10 {
    margin-right: 256px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mr-10 {
    margin-right: 256px
  }
}
.u-mb-0 {
  margin-bottom: 0
}
@media screen and (min-width: 768px) {
  .u-pc-mb-0 {
    margin-bottom: 0
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mb-0 {
    margin-bottom: 0
  }
}
.u-mb-1 {
  margin-bottom: 8px
}
@media screen and (min-width: 768px) {
  .u-pc-mb-1 {
    margin-bottom: 8px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mb-1 {
    margin-bottom: 8px
  }
}
.u-mb-2 {
  margin-bottom: 16px
}
@media screen and (min-width: 768px) {
  .u-pc-mb-2 {
    margin-bottom: 16px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mb-2 {
    margin-bottom: 16px
  }
}
.u-mb-3 {
  margin-bottom: 24px
}
@media screen and (min-width: 768px) {
  .u-pc-mb-3 {
    margin-bottom: 24px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mb-3 {
    margin-bottom: 24px
  }
}
.u-mb-4 {
  margin-bottom: 32px
}
@media screen and (min-width: 768px) {
  .u-pc-mb-4 {
    margin-bottom: 32px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mb-4 {
    margin-bottom: 32px
  }
}
.u-mb-5 {
  margin-bottom: 48px
}
@media screen and (min-width: 768px) {
  .u-pc-mb-5 {
    margin-bottom: 48px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mb-5 {
    margin-bottom: 48px
  }
}
.u-mb-6 {
  margin-bottom: 64px
}
@media screen and (min-width: 768px) {
  .u-pc-mb-6 {
    margin-bottom: 64px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mb-6 {
    margin-bottom: 64px
  }
}
.u-mb-7 {
  margin-bottom: 96px
}
@media screen and (min-width: 768px) {
  .u-pc-mb-7 {
    margin-bottom: 96px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mb-7 {
    margin-bottom: 96px
  }
}
.u-mb-8 {
  margin-bottom: 128px
}
@media screen and (min-width: 768px) {
  .u-pc-mb-8 {
    margin-bottom: 128px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mb-8 {
    margin-bottom: 128px
  }
}
.u-mb-9 {
  margin-bottom: 192px
}
@media screen and (min-width: 768px) {
  .u-pc-mb-9 {
    margin-bottom: 192px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mb-9 {
    margin-bottom: 192px
  }
}
.u-mb-10 {
  margin-bottom: 256px
}
@media screen and (min-width: 768px) {
  .u-pc-mb-10 {
    margin-bottom: 256px
  }
}
@media screen and (max-width: 767px) {
  .u-sp-mb-10 {
    margin-bottom: 256px
  }
}
.u-mx-auto {
  margin-left: auto !important;
  margin-right: auto !important
}
.u-display--block {
  display: block
}
.u-display--inline {
  display: inline
}
.u-display--inlineBlock {
  display: inline-block
}
.u-img-fluid {
  max-width: 100%;
  height: auto
}
@media screen and (min-width: 768px) {
  .u-sp {
    display: none !important
  }
}
@media screen and (max-width: 767px) {
  .u-pc {
    display: none !important
  }
}
.u-d-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}
.u-d-flex-jc--center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
.u-d-flex-jc--left {
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start
}
.u-d-flex-jc--right {
  -webkit-box-pack: right;
  -webkit-justify-content: right;
  -ms-flex-pack: right;
  justify-content: right
}
.fade-in {
  opacity: 0
}
.fade-in-top {
  -webkit-transform: translateY(48px);
  transform: translateY(48px);
  opacity: 0
}
.fade-in-left {
  -webkit-transform: translateX(-48px);
  transform: translateX(-48px);
  opacity: 0
}
.fade-in-right {
  -webkit-transform: translateX(48px);
  transform: translateX(48px);
  opacity: 0
}
.fade-in-bottom {
  -webkit-transform: translateY(48px);
  transform: translateY(48px);
  opacity: 0
}
.fade-in-show {
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
  opacity: 1
}
.fade-in-top-show {
  -webkit-transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
  transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
  transition: opacity .5s ease-out, transform .5s ease-out;
  transition: opacity .5s ease-out, transform .5s ease-out, -webkit-transform .5s ease-out;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}
.fade-in-left-show {
  -webkit-transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
  transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
  transition: opacity .5s ease-out, transform .5s ease-out;
  transition: opacity .5s ease-out, transform .5s ease-out, -webkit-transform .5s ease-out;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}
.fade-in-right-show {
  -webkit-transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
  transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
  transition: opacity .5s ease-out, transform .5s ease-out;
  transition: opacity .5s ease-out, transform .5s ease-out, -webkit-transform .5s ease-out;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1
}
.fade-in-bottom-show {
  -webkit-transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
  transition: opacity .5s ease-out, -webkit-transform .5s ease-out;
  transition: opacity .5s ease-out, transform .5s ease-out;
  transition: opacity .5s ease-out, transform .5s ease-out, -webkit-transform .5s ease-out;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1
}
.modal {
  display: none;
  visibility: hidden
}
.modal.is-open {
  display: block;
  visibility: visible
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}
.modal__container {
  background-color: #fff;
  max-width: 1080px;
  max-height: calc(100vh - 8%);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 32px;
  overflow-y: auto
}
@media screen and (max-width: 767px) {
  .modal__container {
    max-width: 92%;
    padding-bottom: 24px;
    max-height: calc(100svh - 80px - 8%)
  }
}
.modal__header {
  z-index: 2
}
.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  z-index: 1
}
.modal__close-icon {
  width: 24px;
  height: 24px;
  opacity: .9
}
.modal__close-icon::before, .modal__close-icon::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 1px;
  top: 50%;
  right: 0;
  background-color: #000030;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.modal__close-icon::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.modal__close-icon::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.modal__close-icon:hover {
  opacity: 1
}
.modal__close-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center
}
@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@keyframes mmfadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}
@-webkit-keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
    transform: translateY(15%)
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes mmslideIn {
  from {
    -webkit-transform: translateY(15%);
    transform: translateY(15%)
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@-webkit-keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  to {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%)
  }
}
@keyframes mmslideOut {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
  to {
    -webkit-transform: translateY(-10%);
    transform: translateY(-10%)
  }
}
.micromodal-slide {
  display: none
}
.micromodal-slide.is-open {
  display: block
}
.micromodal-slide[aria-hidden=false] .modal__overlay {
  -webkit-animation: mmfadeIn .3s cubic-bezier(0, 0, 0.2, 1);
  animation: mmfadeIn .3s cubic-bezier(0, 0, 0.2, 1)
}
.micromodal-slide[aria-hidden=false] .modal__container {
  -webkit-animation: mmslideIn .3s cubic-bezier(0, 0, 0.2, 1);
  animation: mmslideIn .3s cubic-bezier(0, 0, 0.2, 1)
}
.micromodal-slide[aria-hidden=true] .modal__overlay {
  -webkit-animation: mmfadeOut .3s cubic-bezier(0, 0, 0.2, 1);
  animation: mmfadeOut .3s cubic-bezier(0, 0, 0.2, 1)
}
.micromodal-slide[aria-hidden=true] .modal__container {
  -webkit-animation: mmslideOut .3s cubic-bezier(0, 0, 0.2, 1);
  animation: mmslideOut .3s cubic-bezier(0, 0, 0.2, 1)
}
.micromodal-slide .modal__container, .micromodal-slide .modal__overlay {
  will-change: transform
}
.button-modal-close {
  background: #eee;
  color: #333;
  border-radius: 100vh;
  text-align: center;
  position: relative;
  font-size: 1.2rem;
  padding-top: .5em;
  padding-right: 1em;
  padding-bottom: .5em;
  padding-left: 2em
}
.button-modal-close:hover {
  opacity: .8
}
@media screen and (max-width: 767px) {
  .micromodal-slide .modal__overlay {
    bottom: 80px
  }
}
.button-modal-close-icon {
  margin-left: 8px
}
.button-modal-close-icon::before, .button-modal-close-icon::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 1px;
  top: 50%;
  left: 1em;
  background-color: #000030;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.button-modal-close-icon::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.button-modal-close-icon::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.button-modal-close-icon:hover {
  opacity: 1
}
.micromodal-slide .splide {
  position: static
}
@media screen and (min-width: 768px) {
  .splide-lineupContainer.splide.is-initialized:not(.is-active) .splide__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
}
@media screen and (max-width: 767px) {
  .splide-lineupContainer.splide.is-initialized.is-overflow {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw)
  }
}
.splide__arrow.modal__arrow {
  background-color: rgba(0, 0, 0, 0) !important
}
.splide__arrow.modal__arrow svg {
  fill: #000030 !important
}
@media screen and (max-width: 767px) {
  .splide__arrow--prev.modal--prev {
    left: 0em
  }
}
@media screen and (max-width: 767px) {
  .splide__arrow--next.modal--next {
    right: 0em
  }
}
.splide__arrow.modal__arrow:disabled {
  display: none !important
}
.splide__pagination.modal__pagination {
  margin-top: 32px;
  position: static;
  bottom: 0
}
.splide__pagination__page.modal__page {
  background: #eee;
  margin: 4px
}
.splide__pagination__page.modal__page.is-active {
  background: #ccc;
  -webkit-transform: scale(1.25);
  transform: scale(1.25)
}