
<div class="" id="sakekasu-renewal">
  <img class="only-pc"
    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/f10f65d2db3f0223e03cae73a07b492f79ebbd28.jpg?v=1708288913">

  <img class="only-sp"
    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/6e5d48a63e52803b51232fea4def052e0b0f4822.jpg?v=1708288912">


  <div class="section_page" style="padding:0;">
    <section>
      <div class="Container">
        <div class="paragraph white-bg" style="margin-bottom: 0!important;">
          <div class="renewal_menu">
            <ul>
              <li><a href="#lineup">LINEUP</a></li>
              <li><a href="#howtouse">HOW TO USE</a></li>
              <li><a href="#story">開發故事</a></li>
              <li><a href="#material">關於素材</a></li>
            </ul>
          </div>

          <div class="only-pc" style="font-size:1.5rem; text-align: center;">
            <p>
              SHIRO保養系列中的代表性保養品「酒粕系列」，全面升級更新。<br>
              全新添加碾米過程的副產物米糠，蛻變新生為「酒粕米糠系列」，<br>
              保有能迅速滋潤肌膚的優點，同時養成更加潤澤的澎潤肌膚。<br>
              本系列除「酒粕米糠化妝水」「酒粕米糠精華液」產品外，「酒粕米糠雙層精華」初次登場。
            </p>
            </div>

          <div class="only-sp" style="font-size:15px; text-align: justify; line-height: 3.3rem;letter-spacing: 0.1rem;">
            <p>
              SHIRO保養系列中的代表性保養品「酒粕系列」，全面升級更新。<br>
              全新添加碾米過程的副產物米糠，蛻變新生為「酒粕米糠系列」，保有能迅速滋潤肌膚的優點，同時養成更加潤澤的澎潤肌膚。<br>
              本系列除「酒粕米糠化妝水」「酒粕米糠精華液」產品外，「酒粕米糠雙層精華」初次登場。
            </p>
            </div>

          <h2 style="text-align: center; margin: 55px 0 25px 0; font-size:1.5em;">為什麼添加米糠？</h2>

          <div class="maininfo">
            <p>
              「SHIRO LIFE<sup>*<span
                class="u-en">1</span></sup>」玄米甘酒製造商之一的山燕庵詢問我們是否能再次活用在碾米時會產生剩餘的米糠，成為了我們改良酒粕系列產品的契機。<br>
                米糠富含糙米大多數的營養成分。為了發揮其内含的營養成分，在不斷嘗試產品研發試作的過程中，於SHIRO代表性保養品「酒粕系列」中加入米糠，「酒粕米糠系列」就此誕生。<br>
                經過仔細思考，兩者皆是由稻米而誕生的素材。酒粕與米糠的結合，能展現稻米最原始的姿態。 因此，結合酒粕的滲透力與米糠的保濕力，打造柔嫩、潤澤透亮肌膚的「酒粕米糠系列」由此誕生。<br><br>
                <span style="font-size: 1.1rem;">*1 SHIRO LIFE為銷售來自全日本各地生產者精選製作的SHIRO食品副品牌(僅於日本販售)</span>
              </p>
          </div>


          <h3 id="lineup"
            style="font-size: 2.2rem; margin-top: 55px; text-align: left; letter-spacing: 3;"
            class="u-en">LINEUP</h3>

          <div class="only-pc"
            style="display: flex; justify-content: space-between; font-size: 14px; margin-top: 25px; align-items: stretch;">

            <div style="width: 30%;">
              <div>
                <a href="/products/sakekasu-komenuka-lotion_5" target="_blank">
                  <img
                    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/lineup-sakekasu_komenuka-clear-lotion-pc.jpg?v=1708288912"></a>
                <p>
                  <a href="/products/sakekasu-komenuka-lotion_5" target="_blank"
                    style="text-decoration: underline; font-size: 1.3rem; margin-top: 15px;">酒粕米糠化妝水</a>
                  120mL ｜NT 1,358
                </p>
              </div>
              <p style="text-align:justify; line-height: 1.6;">
                SHIRO人氣熱銷產品「酒粕化妝水」全面升級更新。添加米糠成分<sup>*<span
                    class="u-en">2</span></sup>，相較於過去的產品，成功將酒粕米糠化妝水添加的素材提取物提升了2倍。清透的質地能迅速滲透，打造飽滿的柔嫩肌膚。
              </p>
            </div>

            <div style="width: 30%;">
              <div>
                <a href="/products/sakekasu-komenuka-serum" target="_blank"><img
                    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/dbcae54057d046efac30fcf08b7164857a306ddc.jpg?v=1708288912"
                    alt=""></a>
                <p>
                  <a href="/products/sakekasu-komenuka-serum" target="_blank"
                    style="text-decoration: underline; font-size: 1.3rem; margin-top: 15px;">酒粕米糠精華液</a>
                  60mL ｜NT 2,231
                </p>
              </div>

              <p style="text-align:justify; line-height: 1.6;">
                將酒粕<sup>*<span class="u-en">3</span></sup>與米糠<sup>*<span
                    class="u-en">2</span></sup>的素材力量，溫和浸透至肌膚的「酒粕米糠精華液」。添加米糠成分<sup>*<span
                    class="u-en">2</span></sup>，相較於過去的產品，成功將酒粕米糠精華液添加的素材提取物提升了1.6倍。濃潤質地，賦予肌膚表面光澤，養成由內而外澎彈飽滿的素顏肌。
              </p>
            </div>

            <div style="width: 30%;">
              <div>
                <a href="/products/sakekasu-komenuka-oil-in-serum" target="_blank"><img
                    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/lineup-sakekasu_komenuka-clear-oil-in-serum-pc.jpg?v=1708288912"
                    alt=""></a>
                <p>
                  <a href="/products/sakekasu-komenuka-oil-in-serum" target="_blank"
                    style="text-decoration: underline; font-size: 1.3rem; margin-top: 15px;">
                    酒粕米糠雙層精華
                  </a>
                  30ml ｜NT 2,700
                </p>
              </div>

              <p style="text-align:justify; line-height: 1.6;">
                手工精心榨取的酒粕米糠精華油，搭配醇厚米糠油製成雙層質地精華油。富含胺基酸及神經醯胺等營養成分，有助改善因乾燥或環境因素所造成的肌膚不適，持續使用可調理肌膚紋理，養成彈潤透亮肌<sup>*<span
                    class="u-en">4</span></sup>。
              </p>
            </div>

          </div>

          <div class="only-sp"
            style="display: flex; justify-content: space-between; font-size: 14px; margin-top: 25px;">
            <section class="slider">
              <div id="carousel" class="flexslider">
                <ul class="slides slides01">
                  <li style="text-align:center; padding-bottom: 15px;">
                    <img
                      src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/lineup-sakekasu_komenuka-clear-lotion-pc.jpg?v=1708288912">
                    <div class="thumbList__arrow" style="font-size: .9rem; position: relative; padding-bottom: 8px;">化妝水
                    </div>
                  </li>
                  <li style="text-align:center; padding-bottom: 15px;">
                    <img
                      src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/dbcae54057d046efac30fcf08b7164857a306ddc.jpg?v=1708288912">
                    <div class="thumbList__arrow" style="font-size: .9rem; position: relative; padding-bottom: 8px;">精華液
                    </div>
                  </li>
                  <li style="text-align:center; padding-bottom: 15px;">
                    <img
                      src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/lineup-sakekasu_komenuka-clear-oil-in-serum-pc.jpg?v=1708288912">
                    <div class="thumbList__arrow" style="font-size: .9rem; position: relative; padding-bottom: 8px;">
                      雙層精華</div>
                  </li>
                </ul>
              </div>

              <div id="slider" class="flexslider">
                <ul class="slides slides02" >
                  <li>
                    <div style="width:100%; overflow-x:hidden;">
                      <div>
                        <a href="/products/sakekasu-komenuka-lotion_5" target="_blank">
                          <img
                            src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/lineup-sakekasu_komenuka-clear-lotion-pc.jpg?v=1708288912"></a>
                        <p>
                          <a href="/products/sakekasu-komenuka-lotion_5" target="_blank"
                            style="text-decoration: underline; font-size: 1.3rem; margin-top: 15px;">酒粕米糠化妝水</a>
                          120mL ｜NT 1,358
                        </p>
                      </div>
                      <div
                        style="width:95%; height: auto; margin: 20px 0 0 0; text-align:justify; line-height: 1.6; word-break: break-all !important;">
                        SHIRO人氣熱銷產品「酒粕化妝水」全面升級更新。<br>添加米糠成分<sup>*<span
                            class="u-en">2</span></sup>，相較於過去的產品，成功將酒粕米糠化妝水添加的素材提取物提升了2倍。<br>清透的質地能迅速滲透，打造飽滿的柔嫩肌膚。
                      </div>
                    </div>

                  </li>

                  <li>
                    <div style="width:100%; overflow-x:hidden;">
                      <div>
                        <a href="/products/sakekasu-komenuka-serum" target="_blank"><img
                            src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/dbcae54057d046efac30fcf08b7164857a306ddc.jpg?v=1708288912"></a>
                        <p>
                          <a href="/products/sakekasu-komenuka-serum" target="_blank"
                            style="text-decoration: underline; font-size: 1.3rem; margin-top: 15px;">酒粕米糠精華液</a>
                          60mL ｜NT 2,231
                        </p>
                      </div>

                      <div
                        style="width:95%; height: auto; margin: 20px 0 0 0; text-align:justify; line-height: 1.6; word-break: break-all !important;">
                        將酒粕<sup>*<span class="u-en">3</span></sup>與米糠<sup>*<span
                            class="u-en">2</span></sup>的素材力量，<br>溫和浸透至肌膚的「酒粕米糠精華液」。<br>添加米糠成分<sup>*<span
                            class="u-en">2</span></sup>，相較於過去的產品，成功將酒粕米糠精華液添加的素材提取物提升了1.6倍。<br>濃潤質地，賦予肌膚表面光澤，養成由內而外澎彈飽滿的素顏肌。
                      </div>
                    </div>

                  </li>

                  <li>
                    <div style="width:100%; overflow-x:hidden;">
                      <div>
                        <a href="/products/sakekasu-komenuka-oil-in-serum" target="_blank">
                          <img
                            src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/lineup-sakekasu_komenuka-clear-oil-in-serum-pc.jpg?v=1708288912"></a>
                        <p>
                          <a href="/products/sakekasu-komenuka-oil-in-serum" target="_blank"
                            style="text-decoration: underline; font-size: 1.3rem; margin-top: 15px;">
                            酒粕米糠雙層精華
                          </a>
                          30ml ｜NT 2,700
                        </p>
                      </div>

                      <div
                        style="width:95%; height: auto; margin: 20px 0 0 0; text-align:justify; line-height: 1.6; word-break: break-al !important;">
                        手工精心榨取的酒粕米糠精華油，搭配醇厚米糠油製成雙層質地精華油。<br>富含胺基酸及神經醯胺等營養成分，有助改善因乾燥或環境因素所造成的肌膚不適，<br>持續使用可調理肌膚紋理，養成彈潤透亮肌<sup>*<span
                            class="u-en">4</span></sup>。
                      </div>
                    </div>

                  </li>
                </ul>
              </div>
            </section>

          </div>

          <div style="font-size: 1rem; margin-top: 20px;">
            <p>
              *2 米糠/保濕　*3 酒粕/保濕　*4 因保濕而透亮的肌膚
            </p>
          </div>


          <h3 id="howtouse"
            style="font-size: 2.2rem; margin-top: 55px; text-align: left;  letter-spacing: 3;"
            class="u-en">HOW TO USE</h3>

          <div
            style="display: flex; flex-wrap: wrap; justify-content: space-between; font-size: 14px; margin-top: 25px; align-items: stretch;">
            <div class="main_step" style="margin-bottom: 25px;">
              <a class="step_title" href="/collections/skin-care-3-steps" target="_blank">
                <h3 class="u-en" >毎日基礎3步驟</h3>
              </a>

              <div class="steps">
                <ul>
                  <li>
                    <div style="text-align: center; color: #727272;">
                      STEP1
                    </div>

                    <a href="/products/sakekasu-komenuka-lotion_5" target="_blank">
                      <img class="bottle"
                        src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use-01-sakekasu_komenuka-clear-lotion-pc.jpg?v=1708288913">
                    </a>

                    <a class="step_2_title">酒粕米糠<br>化妝水</a>

                    <div
                      style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                      <div class="circle">約50元<br>硬幣<br>大小</div>
                    </div>
                  </li>

                  <li>
                    <div style="text-align: center; color: #727272;">
                      STEP2
                    </div>

                    <a href="/products/sakekasu-komenuka-serum" target="_blank">
                      <img class="bottle"
                        src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use-01-sakekasu_komenuka-clear-serum-pc.jpg?v=1708288912">
                    </a>

                    <a class="step_2_title">酒粕米糠<br>精華液</a>

                    <div
                      style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                      <div class="circle">按壓<br>2-4下</div>
                    </div>
                  </li>

                  <li>
                    <div style="text-align: center; color: #727272;">
                      STEP3
                    </div>

                    <a href="/products/sakekasu-komenuka-oil-in-serum" target="_blank">
                      <img class="bottle"
                        src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use-01-sakekasu_komenuka-clear-oil-in-serum-pc.jpg?v=1708288912">
                    </a>

                    <a class="step_2_title">酒粕米糠<br>雙層精華</a>

                    <div
                      style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                      <div class="circle">3-6滴
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div style="margin-top: 24px; line-height: 1.5;" class="top_space">
                不需要乳液即可養成澎潤透亮肌膚的基本保養3步驟。化妝水與精華液賦予肌膚滋潤，再以酒粕米糠雙層精華保濕鎖水。
              </div>
            </div>

            <div class="main_step_2" style="margin-bottom: 25px;">
              <a class="step_title" href="/collections/skin-hydrate-4-steps" target="_blank">
                <h3 class="u-en">深層保濕4步驟</h3>
              </a>

              <div class="steps_2">
                <ul>
                  <li>
                    <div style="text-align: center; color: #727272;">
                      STEP1
                    </div>

                    <a href="/products/sakekasu-komenuka-oil-in-serum" target="_blank">
                      <img
                        src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use-01-sakekasu_komenuka-clear-oil-in-serum-pc.jpg?v=1708288912">
                    </a>

                    <a class="step_2_title">酒粕米糠<br>雙層精華</a>

                    <div
                      style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                      <div class="circle">3滴
                      </div>
                    </div>
                  </li>

                  <li>
                    <div style="text-align: center; color: #727272;">
                      STEP2
                    </div>

                    <a href="/products/sakekasu-komenuka-lotion_5" target="_blank">
                      <img
                        src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use-01-sakekasu_komenuka-clear-lotion-pc.jpg?v=1708288913">
                    </a>

                    <a class="step_2_title">酒粕米糠<br>化妝水</a>

                    <div
                      style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                      <div class="circle">約50元<br>硬幣<br>大小</div>
                    </div>
                  </li>

                  <li>
                    <div style="text-align: center; color: #727272;">
                      STEP3
                    </div>

                    <a href="/products/kombu-skin-serum_2" target="_blank">
                      <img class="bottle"
                        src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use-02-konbu-moisturizing-serum-pc.jpg?v=1708288912">
                    </a>

                    <a class="step_2_title">昆布<br>精華液</a>

                    <div
                      style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                      <div class="circle">按壓<br>2-4下
                      </div>
                    </div>
                  </li>

                  <li>
                    <div style="text-align: center; color: #727272;">
                      STEP4
                    </div>

                    <a href="/products/kombu-facial-cream_1" target="_blank">
                      <img class="bottle"
                        src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use-02-konbu-moisturizing-hace-cream-pc.jpg?v=1708288912">
                    </a>

                    <a class="step_2_title">昆布<br>保濕霜</a>

                    <div
                      style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                      <div class="circle">按壓<br>1-2下
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div style="margin-top: 20px; line-height: 1.5; text-align: justify;" class="top_space">
                肌膚感到乾燥不適時，推薦將雙層精華作為前導精華使用，以軟化角質。推薦和保水力高的昆布系列搭配使用，使肌膚緊實彈潤。
              </div>
            </div>

            <div class="main_step_2" style="margin-bottom: 25px;">
              <a class="step_title" href="/collections/skin-care-4-steps" target="_blank">
                <h3 class="u-en">改善膚況4步驟</h3>
              </a>

              <div class="steps_2">
                <ul>

                  <li>
                    <div style="text-align: center; color: #727272;">
                      STEP1
                    </div>

                    <a href="/products/sakekasu-komenuka-lotion_5" target="_blank"
                      style="display:block; margin-bottom: 10px;">
                      <img class="bottle"
                        src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use-01-sakekasu_komenuka-clear-lotion-pc.jpg?v=1708288913">
                    </a>

                    <a class="step_2_title">酒粕米糠<br>化妝水</a>

                    <div
                      style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                      <div class="circle">約50元<br>硬幣<br>大小</div>
                    </div>
                  </li>

                  <li>
                    <div style="text-align: center; color: #727272;">
                      STEP2
                    </div>

                    <a href="/products/sakekasu-komenuka-serum" target="_blank">
                      <img class="bottle"
                        src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use-02-sakekasu_komenuka-clear-serum-pc.jpg?v=1708288912">
                    </a>

                    <a class="step_2_title">酒粕米糠<br>精華液</a>

                    <div
                      style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                      <div class="circle">按壓<br>2-4下</div>
                    </div>
                  </li>

                  <li>
                    <div style="text-align: center; color: #727272;">
                      STEP3
                    </div>

                    <a href="/products/oil-collection-calendula-oil" target="_blank">
                      <img class="bottle"
                        src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use-02-calendula-rescue-oil-pc.jpg?v=1708288912">
                    </a>

                    <a class="step_2_title">金盞花<br>油</a>

                    <div
                      style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                      <div class="circle">3滴
                      </div>
                    </div>
                  </li>

                  <li>
                    <div style="text-align: center; color: #727272;">
                      STEP4
                    </div>

                    <a href="/products/calendula-repair-cream_1" target="_blank">
                      <img class="bottle"
                        src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use-02-calendula-rescue-cream-pc.jpg?v=1708288912">
                    </a>

                    <a class="step_2_title">金盞花<br>修護霜
                    </a>

                    <div
                      style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                      <div class="circle">直徑<br>1cm<br>左右
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div style="margin-top: 20px; line-height: 1.5; text-align: justify;" class="top_space">
                青春痘、粗糙等膚況不佳時，推薦搭配使用金盞花系列保養品。酒粕和米糠的營養，再加上有肌膚護身符之稱的金盞花，溫柔守護肌膚。
              </div>
            </div>

            <div class="main_step" style="margin-bottom: 25px;">
              <a class="step_title" href="/collections/skin-care-1-step" target="_blank">
                <h3 class="u-en" >疲憊的日子，簡單1步驟</h3>
              </a>

              <div class="steps_3">
                <ul>
                  <li>
                    <div style="text-align: center; color: #727272;">
                      STEP1
                    </div>

                    <a href="/products/sakekasu-komenuka-oil-in-serum" target="_blank">
                      <img class="bottle"
                        src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use-03-sakekasu_komenuka-clear-oil-in-serum-pc.jpg?v=1708288912">
                    </a>

                    <a class="step_2_title">酒粕米糠<br>雙層精華</a>

                    <div
                      style="width: 100%; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
                      <div class="circle">3-6滴<br>塗2次
                      </div>
                    </div>
                  </li>
                </ul>
              </div>

              <div style="margin-top: 31px; line-height: 1.5; text-align: justify;" class="top_space">
                匆忙的早晨，或是過於疲憊想盡快入睡時，使用由提取物及米糠油精製而成的奢華酒粕米糠雙層精華，1瓶就能輕鬆完成保養。
              </div>
            </div>

          </div>

          <h3 id="story"
            style="font-size: 2.2rem; margin-top: 55px; text-align: left; letter-spacing: 3;"
            class="u-en">開發故事</h3>

        </div>

        <div class="paragraph">
          <div>
            <img
              src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/fcbd45692c4208607caf4776e97582cc08169661.jpg?v=1708288913">
          </div>

          <div class="white-bg">

            <div style="text-align: justify;">
              活用米糠來製造產品，是我們在十餘年前就一直想實現的目標。我們反覆鑽研與嘗試，但成品不是氣味酸澀，就是使用感受不佳，我們原本想放棄了。後來從山燕庵的杉原先生那邊得知在碾米時會產生剩餘的米糠，抱著不安的心情嘗試製作後發現，不僅香氣深沉，質地也很快就被肌膚吸收。<br><br>

              原來成功的祕訣，就在於杉原先生對米糠的堅持。<br><br>

              山燕庵的稻田，位於日本石川縣能登半島的山腳，以富含營養價值的山泉水灌溉，並選用自然循環型農耕的減農藥栽培法培育出稻米。山燕庵提供我們的是吸收了土壤滿滿的養分，「KOSHIHIKARI
              AMORE」單一米種的米糠。產地、收穫年份、品種皆相同，兼米種單一的米糠非常稀有。<br><br>

              通常土地規模大的農家會將米糠製作成批發販售的米糠油（玄米油），或者是將其一部分當作肥料使用，剩餘的則丟棄，並沒有妥善處理米糠的習慣。<br><br>

              然而杉原先生卻覺得把好不容易種植出來的農作物丟棄非常可惜，於是一直持續思考該如何再利用這些米糠。<br>
              而隨之誕生的就是山燕庵的經典商品「米糠暖暖包」。不僅追求良好的使用感受，也相當注意容易氧化的米糠是否因不新鮮而減少了香氣。<br>
              為此，山燕庵每次都會以所需用量進行碾米研磨，再將產生出來的米糠密封包裝，放入冷藏保存。<br>
              正因為杉原先生抱持著「將廢棄米糠再利用」的想法，才能將原本只能被丟棄的米糠好好地保存管理，以防止蚊蟲孳生，甚至為米糠的新鮮度把關。<br><br>

              使用來自如此注重新鮮度與品質的山燕庵產米糠所製成的產品，不論是香氣或使用感受都無可挑剔。<br><br>

              杉原先生對米糠的珍惜之意，成就了「酒粕米糠系列」的誕生。<br><br>


              <div style="padding: 0 40px; border-left: .75px solid #000; border-right: .75px solid #000;">
                <strong>山燕庵(さんえんあん)</strong><br>
                2008年3月設立。山燕庵選用自然循環型農耕法，生產兼具安全及美味的農產品。除了稻米外，也有販售SHIRO LIFE中的玄米甜酒「玄米做了一個夢」等加工製品。
              </div>

            </div>


            <h3 id="material"
              style="font-size: 2.2rem; margin: 55px 0 25px 0; text-align: left; letter-spacing: 3;"
              class="u-en">關於素材</h3>

            <div style="text-align: justify;">
              <div style="display: flex; flex-wrap: wrap; margin-bottom: 25px; align-items: stretch;">
                <div class="m_p_1"></div>

                <div class="m_t">
                  <strong style="font-size: 1.6rem;">日本北海道夕張郡栗山町 小林酒造 酒粕</strong><br>

                  使用日本北海道夕張郡栗山町傳統釀酒老舖「小林酒造」的純米酒粕。<br>
                  小林酒造秉持著「生產者・米・水皆來自北海道」的理念，選用北海道產稻米進行釀酒。以米、米麴、水製成的酒粕，原料簡單卻富含胺基酸、麴酸、礦物質等100種以上的營養成分。能迅速滲透肌膚賦予保濕，養成澎潤透亮肌。
                </div>
              </div>

              <div style="display: flex; flex-wrap: wrap;">
                <div class="m_p_2"></div>

                <div class="m_t">
                  <strong style="font-size: 1.6rem;">日本石川縣能登半島 山燕庵 米糠</strong><br>

                  使用來自日本石川縣能登半島的山燕庵「KOSHIHIKARI AMORE」米種的米糠。<br>
                  經自然循環型農耕的減農藥栽培法所種植出來的稻米，吸收了大地的營養精華。米糠富含糙米大部分的營養成分，能夠增強肌膚對環境傷害的防護力。同時具有保水功效，賦予肌膚保濕潤澤。
                </div>
              </div>

            </div>
          </div>
        </div>

        <!--paragraph end-->

        <div class="mainbtn_wrapper">
          <a href="/collections/sakekasu-komenuka" class="Button btn-cart-in-submit mainbtn">
            「酒粕米糠」系列產品一覽
          </a>
        </div>
      </div>

      <!--Container end-->
    </section>
  </div>

</div>

<style>
  body {
    word-break: break-all;
  }

  a {
    display: block;
  }

  .section_page ul {
    padding-left: 0 !important;
  }

  .u-en {
    font-family: TTCommons-Light, 'Noto Sans JP', 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  }

  .maininfo {
    display: block;
    text-align: justify;
    width: 85%;
    margin: 0 auto;
  }

  sub,
  sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  .section_page .paragraph {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 80px;
    letter-spacing: 1px;
    color: #393c3f;
  }
  .paragraph {
    font-weight: 400;
  }
  .renewal_menu li{
    font-weight: 500;
  }
  .white-bg {
    background: #ffffff;
    padding: 30px 60px;
    margin: auto;
  }

  .section_page .Container {
    max-width: 1100px;
    margin: auto;
    padding: 0 30px;
  }

  .square {
    width: 100%;
    background: #f9f9f9;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .circle {
    width: 52px;
    height: 52px;
    margin: 10px auto 0 auto;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: .85rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.1;
  }


  .btn-gray {
    background-color: #2c2e33;
    font-size: 14px;
    max-width: 343px;
    width: 100%;
    display: inline-block;
    line-height: 3.5;
    color: #fff;
    border-radius: 4px;
  }

  .btn-gray:hover {
    color: #bcbcbc;
  }

  .no-slide {
    margin: 0 auto;
    display: flex;
  }

  .no-slide-div {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
  }

  .no-slide-img {
    max-width: 280px;
    width: 92.85%;
    margin: 0 10px;
  }

  .title:before,
  .title:after {
    border-top: 2px solid;
    content: "";
    width: 2em;
  }

  .title.ttl-sec-left {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title:before {
    margin-right: 0.3em;
  }

  .title:after {
    margin-left: 0.3em;
  }

  .renewal_menu {
    width: 60%;
    margin: 0 auto 55px auto;
  }

  .renewal_menu ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    justify-content: space-between;
  }

  .renewal_menu ul li {
    width: fit-content;
    text-align: center;
  }

  .renewal_menu ul li a {
    width: fit-content;
    display: block;
    position: relative;
    /* font-weight: 700; */
  }

  .renewal_menu ul li a::after {
    position: absolute;
    top: 7px;
    right: -22px;
    bottom: 0;
    width: 8px;
    height: 8px;
    content: '';
    -webkit-transform: rotate(135deg) translateY(-50%);
    transform: rotate(135deg) translateY(-50%);
    border-top: solid 1px #000;
    border-right: solid 1px #000;
  }


  .steps,
  .steps_2,
  .steps_3 {
    width: 100%;
    clear: both;
    display: block;
  }

  .steps ul,
  .steps_2 ul,
  .steps_3 ul {
    width: 100%;
    list-style: none !important;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap !important;
    justify-content: space-between;
    align-items: stretch;
  }

  .steps_3 ul {
    justify-content: center;
  }

  .steps ul li {
    width: 32%;
    text-align: center;
  }


  .steps_2 ul li {
    width: 24%;
    text-align: center;
  }

  .steps_3 ul li {
    width: 32%;
    text-align: center;
  }


  .section_page ul:not(.About_Nav) li::before {
    content: '' !important;
    position: absolute;
    top: 0;
    left: 0;
    display: none !important;
  }

  a.step_title {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 6px;
    margin-bottom: 15px;
    display: block;
    position: relative;

    /* font-weight: normal; */

    cursor: pointer;
  }

  a.step_title::after {
    position: absolute;
    top: 50%;
    right: 6px;
    width: 10px;
    height: 10px;
    content: '';
    -webkit-transform: rotate(45deg) translateY(-50%);
    transform: rotate(45deg) translateY(-50%);
    border-top: solid 1px #9d9d9d;
    border-right: solid 1px #9d9d9d;
  }

  .main_step {
    width: 41%;
  }

  .main_step_2 {
    width: 55%;
  }

  .step_2_title {
    font-size: 1rem;
    line-height: 1.4;
    text-decoration: underline;
    clear: both;
    margin: 10px 0 0 0;
  }

  .m_p_1 {
    width: 45%;
    margin-right: 3%;
    background-image: url('//cdn.shopify.com/s/files/1/0834/8965/3022/files/768c4fcc460c7dd74ab9983da4ac86f1c2d5d4f4.jpg?v=1708288912');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .m_t {
    width: 52%;
  }

  .m_p_2 {
    width: 45%;
    margin-right: 3%;
    background-image: url('//cdn.shopify.com/s/files/1/0834/8965/3022/files/3e068b796ce0e9c3604b3740da8735d5bf1b429f.jpg?v=1708288912');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  /*指定步驟商品*/
  .bottle {
    max-height: 148.94px;
  }

  .mainbtn_wrapper {
    width: 60%;
    margin: 0 auto 80px auto;
  }

  .mainbtn {
    width: 100%;
    font-size: 1.25rem !important;
  }

  .mainbtn::after {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    content: '';
    transform: rotate(45deg);
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
  }


  /**/

  .thumbList__arrow::after {
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 12px;
    height: 12px;
    margin-top: 0;
    content: '';
    -webkit-transform: rotate(135deg) translate(-50%, -50%);
    transform: rotate(135deg) translate(-50%, -50%);
    border-top: solid 1px #000;
    border-right: solid 1px #000;

  }



  @media screen and (max-width: 1239px) {
    .white-bg {
      padding: 40px;
    }
  }

  @media screen and (max-width: 1200px) {
    .no-slide-img {
      width: 91.5%;
    }

    .renewal_menu {
      width: 70%;
      margin: 0 auto 55px auto;
    }
  }

  @media screen and (max-width: 1100px) {

    /*指定步驟商品*/
    .bottle {
      max-height: 12.764545vw;
    }

    .maininfo {
      display: block;
      text-align: justify;
      width: 100%;
      margin: 0 auto;
    }
  }


  @media screen and (max-width: 1000px) {
    .no-slide-img {
      width: 80%;
    }

    .renewal_menu {
      width: 50%;
      margin: 0 auto 55px auto;
    }

    .renewal_menu ul li {
      width: 50%;
    }

    .main_step {
      width: 100%;
    }

    .main_step_2 {
      width: 100%;
    }

    .top_space {
      margin-top: 20px !important;
    }
  }


  @media screen and (max-width: 767px) {

    /*指定步驟商品*/
    .bottle {
      max-height: 21.96vw;
    }

    .step_2_title {
      font-size: 1.1rem;
    }

    .title:before,
    .title:after {
      border-top: 1.5px solid;
      content: "";
      width: 1.1em;
    }

    .title.ttl-sec-left {
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .m_t {
      width: 100%;
    }

    .m_p_1,
    .m_p_2 {
      width: 100%;
      height: 55vw;
      margin-bottom: 15px;
    }


    .mainbtn_wrapper {
      width: 80%;
      margin: 0 auto 75px auto;
    }

  }


  .flexslider .slides::after {
    content: none !important;
    display: none !important;
  }

  .flex-nav-prev,
  .flex-nav-next {
    display: none !important;
  }


  /* -------------------------------- 
  
  Main components 
  
  -------------------------------- */



  .noscroll {
    position: fixed;
    width: 100%;
  }

  ::-webkit-scrollbar {
    /*隱藏滾輪*/
    display: none;
  }
</style>

<!--跳窗js放置在html head---------->

<script>
  $(function () {
    const pageWidth = document.documentElement.scrollWidth;

    if (pageWidth <= 1100) {
      $(".renewal_menu a[href^='#']").on('click', function (e) {
        // prevent default anchor click behavior
        e.preventDefault();

        // animate
        $('html, body').animate({
          scrollTop: $(this.hash).offset().top - 100
        }, 300, function () {
        });

      });
    }
    else {
      $(".renewal_menu a[href^='#']").on('click', function (e) {
        // prevent default anchor click behavior
        e.preventDefault();

        // animate
        $('html, body').animate({
          scrollTop: $(this.hash).offset().top - 218
        }, 300, function () {
        });

      });
    };
  });

</script>


<!-- FlexSlider -->
<script defer src="https://shiro-shiro.tw/js/jquery.flexslider.js"></script>

<script type="text/javascript">
  $(function () {
    SyntaxHighlighter.all();
  });
  $(window).load(function () {
    $('#carousel').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      itemWidth: 110,
      itemMargin: 3,
      asNavFor: '#slider'
    });

    $('#slider').flexslider({
      animation: "slide",
      controlNav: false,
      animationLoop: false,
      slideshow: false,
      sync: "#carousel",
      start: function (slider) {
        $('body').removeClass('loading');
      }
    });
  });
</script>

<style>
  .only-sp .slides01 ,.slides02{
    padding-left: none !important;
    list-style: none; 
  }
  .only-sp .slides01{
    display: flex;
  }
  .only-sp .slides02 li{
    margin-top: 50px;
  }
  .only-pc {
    display: none !important;
  }

  @media only screen and (min-width: 769px) {

    span.only-pc,
    img.only-pc {
      display: inline-block !important;
    }
  }

  @media only screen and (min-width: 769px) {
    .only-pc {
      display: flex !important;
      justify-content: center;
    }
  }

  span.only-sp,
  img.only-sp {
    display: inline-block !important;
  }

  .only-sp {
    display: block !important;
  }

  @media only screen and (min-width: 769px) {

    .only-sp,
    span.only-sp,
    img.only-sp {
      display: none !important;
    }
  }

  .renewal_menu {
    width: 60%;
    margin: 0 auto 55px auto;
  }

  @media screen and (max-width: 1200px) {
    .renewal_menu {
      width: 70%;
    }
  }
  @media screen and (max-width: 640px) {
    .section_page .Container {
      padding: 0 12px;
    }

    .renewal_menu {
      width: 60%;
    }
    .renewal_menu ul li {
      font-size: 1.3rem;
      /* font-weight: normal; */
    }
    .maininfo  p{
      line-height: 3.3rem;
    }
    .m_p_1, .m_p_2{
      margin-right: initial;
    }
    .white-bg{
      padding: 24px;
    }
  }


  @media screen and (max-width: 500px) {
    .renewal_menu {
      width: 75%;
    }
  }


  @media screen and (max-width: 420px) {
    .renewal_menu {
      width: 85%;
    }
  }

  #sakekasu-renewal h3 {
    display: block;
    font-size: 1.17em;
    /* font-weight: 700; */
  }

.Button{
  position: relative;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    text-indent: 5px;
    letter-spacing: 5px;
    /* font-weight: 500; */
    font-style: normal;
    background-color: rgb(44, 46, 51);
    z-index: 1;
    -webkit-tap-highlight-color: initial;
    color: rgb(255, 255, 255);
    /* font-family: 微軟正黑體, commons, "Nunito Sans", sans-serif; */
    padding: 15px 10px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s, border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.8);
    border-color: rgb(44, 46, 51);
}


  html,
  body {
    font-size: 10px;
  }

  @media only screen and (min-width: 769px) {

    html,
    body {
      font-size: 12px;
    }
  }
/* 
  body {
    font-family: 'NotoSansJP', 'TTCommons', "Hiragino Kaku Gothic Pro", "Meiryo", "メイリオ", "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Roboto, "Droid Sans", sans-serif !important;
  } */
</style>