<div class="l-wrapper">
  <h1 class="l-kv">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/mv_icemint_pc.jpg" media="(min-width: 768px)" width="100%" height="*">
      <img class="l-kv__img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/mv_icemint_sp.jpg" alt="夏日救世主 「冰涼薄荷」" loading="eager" width="100%" height="*">
    </picture>
  </h1>
  <div class="menu">
    <ul class="menuList">
      <li class="menuList__item">
        <button class="menuList__link menuList__link--arrow" onclick="scrollToTarget('#a-lineup')" type="button" aria-label="Scroll to heading">LINEUP</button>
      </li>
      <li class="menuList__item">
        <button class="menuList__link menuList__link--arrow" onclick="scrollToTarget('#a-howto')" type="button" aria-label="Scroll to heading">READY FOR ICE MINT?</button>
      </li>
      <li class="menuList__item">
        <button class="menuList__link menuList__link--arrow"onclick="scrollToTarget('#a-recommend')" type="button" aria-label="Scroll to heading">SET RECOMMENDATION</button>
      </li>
    </ul>
  </div>
  <div class="l-main">
    <div class="leadBlock">
      <p class="leadBlock__text">檸檬、萊姆、佛手柑等柑橘系精油以及薄荷的香氣，使心情清爽煥然一新。<br>
        無論是悶熱潮濕的梅雨季節，<br class="spOnly">還是炎熱的夏日，<br class="spOnly">冰涼薄荷系列產品都將成為您的夏日好夥伴。
        </p>
        <section class="lineupBlock" id="a-lineup">
          <h2 class="lineupBlock__heading">LINEUP</h2>
          <p class="lineupBlock__text">
            包含數量限定的「冰涼薄荷身體噴霧 酷涼版」<br>全6款冰涼薄荷系列產品</p>
          <div class="icemint-lineup">
            <!-- splide -->
            <div class="splide splide--icemint" aria-label="LINEUP">
              <div class="splide__track splide__track--icemint">
                <ul class="splide__list lineupList">
                  <li class="splide__slide">
                    <button clss="splide__link" onclick="scrollToTarget('#a-ex')" type="button" aria-label="Scroll to heading">
                      <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/menu_ex.png" alt="冰涼薄荷身體噴霧 酷涼版">
                    </button>
                  </li>
                  <li class="splide__slide">
                    <button clss="splide__link" onclick="scrollToTarget('#a-bm')" aria-label="Scroll to heading">
                      <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/menu_bm.png" alt="冰涼薄荷身體噴霧">
                    </button>
                  </li>
                  <li class="splide__slide">
                    <button clss="splide__link" onclick="scrollToTarget('#a-bl')" aria-label="Scroll to heading">
                      <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/menu_bl.png" alt="冰涼薄荷身體乳液">
                    </button>
                  </li>
                  <li class="splide__slide">
                    <button clss="splide__link" onclick="scrollToTarget('#a-shamcon')" aria-label="Scroll to heading">
                      <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/menu_sham.png" alt="冰涼薄荷洗髮精">
                    </button>
                  </li>
                  <li class="splide__slide">
                    <button clss="splide__link" onclick="scrollToTarget('#a-shamcon')" aria-label="Scroll to heading">
                      <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/menu_con.png" alt="冰涼薄荷潤髮乳">
                    </button>
                  </li>
                  <li class="splide__slide">
                    <button clss="splide__link" onclick="scrollToTarget('#a-sc')" aria-label="Scroll to heading">
                      <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/menu_sc.png" alt="冰涼薄荷身體磨砂膏">
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
    </div>
    <div class="l-bg-fixed">
      <section class="productBox" id="a-ex">
        <div class="productBox__inner">
          <p class="icemint--tag">LIMITED</p>
          <h3 class="productBox__title u-tt--light">BODY MIST EXTRA COOL</h3>
          <div class="productContainer">
            <div class="productContainer__inner">
              <div class="imageArea">
                <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/extracool.png" alt="BODY MIST EXTRA COOL" loading="lazy">
                <div class="coolLevel">
                  <p class="coolLevel__text">COOL Level <sup>&#42;1</sup></p>
                  <img class="coolLevel__img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/cl7.svg" alt="COOL Level 7" loading="lazy">
                </div>
              </div>
              <div class="textArea">
                <a class="textArea__link ga-icemint_lineup_13072" href="https://shiro-shiro.tw/products/ice-mint-body-mist-extra-cool-2024">
                  <p class="productName">冰涼薄荷身體噴霧 酷涼版</p>
                  <p class="productPrice">50mL NT$620</p>
                </a>
                <p class="ProductDesc">高濕、酷暑的天氣即將到來，「冰涼薄荷身體噴霧 酷涼版」讓您感受強勁的清涼爽快感。</p>
                <div class="cartbuttonArea">
                  <p class="c-btn c-btn--soldout">SOLD OUT</p>
                  <p class="u-note mt-3">※由於本產品廣受好評，線上購物網已售罄，敬請見諒。<br>（2024/7/16(二)補註）</p>
                </div>
                <div class="c-box-comment">
                  <div class="c-box-comment__inner c-box-comment__inner--scroll-sp">
                    <p class="c-box-comment__title">STAFF COMMENT</p>
                    <div class="c-box-comment__contents">
                      <p>每天上班前或想轉換心情的時候噴一下，當然也可以帶去夏季的各種節日、露營或旅行。<br>
                        這款產品能提供強勁的爽快感，在盛夏的各種場合中都能發揮很大的作用。但注意不要使用過量喔。</p>
                      <p>我非常喜歡經典款的身體噴霧，但到了夏天，總是忍不住選擇酷涼版。<br>
                        因為我的頭髮很長，每當感到悶熱時，我特別喜歡在脖子後面噴幾下。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="productBox" id="a-bm">
        <div class="productBox__inner">
          <h3 class="productBox__title u-tt--light">BODY MIST</h3>
          <div class="productContainer">
            <div class="productContainer__inner">
              <div class="imageArea">
                <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/bodymist.png" alt="BODY MIST" loading="lazy">
                <div class="coolLevel">
                  <p class="coolLevel__text">COOL Level <sup>&#42;1</sup></p>
                  <img class="coolLevel__img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/cl2.svg" alt="COOL Level 2" loading="lazy">
                </div>
              </div>
              <div class="textArea">
                <a class="textArea__link ga-icemint_lineup_12888" href="https://shiro-shiro.tw/products/ice-mint-body-mist_2">
                  <p class="productName">冰涼薄荷身體噴霧</p>
                  <p class="productPrice">50mL NT$600</p>
                </a>
                <p class="ProductDesc">一噴就能感受到沁涼舒爽的身體噴霧。在出汗時也能感受到涼爽，讓您在戶外也能快速降溫。</p>
                <div class="cartbuttonArea">
                  <a class="c-btn arrow ga-icemint_lineup_12888_cart" href="https://shiro-shiro.tw/cart/add?id=47550669685022&quantity=1">加入購物車</a>
                  {% comment %} <p class="c-btn c-btn--soldout">預計8月中旬到貨</p> {% endcomment %}
                </div>
                <div class="c-box-comment">
                  <div class="c-box-comment__inner c-box-comment__inner--scroll-sp">
                    <p class="c-box-comment__title">STAFF COMMENT</p>
                    <div class="c-box-comment__contents">
                      <p>在脖子上噴2&#65374;3下，汗水就會迅速消退。薄荷醇<sup>&#42;2</sup>的沁涼感和清新的薄荷香氣，在潮濕的季節裡也能輕鬆舒爽地度過。</p>
                      <p>夏天我一定會把它放在包包裡隨身攜帶！<br>
                        迅速地噴在脖子後面、背部、腳踝周圍，真的非常舒服，我超級喜歡。<br>
                        在炎熱的日子裡，我會疊用其它冰涼薄荷產品來調整涼爽度。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="productBox" id="a-bl">
        <div class="productBox__inner">
          <h3 class="productBox__title u-tt--light">BODY LOTION</h3>
          <div class="productContainer">
            <div class="productContainer__inner">
              <div class="imageArea">
                <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/bodylotion.png" alt="BODY LOTION" loading="lazy">
                <div class="coolLevel">
                  <p class="coolLevel__text">COOL Level <sup>&#42;1</sup></p>
                  <img class="coolLevel__img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/cl4.svg" alt="COOL Level 4" loading="lazy">
                </div>
              </div>
              <div class="textArea">
                <a class="textArea__link ga-icemint_lineup_12889" href="https://shiro-shiro.tw/products/ice-mint-body-lotion_2">
                  <p class="productName">冰涼薄荷身體乳液</p>
                  <p class="productPrice">190mL NT$750</p>
                </a>
                <p class="ProductDesc">輕輕塗抹即可持續保持清涼膚觸，保濕、柔潤肌膚的身體乳液。</p>
                <div class="cartbuttonArea">
                  <a class="c-btn arrow ga-icemint_lineup_12889_cart" href="https://shiro-shiro.tw/cart/add?id=47550669717790&quantity=1">加入購物車</a>
                  {% comment %} <p class="c-btn c-btn--soldout">預計8月中旬到貨</p> {% endcomment %}
                </div>
                <div class="c-box-comment">
                  <div class="c-box-comment__inner c-box-comment__inner--scroll-sp">
                    <p class="c-box-comment__title">STAFF COMMENT</p>
                    <div class="c-box-comment__contents">
                      <p>洗完澡後使用，全身都會有保濕感和涼爽感，是吹頭髮前的救星！<br>放在玄關，出門前使用的話，會感覺涼爽到有點冷的程度，非常棒。</p>
                      <p>在冰涼薄荷系列中也是清涼感很高的產品，我會放在玄關和臥室。放在玄關的乳液會用於外出前，臥室的乳液我會在炎熱難眠的夜晚使用！</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="productBox" id="a-shamcon">
        <div class="productBox__inner">
          <h3 class="productBox__title u-tt--light">SHAMPOO &amp; CONDITIONER</h3>
          <div class="productContainer">
            <div class="productContainer__inner">
              <div class="imageArea">
                <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/shamcon.png" alt="SHAMPOO &amp; CONDITIONER" loading="lazy">
                <div class="coolLevel">
                  <p class="coolLevel__text">COOL Level <sup>&#42;1</sup></p>
                  <img class="coolLevel__img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/cl2.svg" alt="COOL Level 2" loading="lazy">
                </div>
              </div>
              <div class="textArea">
                <a class="textArea__link ga-icemint_lineup_12891" href="https://shiro-shiro.tw/products/ice-mint-shampoo">
                  <p class="productName">冰涼薄荷洗髮精</p>
                  <p class="productPrice">280mL NT$920</p>
                </a>
                <p class="ProductDesc">去除惱人的黏膩油脂與髒汚，迅速帶走夏日悶熱不適。滋養秀髮的同時，享受清爽暢快感的頭皮護理洗髮精。</p>
                <div class="cartbuttonArea">
                  <a class="c-btn arrow ga-icemint_lineup_12891_cart" href="https://shiro-shiro.tw/cart/add?id=47550658609438&quantity=1">加入購物車</a>
                </div>
                <a class="textArea__link textArea__link--2 ga-icemint_lineup_12892" href="https://shiro-shiro.tw/products/ice-mint-conditioner">
                  <p class="productName">冰涼薄荷潤髮乳</p>
                  <p class="productPrice">270g NT$920</p>
                </a>
                <p class="ProductDesc">滋養髮絲的同時，享受沁涼舒適的沐浴時光。賦予髮絲彈力、潤澤的頭皮潤髮乳。</p>
                <div class="cartbuttonArea">
                  <a class="c-btn arrow ga-icemint_lineup_12892_cart" href="https://shiro-shiro.tw/cart/add?id=47550658543902&quantity=1">加入購物車</a>
                </div>
                <div class="c-box-comment">
                  <div class="c-box-comment__inner c-box-comment__inner--scroll-sp">
                    <p class="c-box-comment__title">STAFF COMMENT</p>
                    <div class="c-box-comment__contents">
                      <p>把它搓成泡後，使用在頭皮上會感到非常涼爽。當沖洗時，泡沫滴落全身，讓夏天的沐浴時光變得更加愉快！</p>
                      <p>我喜歡檸檬和萊姆的清新香氣，既能享受到沁涼感又能享受到香氣的雙重愉悅。<br>
                        在全身黏黏的、出汗很多的日子裡我也會疊加使用冰涼薄荷身體磨砂膏，從頭到腳都能感到清爽暢快。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="productBox" id="a-sc">
        <div class="productBox__inner">
          <h3 class="productBox__title u-tt--light">BODY SCRUB</h3>
          <div class="productContainer">
            <div class="productContainer__inner">
              <div class="imageArea">
                <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/scrub.png" alt="BODY SCRUB" loading="lazy">
                <div class="coolLevel">
                  <p class="coolLevel__text">COOL Level <sup>&#42;1</sup></p>
                  <img class="coolLevel__img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/cl3.svg" alt="COOL Level 3" loading="lazy">
                </div>
              </div>
              <div class="textArea">
                <a class="textArea__link ga-icemint_lineup_12887" href="https://shiro-shiro.tw/products/ice-mint-body-scrub">
                  <p class="productName">冰涼薄荷身體磨砂膏</p>
                  <p class="productPrice">110g NT$900</p>
                </a>
                <p class="ProductDesc">內含具高保水力的蘆薈<sup>&#42;3</sup>成分的身體磨砂膏。配合按摩使用，更能舒緩肌膚的疲倦不適感。</p>
                <div class="cartbuttonArea">
                  <a class="c-btn arrow ga-icemint_lineup_12887_cart" href="https://shiro-shiro.tw/cart/add?id=47550658674974&quantity=1">加入購物車</a>
                </div>
                <div class="c-box-comment">
                  <div class="c-box-comment__inner c-box-comment__inner--scroll-sp">
                    <p class="c-box-comment__title">STAFF COMMENT</p>
                    <div class="c-box-comment__contents">
                      <p>這款柔軟的磨砂膏使用起來感覺非常舒服，很容易就會不自覺地想多按摩一下，使用時能夠感受到強烈的涼感，要注意不要使用過度喔（笑）。<br>
                        在夏天的時候，用來按摩小腿最適合了。</p>
                      <p>當小腿浮腫時，使用這款產品按摩會感覺到清爽舒適。建議還可以擦拭腳趾之間，這樣能增加涼爽感，非常推薦。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="c-section-about">
        <a class="c-btn c-btn--all arrow ga-icemint_lineup_278" href="https://shiro-shiro.tw/collections/%E5%86%B0%E6%B6%BC%E8%96%84%E8%8D%B7">查看全部冰涼薄荷系列產品</a>
        <p class="u-note mt-5 u-text--right">&#42;1 清涼的感受度與持續時間長短因人而異</p>
        <p class="u-note mt-1 u-text--right">&#42;2 薄荷醇 &#65295; 清涼・芳香成分</p>
        <p class="u-note mt-1 u-text--right">&#42;3 庫拉索蘆薈葉汁 &#65295; 保濕&肌膚調理成分</p>
      </div>
    </div>
    <section class="c-box-section c-box-section--white">
      <div class="c-box-section__inner">
        <h2 class="c-heading" id="a-howto">READY FOR ICE MINT?</h2>
        <p class="u-text--center">冰涼薄荷產品，在炎熱季節的各種場合<br>
          都是您的清涼救星</p>
        <div class="cardBlock">
          <ul class="cardList">
            <li class="cardList__item">
              <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/outdoor.jpg" alt="" loading="lazy">
              <dl class="howtoDesc">
                <dt>夏日戶外活動時</dt>
                <dd>長時間外出時的可靠幫手。能夠抑制異味並用於防蟲措施。</dd>
              </dl>
              <div class="recommendedItem">
                <h3 class="recommended__title">RECOMMENDED ITEM</h3>
                <dl class="recommendDesc">
                  <dt>
                    <a class="ga-icemint_howto_13072_outdoor" href="https://shiro-shiro.tw/products/ice-mint-body-mist-extra-cool-2024">
                      <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/extracool_s.png" alt="身體噴霧 酷涼版" loading="lazy">
                    </a>
                  </dt>
                  <dd>
                    <a class="ga-icemint_howto_13072_outdoor text--link" href="https://shiro-shiro.tw/products/ice-mint-body-mist-extra-cool-2024">
                      身體噴霧<br>酷涼版
                    </a>
                  </dd>
                </dl>
              </div>
            </li>
            <li class="cardList__item">
              <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/town.jpg" alt="" loading="lazy">
              <dl class="howtoDesc">
                <dt>酷暑日外出時</dt>
                <dd>外出時隨時隨地噴一下，每次出汗後都可以降溫。</dd>
              </dl>
              <div class="recommendedItem">
                <h3 class="recommended__title">RECOMMENDED ITEM</h3>
                <dl class="recommendDesc">
                  <dt>
                    <a class="ga-icemint_howto_12888_town" href="https://shiro-shiro.tw/products/ice-mint-body-mist_2">
                      <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/bodymist_s.png" alt="身體噴霧" loading="lazy">
                    </a>
                  </dt>
                  <dd>
                    <a class="ga-icemint_howto_12888_town text--link" href="https://shiro-shiro.tw/products/ice-mint-body-mist_2">
                      身體噴霧
                    </a>
                  </dd>
                </dl>
              </div>
            </li>
            <li class="cardList__item">
              <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/dry.jpg" alt="" loading="lazy">
              <dl class="howtoDesc">
                <dt>沐浴後</dt>
                <dd>吹乾頭髮前噴在頸部。沐浴後也讓人感到清涼舒適。</dd>
              </dl>
              <div class="recommendedItem">
                <h3 class="recommended__title">RECOMMENDED ITEM</h3>
                <dl class="recommendDesc">
                  <dt>
                    <a class="ga-icemint_howto_12888_dryer" href="https://shiro-shiro.tw/products/ice-mint-body-mist_2">
                      <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/bodymist_s.png" alt="身體噴霧" loading="lazy">
                    </a>
                  </dt>
                  <dd>
                    <a class="ga-icemint_howto_12888_dryer text--link" href="https://shiro-shiro.tw/products/ice-mint-body-mist_2">
                      身體噴霧
                    </a>
                  </dd>
                </dl>
              </div>
            </li>
            <li class="cardList__item">
              <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/sleep.jpg" alt="" loading="lazy">
              <dl class="howtoDesc">
                <dt>睡前護理</dt>
                <dd>透過沁涼的身體護理，讓炎熱難眠的夜晚變得舒適。</dd>
              </dl>
              <div class="recommendedItem">
                <h3 class="recommended__title">RECOMMENDED ITEM</h3>
                <dl class="recommendDesc">
                  <dt>
                    <a class="ga-icemint_howto_12889_sleep" href="https://shiro-shiro.tw/products/ice-mint-body-lotion_2">
                      <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/bodylotion_s.png" alt="身體乳液" loading="lazy">
                    </a>
                  </dt>
                  <dd>
                    <a class="ga-icemint_howto_12889_sleep text--link" href="https://shiro-shiro.tw/products/ice-mint-body-lotion_2">
                      身體乳液
                    </a>
                  </dd>
                </dl>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section class="c-box-section c-box-section--mint">
      <div class="c-box-section__inner">
        <h2 class="c-heading" id="a-recommend">SET RECOMMENDATION</h2>
        <p class="u-text--center">試試STAFF推薦的套組<br>度過一個舒適的夏天吧</p>
        <div class="layeredBlock">
          <div class="layeredContainer">
            <div class="layeredImage">
              <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/set_1.jpg" alt="" loading="lazy">
            </div>
            <div class="layeredText">
              <h3 class="layered__title">透過香氛疊擦，<br>
                讓香氣像薄荷茶般溫和</h3>
              <div class="c-box-comment c-box-comment--border">
                <div class="c-box-comment__inner">
                  <p class="c-box-comment__title">STAFF COMMENT</p>
                  <div class="c-box-comment__contents">
                    <p>質地輕膚舒適的保濕身體乳，加上身體乳液的水潤感。讓肌膚潤澤並且光滑如絲。<br>
                      柑橘薄荷和綠茶的香氛疊擦，令心情清爽舒緩。</p>
                  </div>
                </div>
              </div>
              <div class="layeredCart">
                <div class="layeredCart__item">
                  <a class="layeredCart__link ga-icemint_set_12889" href="https://shiro-shiro.tw/products/ice-mint-body-lotion_2">
                    <p class="productName">冰涼薄荷身體乳液</p>
                    <p class="productPrice">190mL NT$750</p>
                  </a>
                  <div class="cartbuttonArea">
                    <a class="c-btn arrow ga-icemint_set_12889_cart" href="https://shiro-shiro.tw/cart/add?id=47550669717790&quantity=1">加入購物車</a>
                    {% comment %} <p class="c-btn c-btn--soldout">預計8月中旬到貨</p> {% endcomment %}
                  </div>
                </div>
                <div class="layeredCart__item">
                  <a class="layeredCart__link ga-icemint_set_12907" href="https://shiro-shiro.tw/products/white-tea-body-milk">
                    <p class="productName">白茶保濕身體乳</p>
                    <p class="productPrice">195g NT$1,200</p>
                  </a>
                  <div class="cartbuttonArea">
                    <a class="c-btn arrow ga-icemint_set_12907_cart" href="https://shiro-shiro.tw/cart/add?id=47550658085150&quantity=1">加入購物車</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layeredContainer">
            <div class="layeredImage">
              <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/set_2.jpg" alt="" loading="lazy">
            </div>
            <div class="layeredText">
              <h3 class="layered__title">頭皮&amp;髮絲護理，<br>
                在悶熱季節也能清爽健康</h3>
              <div class="c-box-comment c-box-comment--border">
                <div class="c-box-comment__inner">
                  <p class="c-box-comment__title">STAFF COMMENT</p>
                  <div class="c-box-comment__contents">
                    <p>使用苦楝樹頭皮清潔油清潔頭皮後，再使用冰涼薄荷洗髮精和潤髮乳，可以享受更強烈的清爽感受。<br>
                      洗後頭皮會持續清爽到第二天早晨，白天也不再擔心頭皮會出汗。</p>
                  </div>
                </div>
              </div>
              <div class="layeredCart">
                <div class="layeredCart__item">
                  <a class="layeredCart__link ga-icemint_set_12891" href="https://shiro-shiro.tw/products/ice-mint-shampoo">
                    <p class="productName">冰涼薄荷洗髮精</p>
                    <p class="productPrice">280mL NT$920</p>
                  </a>
                  <div class="cartbuttonArea">
                    <a class="c-btn arrow ga-icemint_set_12891_cart" href="https://shiro-shiro.tw/cart/add?id=47550658609438&quantity=1">加入購物車</a>
                  </div>
                </div>
                <div class="layeredCart__item">
                  <a class="layeredCart__link ga-icemint_set_12892" href="https://shiro-shiro.tw/products/ice-mint-conditioner">
                    <p class="productName">冰涼薄荷潤髮乳</p>
                    <p class="productPrice">270g NT$920</p>
                  </a>
                  <div class="cartbuttonArea">
                    <a class="c-btn arrow ga-icemint_set_12892_cart" href="https://shiro-shiro.tw/cart/add?id=47550658543902&quantity=1">加入購物車</a>
                  </div>
                </div>
                <div class="layeredCart__item">
                  <a class="layeredCart__link ga-icemint_set_12419" href="https://shiro-shiro.tw/products/neem-scalp-cleansing-oil">
                    <p class="productName">苦楝樹頭皮清潔油</p>
                    <p class="productPrice">80mL NT$1,670</p>
                  </a>
                  <div class="cartbuttonArea">
                    <a class="c-btn arrow ga-icemint_set_12419_cart" href="https://shiro-shiro.tw/cart/add?id=47550667555102&quantity=1">加入購物車</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="layeredContainer">
            <div class="layeredImage">
              <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/set_3.jpg" alt="" loading="lazy">
              <p class="u-note mt-1">&#42;2 薄荷醇 &#65295; 清涼・芳香成分</p>
            </div>
            <div class="layeredText">
              <h3 class="layered__title">薄荷醇<sup>&#42;2</sup>帶來的清涼感加上按摩，<br>
                舒爽地緩解疲勞和酸痛</h3>
              <div class="c-box-comment c-box-comment--border">
                <div class="c-box-comment__inner">
                  <p class="c-box-comment__title">STAFF COMMENT</p>
                  <div class="c-box-comment__contents">
                    <p>站一天後或全身疲乏時，用這兩款沐浴護理產品最有效。<br>
                      用山金車花油按摩頸部，用身體磨砂膏按摩腿。會感到頭腦清醒，腳步也會更加輕盈，整個人神清氣爽。</p>
                  </div>
                </div>
              </div>
              <div class="layeredCart">
                <div class="layeredCart__item">
                  <a class="layeredCart__link ga-icemint_set_12887" href="https://shiro-shiro.tw/products/ice-mint-body-scrub">
                    <p class="productName">冰涼薄荷身體磨砂膏</p>
                    <p class="productPrice">110g NT$900</p>
                  </a>
                  <div class="cartbuttonArea">
                    <a class="c-btn arrow ga-icemint_set_12887_cart" href="https://shiro-shiro.tw/cart/add?id=47550658674974&quantity=1">加入購物車</a>
                  </div>
                </div>
                <div class="layeredCart__item">
                  <a class="layeredCart__link ga-icemint_set_12597" href="https://shiro-shiro.tw/products/oil-collection-arnica-oil">
                    <p class="productName">山金車花油</p>
                    <p class="productPrice">50mL NT$2,050</p>
                  </a>
                  <div class="cartbuttonArea">
                    <a class="c-btn arrow ga-icemint_set_12597_cart" href="https://shiro-shiro.tw/cart/add?id=47550664605982&quantity=1">加入購物車</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-section-about c-section-about--bottom">
          <a class="c-btn c-btn--all arrow ga-icemint_bottomBtn_278" href="https://shiro-shiro.tw/collections/%E5%86%B0%E6%B6%BC%E8%96%84%E8%8D%B7">查看全部冰涼薄荷系列產品</a>
          <p class="u-note mt-5">※由於本產品含有薄荷醇（清涼成分），可能會對眼睛和鼻子造成刺激。<br>
            請避免使用在包括眼周在內的面部、日曬後或除毛後的肌膚上，如對薄荷醇類的清涼刺激敏感或肌膚有異常的顧客請勿使用。</p>
        </div>
      </div>
    </section>

  </div><!--/ l-main -->
</div><!--/ l-wrapper -->

<script>
function scrollToTarget (id) {
  const target = document.querySelector(id)
  const pos = target.getBoundingClientRect().top + scrollY 
  const threshold = document.querySelector('#shopify-section-header')
    ? document.querySelector('#shopify-section-header').clientHeight
    : 0
  
  window.scrollTo({
    behavior: 'smooth',
    top: pos - threshold
  })
}
</script>