<div id="gift_wrapping">
  <div class="page_width">
  <div class="gift_header gift_inner">
    <h2 class="title">禮物包裝</h2>
    {% comment %} <h3 class="subtitle">Gift</h3> {% endcomment %}
    <p class="paragraph">蘊含著「恭喜」、「感謝」、「加油」以及「請多指教」等多種心意的禮物，傳遞溫暖與祝福。<br>無論是送給重要的人、紀念特別的日子，<br>搭配 SHIRO 的產品，都能為日常生活的每個場景增添亮麗的色彩。</p>
    <div class="menu">
      <ul class="menuList">
        <li class="menuList__item">
          <button class="menuList__link menuList__link--arrow" onclick="scrollToTarget('#a-giftpaperbag')" type="button" aria-label="Scroll to heading">
            <div class="menuIcon">
              <img class="menuIcon__img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/menu_giftbag.png?v=1736816199" width="200" height="200" loading="lazy" alt="">
              <p class="menuIcon__text">禮物手提袋</p>
            </div>
          </button>
        </li>
        <li class="menuList__item">
          <button class="menuList__link menuList__link--arrow" onclick="scrollToTarget('#a-shoppingbag')" type="button" aria-label="Scroll to heading">
            <div class="menuIcon">
              <img class="menuIcon__img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/menu_shoppingbag.png?v=1736816199" width="200" height="200" loading="lazy" alt="">
              <p class="menuIcon__text">購物袋</p>
            </div>
          </button>
        </li>
        <li class="menuList__item">
          <button class="menuList__link menuList__link--arrow" onclick="scrollToTarget('#a-giftbox')" type="button" aria-label="Scroll to heading">
            <div class="menuIcon">
              <img class="menuIcon__img menuIcon__img--box" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/menu_giftbox.png?v=1736816199" width="200" height="200" loading="lazy" alt="">
              <p class="menuIcon__text">禮盒</p>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="gift_container" id="a-giftpaperbag">
    <div class="gift_inner">
      <div class="contentBox">
        <h3 class="contentTitle">禮物手提袋</h3>
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/giftbag_01_sp.jpg?v=1736822843" media="(max-width: 767px)">
          <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/giftbag_01.jpg?v=1736822843" alt="" loading="lazy" width="700" height="300">
        </picture>
        <div class="contentDesc">
          <h4 class="contentHeading">讓送禮者、收禮者與地球都能感到幸福<br>
          SHIRO的全新送禮理念
          </h4>
        <p class="contentText">一般而言，禮物通常會以特別設計的盒子或袋子包裝，再搭配緩衝材防止產品受損，並加上緞帶作為裝飾。然而，大多數包裝在開封後便遭棄置，造成資源浪費。因此，SHIRO 創新設計出一款「禮物手提袋」的新型態包裝，讓包裝本身也成為禮物的一部分。紙袋內附有彈性束帶，用於固定並保護產品，不僅實用，還能大幅減少約五成的二氧化碳排放量，與傳統包裝相比更環保<sup>*1</sup>。</p>
        <p class="c-note">※禮盒將於庫存售完後停止販售，敬請見諒。</p>
        </div>
      </div>
      <div class="contentBox contentBox--limited">
        <h3 class="contentTitle"><a class="u-text-link" href="https://shiro-shiro.tw/products/gift-paper-bag-ss">禮物手提袋 粉色限定 NT$ 90</a>
        </h3>
        <div class="giftFlex">
          <div class="giftFlex__item">
            <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/giftpaperbag_2024.jpg?v=1736822843" alt="禮物手提袋 粉色限定" width="960" height="960" loading="lazy">
          </div>
          <div class="giftFlex__item">
            <h4 class="contentHeading">令人心動的閃耀色彩<br>
              限量版禮物手提袋
              </h4>
            <p>SHIRO限量推出比S尺寸更小一號的粉色限定禮物手提袋。比平常的手提袋更小巧的尺寸，是節日贈禮的理想包裝選擇。將節日的悸動融入這款禮物手提袋中，為特別的時刻送上獨一無二的祝福吧。</p>
            <p><a class="u-text-link" href="https://shiro-shiro.tw/products/gift-paper-bag-ss">點擊此處了解更多</a></p>
            <p>尺寸：W130 &#215; D40 &#215; H185mm</p>
            <p class="c-note">※本產品數量有限，售完即止，敬請諒解。</p>
          </div>
        </div>
      </div>
      <div class="contentBox">
        <h3 class="contentTitle">尺寸與規格</h3>
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/giftbag_all_sp.jpg?v=1736822843" media="(max-width: 767px)">
          <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/giftbag_all.jpg?v=1736822843" alt="" loading="lazy" width="1400" height="600">
        </picture>
        <div class="contentDesc">
          <h4 class="contentHeading">袋內的彈性束帶保護著禮物<br>
            不再需要一次性緩衝材
          </h4>
          <p class="contentText">在袋內附上固定產品的彈性束帶，能發揮緩衝材的功能，即可實現無需使用緩衝材的環保包裝方式。</p>
          <ul class="c-list">
            <li class="c-list__item c-list__item--dot">我們會將產品放入禮物手提袋中進行配送，並提供3種尺寸。</li>
            <li class="c-list__item c-list__item--dot">不提供緩衝材、卡片或緞帶等裝飾服務。</li>
          </ul>
        </div>
        <div class="contentDesc">
          <div class="giftFlex">
            <div class="giftFlex__item">
              <table class="giftsizeTable">
                <thead>
                  <tr class="giftsizeTable__line">
                    <th></th>
                    <th>尺寸</th>
                    <th>含提把（全長）</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="giftsizeTable__line">
                    <td>S</td>
                    <td>W 170 &#215; D 70 &#215; H 260</td>
                    <td>350</td>
                  </tr>
                  <tr class="giftsizeTable__line">
                    <td>M</td>
                    <td>W 230 &#215; D 90 &#215; H 360</td>
                    <td>580</td>
                  </tr>
                  <tr class="giftsizeTable__line">
                    <td>L</td>
                    <td>W 360 &#215; D 120 &#215; H 500</td>
                    <td>580</td>
                  </tr>
                </tbody>
              </table>
              <p class="giftsizeTable__caption">(単位：mm)</p>
              <p>各NT$150</p>
              <p class="u-mt-40">我們會依據您的訂單內容選擇適合的包裝尺寸。請在產品頁面「加入購物車」按鈕上方的「禮物包裝」中，將您希望的包裝方式添加至購物車。</p>
              <p>※若您想自由選擇尺寸，請在「購物車」頁面下方「訂單備註」欄位中填寫需求內容。</p>
            </div>
            <div class="giftFlex__item">
              <div class="videoWrapper">
                <iframe src="https://player.vimeo.com/video/1047348401?h=356ac948b3&amp;title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen;" width="640" height="564" title="GIFT PAPER BAG"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contentBox">
        <div class="giftFlex">
          <div class="giftFlex__item">
            <h3 class="contentTitle sp-only">OTHER USES</h3>
            <ul class="slick_slider" id="slick_slider">
              <li><img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/reuse_01.jpg?v=1736822843" alt="" width="700" height="800" loading="lazy"></li>
              <li><img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/reuse_02.jpg?v=1736822843" alt="" width="700" height="800" loading="lazy"></li>
              <li><img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/reuse_03.jpg?v=1736822843" alt="" width="700" height="800" loading="lazy"></li>
              </ul>
          </div>
          <div class="giftFlex__item">
            <h3 class="contentTitle pc-only">OTHER USES</h3>
            <h4 class="contentHeading">作為包裝用途結束後<br>
              我們為其未來設計了更多可能性</h4>
            <p>這款『禮物手提袋』是由耐水洗牛皮紙製成，輕量又高強度，是不容易變形的材質。還可以作為購物袋或日常外出的小提袋反覆使用。彈性束帶的設計還可以用來固定香水、唇膏、筆袋等小物品，當作一個小內袋使用。並具有防水性，如果袋子有髒污，可以手洗清潔。<br>
              共提供S、M、L3種尺寸。</p>
          </div>
        </div>
      </div>
      <div class="contentBox">
        <ul class="c-list">
          <li class="c-list__item c-note"><span>*1&nbsp;</span><span>關於 CO2 排放量計算的依據，<a class="u-text-link" href="https://shiro-shiro.tw/blogs/news/paper-bag#sec-co2">請參考此處</a>。</span></li>
          <li class="c-list__item c-note"><span>*2&nbsp;</span>雖然此手提袋具備充分的使用功能，但材質畢竟是紙張，若裝入多件重物或受到強烈衝擊，可能會導致損壞。此外，也可能發生在下雨天或因過多水分接觸導致破損的情況，敬請見諒。</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="gift_container" id="a-shoppingbag">
    <div class="gift_inner">
      <div class="contentBox">
        <h3 class="contentTitle">購物袋</h3>
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/shopbag_all_sp.jpg?v=1736822843" media="(max-width: 767px)">
          <img class="content_img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/shopbag_all.jpg?v=1736822843" alt="" loading="lazy" width="1400" height="600">
        </picture>
        <p>各NT$30</p>
        <div class="contentDesc u-mt-40 u-mt-sp-20">
          <div class="giftFlex">
            <div class="giftFlex__item">
              <table class="giftsizeTable">
                <thead>
                  <tr class="giftsizeTable__line">
                    <th></th>
                    <th>尺寸</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="giftsizeTable__line">
                    <td>S</td>
                    <td>W 200 &#215; D 85 &#215; H 200</td>
                  </tr>
                  <tr class="giftsizeTable__line">
                    <td>M</td>
                    <td>W 230 &#215; D 95 &#215; H 330</td>
                  </tr>
                  <tr class="giftsizeTable__line">
                    <td>L</td>
                    <td>W 510 &#215; D 142 &#215; H 355</td>
                  </tr>
                </tbody>
              </table>
              <p class="giftsizeTable__caption">(単位：mm)</p>
            </div>
            <div class="giftFlex__item">
              <p>若與禮物手提袋一同選購，我們可能會根據實際情況調整購物袋的尺寸。</p>
              <p class="c-note">※目前官方線上購物網僅提供S、M 2種尺寸的購物袋。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="gift_container" id="a-giftbox">
    <div class="gift_inner">
      <div class="contentBox">
        <h3 class="contentTitle">禮盒</h3>
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/giftbox_all_sp.jpg?v=1736822843" media="(max-width: 767px)">
          <img class="content_img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/giftbox_all.jpg?v=1736822843" alt="" loading="lazy" width="1400" height="600">
        </picture>
        <p>各NT$90</p>
        <div class="contentDesc u-mt-40 u-mt-sp-20">
          <div class="giftFlex">
            <div class="giftFlex__item">
              <table class="giftsizeTable">
                <thead>
                  <tr class="giftsizeTable__line">
                    <th></th>
                    <th>尺寸</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="giftsizeTable__line">
                    <td>禮盒1</td>
                    <td>W 125 &#215; D 70 &#215; H 190</td>
                  </tr>
                  <tr class="giftsizeTable__line">
                    <td>禮盒2</td>
                    <td>W 110 &#215; D 70 &#215; H 232</td>
                  </tr>
                  <tr class="giftsizeTable__line">
                    <td>禮盒3</td>
                    <td>W 265 &#215; D 95 &#215; H 205</td>
                  </tr>
                </tbody>
              </table>
              <p class="giftsizeTable__caption">(単位：mm)</p>
            </div>
            <div class="giftFlex__item">
              <p>我們會依據您的訂單內容選擇適合的禮盒尺寸。若您想自由選擇尺寸，請在「購物車」頁面下方「訂單備註」欄位中填寫需求內容。</p>
              <p class="c-note u-mb-0">※目前官方線上購物網僅提供禮盒1、禮盒2、禮盒3。</p>
              <p class="c-note">※禮盒將於庫存售完後停止販售，敬請見諒。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>



<style>
  #gift_wrapping {
    padding-top: 50px;
    margin-bottom: 80px;
  }

  .page_width {
    max-width: 900px;
    width: 90%;
    margin: auto;
  }

  .gift_container {
    background-color: #fff;
    margin: auto;
    padding: 50px 100px 80px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 1px;
  }

  .gift_inner {
    width: 100%;
    margin: auto;
  }

  .gift_container .gift_inner img {
    width: 100%;
    height: auto;
  }

  .gift_flex {
    display: flex;
    justify-content: space-between;
  }
  .gift_content1 .content_text1{
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 1px;
    }
  .content_img {
    margin-bottom: 10px;
  }
  .gift_content1 .content_text2{
    display: flex; 
    justify-content: center;
    margin-bottom: 30px;
  }
  .gift_content2,
  .gift_content3 {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
  .pc_w48{
    width: 48%;
    align-items: right;
  }
  .gift_content2_p,
  .gift_content3_p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .gift_content5 p .size{
    font-size: 15px;
    line-height: 32px;
  }
  .gift_content6 p{
    font-size: 15px;
    line-height: 32px;
  }
  .gift_content6 ul li {
    list-style-position: outside;
    position: relative;
    padding-left: 15px !important;
    font-size: 12px;
    line-height: 16px;
    list-style: none;
}
  .gift_content6 ul li:before {
    content: '■';
    position: absolute;
    left: 0;
    top: 0;
  }
  hr{
    border-top: solid 1px #888;
    border-color: #D5D5D6 !important;
  }
  .hr_1{
    margin: 50px 0 40px;
    height: 1px;
  }
  .hr_2, .hr_3{
    margin: 32px 0 24px;
    height: 1px;

  }

  .gift_header {
    text-align: center;
    /* font-weight: 500; */
  }

  .gift_header .title {
    font-size: 28px;
    text-align: center;
    line-height: 1.75;
  }

  .gift_header .subtitle {
    display: block;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
  }

  .gift_header .paragraph {
    margin-bottom: 50px;
    line-height: 1.75;
    font-size: 16px;
  }
  .gift_content23_p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .gift_content23_p p{
    width: 48%;
    vertical-align: bottom;
  }
@media screen and (min-width: 768px) {
    .sp-only {
      display: none !important;
    }
  }

  @media screen and (max-width: 767px) {
    .pc-only {
      display: none !important;
    }
    .gift_content1 .content_text2{
    display: block; 
    justify-content: start;
    margin-bottom: 30px;
    }
    .gift_flex{
      display: block;
    }
    .gift_content2 ,.gift_content3{
      width: 100%;
    }
    .gift_content2 .sp-only{
      margin-bottom: 40px;
    }
    .gift_content3 .sp-only,.sp_mt{
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 640px) {
    .page_width {
      width: 100%;
      padding: 0 15px;
    }
    .gift_container{
      margin-bottom: 40px;
      margin-left: -15px;
      margin-right: -15px;
      padding: 32px 15px 48px;
    }
    .gift_header .paragraph {
      text-align: left;
  }
  }

  .menu {
    margin-bottom: 40px;
  }
  
  .menuList {
    display: flex;
    column-gap: 20px;
  }
  
  .menuList__item {
    list-style: none;
    width: calc((100% - 40px)/3);
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
  }
  
  .menuList__link {
    padding: 8px 10px;
    position: relative;
    width: 100%;
  }
  
  .menuIcon {
    display: flex;
    align-items: center;
  }
  
  .menuIcon__img {
    width: 64px;
    margin-right: 16px;
  }
  
  .menuIcon__img--box {
    margin-left: 4px;
    margin-right: 20px;
  }
  
  .menuIcon__text {
    flex: 1 0 auto;
    text-align: left;
  }
  
  .menuList__link--arrow::after {
    content: "";
    width: 8px;
    height: 8px;
    border-top: solid 1.5px #393c3f;
    border-right: solid 1.5px #393c3f;
    position: absolute;
    top: calc(50% - 8px);
    right: 24px;
    transform: rotate(135deg) translateY(-50%);
    transition: all 0.3s;
  
  }
  
  @media (any-hover: hover) {
    .menuList__link--arrow:hover::after {
      top: 46%;
    }
  }
  
  .contentBox + .contentBox {
    margin-top: 60px;
  }
  
  .contentBox--limited {
    background-color: rgba(245, 197, 223, .2);
    padding: 24px 20px;
  }
  .contentTitle {
    font-size: 18px;
    font-weight: 600;
  }
  
  .contentHeading {
    font-size: 16px;
  }
  
  .contentDesc {
    margin-top: 24px;
  }
  
  .contentText {
    margin-top: 28px;
  }
  
  .c-note {
    font-size: 12px;
  }
  
  .c-note--red {
    color: #ff0000;
  }
  
  .giftFlex {
    display: flex;
    column-gap: 40px;
  }
  
  .giftFlex__item {
    width: 50%;
  }
  
  .u-text-link {
    border-bottom: 1px solid currentColor;
    transition: all .3s;
  }
  
  @media (any-hover: hover) {
    .u-text-link:hover {
      border-bottom: 1px solid transparent;
    }
  }
  
  .c-list {
    font-size: 14px;
  }
  
  .c-list__item {
    list-style: none;
    display: flex;
  }
  
  .c-list__item + .c-list__item {
    margin-top: .05em;
  }
  
  .c-list__item--dot::before {
    content: "・";
  }
  
  /* giftsizeTable */
  .giftsizeTable {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    background-color: #fafafa;
  }
  
  .giftsizeTable tr >:first-child {
    width: 4em;
  }
  
  .giftsizeTable tr >:last-child {
    width: 8em;
  }
  
  .giftsizeTable td {
    padding: 8px 0;
  }
  
  .giftsizeTable th {
    font-size: 10px;
    padding: 6px 0;
  }
  
  .giftsizeTable__line {
    background-image: linear-gradient(to right, #393c3f 1px, transparent 1px);
    background-size: 2px 1px;
    background-repeat: repeat-x;
    background-position: left bottom;
  }
  
  .giftsizeTable__caption {
    font-size: 10px;
    text-align: right;
  }
  
  .giftsizeTable__price {
    font-size: 12px;
  }
  
  .videoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .videoWrapper iframe {
    width: 220px;
    height: 393px;
  }
  
  .slick-dots {
    bottom: 16px;
  }
  
  .slick-dots li {
    margin: 0 2.4px;
    width: 6px;
    height: 6px;
  }
  
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  
  .u-mb-0 {
    margin-bottom: 0;
  }

  .u-mt-40 {
    margin-top: 40px;
  }

  @media screen and (max-width: 800px) {
    .menuList {
      flex-direction: column;
      column-gap: 0;
      row-gap: 24px;
    }
  
    .menuList__item {
      max-width: 280px;
      width: 80%;
      margin: 0 auto;
    }
  }
  
  @media screen and (max-width: 767px) {
    .contentBox + .contentBox {
      margin-top: 40px;
    }
  
    .giftFlex {
      flex-direction: column;
      column-gap: 0;
      row-gap: 24px;
    }
  
    .giftFlex__item {
      width: 100%;
    }
  
    .videoWrapper iframe {
      width: 100%;
      height: auto;
      min-height: 540px;
    }
  
    .u-mt-sp-20 {
      margin-top: 20px;
    }
  }

</style>

<script>
  $(function () {
    $('#slick_slider').slick(
      {
        arrows: false,
        dots:true
      }
    );
  });
</script>
<script>
  function scrollToTarget (id) {
    const target = document.querySelector(id)
    const pos = target.getBoundingClientRect().top + scrollY 
    const threshold = document.querySelector('#shopify-section-header')
      ? document.querySelector('#shopify-section-header').clientHeight
      : 0
    
    window.scrollTo({
      behavior: 'smooth',
      top: pos - threshold
    })
  }
  </script>