<div id="About">
  {% comment %}
  <section
    class="Section"
    id="section-1526942365749"
    data-section-id="1526942365749"
    data-section-type="background-video"
    data-section-settings='{
  "videoType": "youtube",
  "videoId": "ZpWiheFo4ag",
  "requestHost": "prestige-theme-couture.myshopify.com"
}'
  >
    <div class="ImageHero ImageHero--large">
      <iframe
        class="ImageHero__VideoHolder"
        frameborder="0"
        allowfullscreen="1"
        allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
        title="YouTube video player"
        width="640"
        height="360"
        src="https://www.youtube.com/embed/Q65vYgHDz_Y?showinfo=0&amp;controls=0&amp;fs=0&amp;rel=0&amp;height=100%25&amp;width=100%25&amp;iv_load_policy=3&amp;html5=1&amp;loop=1&amp;playsinline=1&amp;modestbranding=1&amp;disablekb=1&amp;origin=https%3A%2F%2Fprestige-theme-couture.myshopify.com&amp;widget_referrer=https%3A%2F%2Fthemes.shopify.com%2Fthemes%2Fprestige%2Fstyles%2Fcouture%2Fpreview&amp;enablejsapi=1&amp;widgetid=1"
        id="widget2"
      ></iframe>
    </div>
  </section>
  {% endcomment %}
  <!-- <section class="Section" id="section-1572941768263">
    <div class="Container">
      <div class="FlexboxIeFix"><div class="ImageHero ImageHero--small" style="background: url({{ settings.about_us_video_image }})">
          <div class="ImageHero__ImageWrapper">
            <div class="ImageHero__Image Image--zoomOut Image--lazyLoaded" data-optimumx="1.4" data-expand="-150" style="background-image: url({{ settings.about_us_video_image | img_url: 'master' }});">
            </div>

            <noscript>
              <div class="ImageHero__Image" style="background-image: url(//cdn.shopify.com/s/files/1/0248/2425/0449/files/2019-11-05_11.53.02_1000x.png?v=1572922404)"></div>
            </noscript></div>

          <div class="ImageHero__ContentOverlay">
            <header class="SectionHeader"><div class="SectionHeader__IconHolder">
                <button type="button" class="Video__PlayButton" data-action="open-modal" aria-label="Play video" aria-controls="modal-1572941768263"><svg class="Icon Icon--play" role="presentation" viewBox="0 0 24 24">
          <path d="M12 0C5.383 0 0 5.383 0 12s5.383 12 12 12 12-5.383 12-12S18.617 0 12 0zm-2 15.5V9l4.5 3.25L10 15.5z" fill="currentColor"></path>
        </svg></button>
              </div>
            </header>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="modal-1572941768263" class="Modal Modal--fullScreen Modal--videoContent" aria-hidden="true" role="dialog" data-scrollable="">
    <div class="Modal__Content">
      <div class="Container Container--narrow">
        <div class="VideoWrapper">

            <iframe class="Image--lazyLoad" data-src="{{ settings.about_us_video_url }}" frameborder="0" allowfullscreen=""></iframe>

        </div>
      </div>
    </div>

    <button class="Modal__Close Modal__Close--outside" data-animate-bottom="" data-action="close-modal"><svg class="Icon Icon--close" role="presentation" viewBox="0 0 16 14">
        <path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
      </svg></button>
  </div> -->
  <section class="section-text">
    <div class="Container">
      <div class="title page-about__toptitle">ABOUT US</div>
      <div class="l-kv">
        <picture>
          <source srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/tw_mission_pc.jpg" media="(min-width: 768px)" width="852" height="426" />
          <img class="l-kv__img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/tw_mission_sp.jpg" alt="ABOUT SHIRO" width="750" height="750" />
        </picture>
      </div>
    </div>
  </section>
  <section class="section-text">
    <div class="Container">
      <dl class="page-about__textList">
        <dt class="page-about__textList--title">我們的使命</dt>
        <dd class="page-about__textList--desc">我們透過自身的創造力和坦誠的內心，持續創造純粹優良的產品，讓世界變得更加幸福。</dd>
        <dt class="page-about__textList--title">我們的願景</dt>
        <dd class="page-about__textList--desc">我們堅持著「將美好的事物帶給盡可能多的人」這樣單純且堅定的信念，日復一日地致力於實現我們所提出的理念。</dd>
        <dt class="page-about__textList--title">我們的價值觀</dt>
        <dd class="page-about__textList--desc">在面對地球上豐富且珍貴的自然原料時，我們會真誠地持續創造出我們真心想用的東西，並對人類、地球、社會保持真誠，做出正確的行為。</dd>
      </dl>
    </div>
  </section>
  <section class="section-text">
    <div class="Container">
      <div class="page-about__box--white">
        <ul class="page-about__valueList">
          <li class="page-about__valueItem">
            <p class="page-about__valueItem--title">誠信</p>
            <p class="page-about__valueItem--desc">我們開發的產品，連我們自己都想每天使用。</p>
          </li>
          <li class="page-about__valueItem">
            <p class="page-about__valueItem--title">獨創</p>
            <p class="page-about__valueItem--desc">我們尋找並使用最優質的原料，來創造我們的產品。</p>
          </li>
          <li class="page-about__valueItem">
            <p class="page-about__valueItem--title">品質</p>
            <p class="page-about__valueItem--desc">我們在自己的實驗室研究成分，讓自然的原料發揮最大效用，並用自然的力量呵護肌膚。</p>
          </li>
          <li class="page-about__valueItem">
            <p class="page-about__valueItem--title">安心</p>
            <p class="page-about__valueItem--desc">我們與提供優良品質原料的農場主合作，確保產品使用優質並讓人放心的原料。</p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="section-text">
    <div class="Container">
      <div class="title">「我們的旅程」</div>
      <div class="paragraph">
        <p>一切始於日本北海道，那裡的土地肥沃，自然資源豐富。</p>
        <p>
          我們於1989年作為一家紀念品店起步，採集草藥，使用當地資源和原料製作禮品。
          1998年，憑藉我們對當地原料豐富的知識，我們開始向眾多知名美妝品牌分銷原料和資源。我們參與了超過130個品牌的產品從研發到製造的全過程。在那段時間裡，我們的業務有了巨大的增長，但與此同時，我們也感到了來自品牌方面降低成本的壓力。這促使我們反思我們的品牌以及我們想要實現的目標。我們可以透過使用更多的化學成分來降低成本，但這完全違背了我們的理念。
        </p>
        <p>我們只製作出自己也想使用的產品。2009年，我們成立了自己的品牌，擁有了屬於我們自己的產品並直接銷售給消費者們。</p>
        <p>在過去的20年裡，我們從原料採購到研發，受大自然啟發，製作出了並由天然原料製作而成的產品。如今，我們致力於給世界持續創造和提供更好的產品。</p>
      </div>
    </div>
  </section>
  <section class="section-text">
    <div class="Container">
      <div class="page-about__bnrBox">
        <a href="https://shiro-shiro.tw/pages/ethical">
          <img class="bnrBox__img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/tw_ethi.jpg" alt="SHIRO'S ETHICAL EFFORTS" width="740" height="234" />
        </a>
      </div>
    </div>
  </section>
</div>
