<div id="about_shiro">
  <div class="about_fv">
    <div class="page_width">

      <h2 class="abut_title">關於我們</h2>
      <div class="paragraph">
        <p>我們將孕育自地球、珍貴的自然原料與我們的商品結合。</p>
        <p>自古以來，日本就有珍惜且活用自然資源的精神。</p>
        <p>SHIRO自品牌創立的10年間，致力於將能運用自然資源的喜悅帶給國內外的人們。</p>
        <p>延續環保與社會貢獻的信念，相信能帶給人們與社會美好與快樂。</p>
      </div>
    </div>
  </div>

<div class="tab_container">
  <div class="page_width">
    <div class="tab" style="display: flex; flex-direction: column-reverse;">
      <ul class="tab__menu">
        <li class="tab__menu-item is-active" data-tab="01">信念</li>
        <li class="tab__menu-item" data-tab="02">獨創</li>
        <li class="tab__menu-item" data-tab="03">品質</li>
        <li class="tab__menu-item" data-tab="04">安心</li>
      </ul>

      <div class="tab__panel">

        <div class="tab__panel-box tab__panel-box001 is-show" data-panel="01">
          <div class="tab_container">
            <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/7b0229884e228d95dc76292270cb734ec11a0f8d.jpg?v=1708296054">
            <div class="tab_text">
              <h2 class="Title">我們的堅持</h2>
              <h3 class="SubTitle">我們開發的產品<br>連我們自己都想每天使用。</h3>
            </div>
          </div>
        </div>

        <div class="tab__panel-box tab__panel-box002" data-panel="02">
          <div class="tab_container">
            <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/41f08d5b3a83689fa433fc19de92b46ec309c3e0.jpg?v=1708296054">
            <div class="tab_text">
              <h2 class="Title">我們的堅持</h2>
              <h3 class="SubTitle">我們尋找並使用最優質的原料<br>來創造我們的產品。</h3>
            </div>
          </div>
        </div>

        <div class="tab__panel-box tab__panel-box003" data-panel="03">
          <div class="tab_container">
            <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/ebc48e658ade0fca1194e0f74c9c045f4aa84a0c.jpg?v=1708296054">
            <div class="tab_text">
              <h2 class="Title">我們的堅持</h2>
              <h3 class="SubTitle">我們在自己的實驗室研發成分<br>讓自然的原料發揮最大效用<br>並用自然的力量呵護肌膚。</h3>
            </div>
          </div>
        </div>

        <div class="tab__panel-box tab__panel-box004" data-panel="04">
          <div class="tab_container">
            <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/58ce370db3e9e5ff67d2a402ede4a4e430732986.jpg?v=1708296054">
            <div class="tab_text">
              <h2 class="Title">我們的堅持</h2>
              <h3 class="SubTitle">我們與提供優良品質原料的莊園合作，確保產品使用優質並讓人放心的原料。</h3>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="about_content">
  <div class="page_width ideal">

    <h2 class="abut_title">我們的理念</h2>
    <div class="paragraph">
      <p>在嚴峻環境下生長的自然原料，我們將其優點發揮至淋漓盡致。</p>
      <p>尋找世界上珍貴的原料，並大量的使用在商品上，捨棄不必要的成分，只選用最優質的自然素材，這就是我們的理念。</p>
      <p>富含稻米營養的酒粕製成化妝水、昆布精華加入睫毛膏、含亞麻成分的指甲油及添加生薑的潤唇彩， 此外，還有以美麗花朵為基底製成的香水，讓花香縈繞。</p>
      <p>我們不忘感謝大自然的惠予，珍惜且不浪費地使用每一種自然資源。</p>
      <p>真正的美麗是甚麼呢?</p>
      <p>看見自然原料最簡單且最真實的力量。我們只製作出自己也想使用的商品，使用SHIRO的商品，展現更多魅力與自信。</p>
      <p>來自海洋與大地豐富的自然資源，堅韌、優質、美麗，而我們將其中深藏的潛能發掘出來。</p>
      <p>讓人們感受到幸福，是我們的心願。</p>
    </div>
  </div>
</div>


<style>
  #about_shiro ,
  #about_shiro .about_fv .abut_title ,
  #about_shiro .tab_container {
    font-family:orignFontText;
    font-style: normal;
    /* font-weight: 300; */
  }
  .page_width{
    max-width: 864px;
    margin: auto ;
    width: 90%;
  }
  .about_fv .abut_title{
    padding: 70px 0 20px;
    font-size: 30px;
    /* font-weight: 700; */
    letter-spacing: 2px;
  }


.about_fv{
  margin-top: 30px;
}
.about_fv h2{
  margin-bottom: 0;
}
.about_fv .paragraph{
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 80px;
    letter-spacing: 1px;
    color: #393c3f;
  }
.about_fv .paragraph p{
  margin-bottom: 30px;
}
.tab {
  margin: 0 auto;
  margin-top: 120px;
}
.about_content{
  margin-top: 70px;
  margin-bottom: 80px;
}
.about_content h2{
  margin-top: 70px;
  margin-bottom: 20px;
    font-size: 30px;
    /* font-weight: 400; */
    letter-spacing: 2px;
}
.about_content p{
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #393c3f;
}
.ideal .paragraph,
.about_fv .paragraph {
  font-weight: 400;
} 
/* .ideal h2{
  font-weight: 700;
} */
/* タブメニュー */
.tab__menu {
  display: flex;
  margin-bottom: 80px;
  list-style: none;
  width: 70%;
  margin: 0 auto 80px auto;
  /* font-weight: 700; */
}

.tab__menu-item {
  width: 25%;
  padding: 8px 5px; 
  transition: all .3s; 
  margin: 10px 20px;
    padding-bottom: 12px;
    padding-left: 5px;
    font-size: 12px;
    letter-spacing: 5px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    /* position: relative; */
    
}

/* is-activeがついている時のスタイル */
.tab__menu-item.is-active {
  border-bottom: #393c3f 2px solid;
  font-size: 15.5px;
}

/* タブパネル */
.tab__panel {
  display: flex;
  align-items: flex-start;
  /* max-width: 900px; */
  height: 300px;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-end;
  justify-content: space-between;
}

.tab__panel-box {
  display: flex;

}
.tab__menu-item.is-active::after {
content: '';
position: absolute;
bottom: 0;
left: 0;
height: 3px;
width: 100%;
opacity: 0;
background: #393C21;
transform: scale(0, 1);
transform-origin: left center;
transition: opacity 0.3s, transform 0.3s;
border-bottom: 2px solid #000;
color: red;
}
/* .tab__menu li.is-selected{
color: #393C21;
font-size: 16px;
} */
.tab__menu li.is-selected::after{
opacity: 1;
  transform: scale(1, 1);
width: 100%;

}
.tab__menu li a:hover:after {
	width: 100%;
	border-bottom: 2px solid #000;
}

.tab__panel-box001 ,.tab__panel-box002 ,.tab__panel-box003 ,.tab__panel-box004 {
  display: none;
}

/* is-showがついている時のスタイル */
.tab__panel-box.is-show {
  display: block;
}
.tab_container{
  background-color: #F9F9F9;
  display: flex;
  align-items: flex-end;
}
.tab_text{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.tab_text h2{
  color: #393C21;
  font-size: 20px;
    display: inline-block;
    text-align: left;
    font-size: 20px;
    line-height: 40px;
    /* font-weight: 700; */
    letter-spacing: 8px;
    padding: 0 10px 10px 0;
    width: fit-content;
    border-bottom: #393C21 2px solid;
    margin-bottom: 0;
}
.tab_text h3{
  font-size: 30px;
    color: #393C21;
    line-height: 1.6;
    letter-spacing: 2px;
    padding-top: 45px;
    font-weight: 400;
}
.tab_container img{
  position: relative;
    padding-right: 30px;
    width: auto;
    border-radius: 4px;
    width: 50%;
}
@media screen and  ( max-width:767px) {
  .about_fv{
      margin-top: 0px;
    }
    .tab_container{
    display: block;
    }
    .tab_container img{
    padding-right: 0;
    border-radius: 4px;
    width: 100%;
    margin-top: 60px;
    }
  .tab__panel {
    height:auto;
    }
  .tab_text{
    margin-top: 30px;
  }
  .tab_text h3{
    font-size: 20px;
  }
  .tab__menu{
    margin-top: 50px;
    margin-bottom: 30px;
  }
  }


  @keyframes fadein-top  {
  0% {
  opacity: 0;
  transform: translateY(40px); 
  transition: transform 0.15s ease-in-out, opacity 0.15s ease-in-out, visibility 0.15s ease-in-out;

  }
  100% {
    opacity: 1;
    transform: translateY(0); 

  }
}
  .is-show {
    animation: fadein-top 0.8s ease-out forwards;
  }
  </style>

</div>

<script>
  { /* ローカルスコープ */

// DOM取得
const tabMenus = document.querySelectorAll('.tab__menu-item');
console.log(tabMenus);

// イベント付加
tabMenus.forEach((tabMenu) => {
  tabMenu.addEventListener('click', tabSwitch);
})

// イベントの処理
function tabSwitch(e) {

  // クリックされた要素のデータ属性を取得
  const tabTargetData = e.currentTarget.dataset.tab;
  // クリックされた要素の親要素と、その子要素を取得
  const tabList = e.currentTarget.closest('.tab__menu');
  console.log(tabList);
  const tabItems = tabList.querySelectorAll('.tab__menu-item');
  console.log(tabItems);
  // クリックされた要素の親要素の兄弟要素の子要素を取得
  const tabPanelItems = tabList.
  nextElementSibling.querySelectorAll('.tab__panel-box');
  console.log(tabPanelItems);

  // クリックされたtabの同階層のmenuとpanelのクラスを削除
  tabItems.forEach((tabItem) => {
    tabItem.classList.remove('is-active');
  })
  tabPanelItems.forEach((tabPanelItem) => {
    tabPanelItem.classList.remove('is-show');
  })

  // クリックされたmenu要素にis-activeクラスを付加
  e.currentTarget.classList.add('is-active');
  // クリックしたmenuのデータ属性と等しい値を持つパネルにis-showクラスを付加
  tabPanelItems.forEach((tabPanelItem) => {
    if (tabPanelItem.dataset.panel ===  tabTargetData) {
      tabPanelItem.classList.add('is-show');
    }
  })

}

}
</script>




