<div class="Container">
  <header class="PageHeader collection_page_header">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
    </div>
  </header>

  <div class="PageContent Rte">
    <div id="fragrance">
      <div class="fragrance_wrap">
        <div class="fragrance_wrap_item perfume">
          <div class="title">香水系列<br>SHIRO PERFUME</div>
          <a href="/collections/shiro-perfume">查看商品</a>
        </div>
        <div class="fragrance_wrap_item classic">
          <div class="title">香氛系列<br>SHIRO FRAGRANCE</div>
            <a href="/collections/shiro-classics">查看商品</a>
        </div>
      </div>
    </div>
    <div class="BannerContent">
      <a href="/pages/layering-shirofragrance-shiroperfume">
        <picture>
          <source class="ImageBanner__Image-Wrapper" media="(max-width: 640px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/tw_pickup_sp_700.jpg?v=1726124776a">
          <img class="ImageBanner__Image-Wrapper" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/tw_pickup1280.jpg?v=1726124776" alt="更加享受、沉浸在喜愛的香氣中 SHIRO 香氛系列">
        </picture>
      </a>
    </div>
  </div>
</div>



<style>
  .collection_page_header .SectionHeader__Heading{
    font-size: 34px;
  }
  
</style>
