<div class="l-wrapper" id="target">
  <h1 class="l-kv">
    <picture>
      <source srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/layering-lp_kv.jpg"
        media="(min-width: 768px)" width="100%" height="*">
      <img class="l-kv__img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/layering-lp_kv_sp.jpg"
        alt="更加享受、沉浸在喜愛的香氣中 SHIRO 香氛系列" loading="eager"
        width="100%" height="*">
    </picture>
  </h1>
  <div class="l-main">
    <div class="intro-box">
      <div class="intro">
        <p class="intro__text">
          獻給希望在使用香氛產品時，能更加享受香氣的您。<br>蘊含多種能更加享受香氣的小技巧，為您介紹來自SHIRO STAFF的故事與想法。
        </p>
      </div>
      <div class="menu">
        <ul class="menuList">
          <li class="menuList__item">
            <button class="menuList__link arrow arrow-bottom" onclick="scrollToTarget('#layered')" type="button" aria-label="Scroll to heading">香氛的疊擦方法</button>
          </li>
          <li class="menuList__item">
            <button class="menuList__link arrow arrow-bottom" onclick="scrollToTarget('#how-to-use')" type="button" aria-label="Scroll to heading">時髦獨特的香氛使用技巧</button>
          </li>
          <li class="menuList__item">
            <button class="menuList__link arrow arrow-bottom"onclick="scrollToTarget('#trivia')" type="button" aria-label="Scroll to heading">香氣小知識</button>
          </li>
        </ul>
      </div>
    </div>
    <section id="layered" class="l-content">
      <div class="title__box">
        <h2 class="title">享受專屬自己的香氣<br>香氛疊擦的方法</h2>
      </div>
      <div class="l-content__inner">
        <p class="disc">
          藉由將個人喜愛的香氣疊加上其他香氣的香氛揉香技巧，營造出不同的氛圍。<br>
          透過將SHIRO FRAGRANCE香氛系列與SHIRO PERFUME香水系列搭配使用，享受更有層次的專屬香氣。
        </p>
        <div class="menu menu--layered">
            <ul class="menuList menuList--layered">
              <li class="menuList__item">
                <button class="menuList__link arrow arrow-bottom" onclick="scrollToTarget('#savon')" type="button" aria-label="Scroll to heading">皂香</button>
              </li>
              <li class="menuList__item">
                <button class="menuList__link arrow arrow-bottom" onclick="scrollToTarget('#white-lily')" type="button" aria-label="Scroll to heading">白百合</button>
              </li>
              <li class="menuList__item">
                <button class="menuList__link arrow arrow-bottom" onclick="scrollToTarget('#white-tea')" type="button" aria-label="Scroll to heading">白茶</button>
              </li>
              <li class="menuList__item">
                <button class="menuList__link arrow arrow-bottom" onclick="scrollToTarget('#earl-grey')" type="button" aria-label="Scroll to heading">伯爵茶</button>
              </li>
              <li class="menuList__item">
                <button class="menuList__link arrow arrow-bottom" onclick="scrollToTarget('#kinmokusei')" type="button" aria-label="Scroll to heading">金木樨</button>
              </li>
            </ul>
          </div>
        {% comment %} savon {% endcomment %}
        <section id="savon" class="layered__container">
          <h3 class="layered-title layered-title--main">SAVON<span class="kakeru"></span><br class="sp">POMEGRANATE
          </h3>
          <div class="layered__main-box">
            <div class="text-area">
              <div class="img-area spOnly">
                <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/layered_savon.jpg?v=1724032651"
                  alt="SAVON ✕ POMEGRANATE" loading="lazy">
              </div>
              <p class="layered-disc">皂香中的柔和麝香結合紅石榴中富感性的莓果香氣，為皂香增添成熟氣息。</p>
              <div class="layered-item">
                <a class="ga-shiropaper2_layered"
                  href="https://shiro-shiro.tw/products/savon-eau-de-parfum_1">
                  <img class="layered-item-img"
                    src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/savon_eaudeparfum_110.jpg?v=1713840874"></a>
                <p class="layered-item-text">
                  <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/savon-eau-de-parfum_1">皂香香水</a><br>
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/savon-eau-de-parfum_1?variant=48328004534558">10mL NT$500</a> / 
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/savon-eau-de-parfum_1?variant=48328004501790">40mL NT$1,200</a>
                </p>
              </div>
              <div class="layered-item">
                <a class="ga-shiropaper2_layered" href="https://shiro-shiro.tw/products/pomegranate-eau-de-parfum">
                  <img class="layered-item-img"
                    src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/pomegranate_eau_de_parfum.jpg?v=1726044171"></a>
                <p class="layered-item-text">
                  <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/pomegranate-eau-de-parfum">紅石榴香水</a><br>
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/pomegranate-eau-de-parfum?variant=48111462121758">50mL NT$3,220</a> / 
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/pomegranate-eau-de-parfum?variant=48111462154526">100mL NT$4,650</a>
                </p>
              </div>
            </div>
            <div class="img-area pcOnly">
              <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/layered_savon.jpg?v=1713840875"
                alt="SAVON ✕ POMEGRANATE" loading="lazy">
            </div>
          </div>
          <div class="layered__sub-box">
            <h3 class="layered-title layered-title-a">SAVON<span class="kakeru-mini"></span>FREESIA MIST</h3>
            <p class="layered-disc-a">皂香中的清新柑橘香氣，搭配花店清香的蘋果等新鮮果香，疊加成親切可愛的香氣。</p>
            <div class="layered-item layered-item-a">
              <a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">
                <img class="layered-item-img"
                  src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/freesiamist.jpg"></a>
              <p class="layered-item-text">
                <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">花店清香香水</a><br>
                <a class="item--price underline" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum?variant=48138839916830">50mL NT$3,220</a> / 
                <a class="item--price underline" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum?variant=48138839884062">100mL NT$4,650</a>
              </p>
            </div>
            <h3 class="layered-title layered-title-b">SAVON<span class="kakeru-mini"></span>INCENSE CLEAR</h3>
            <p class="layered-disc-b">清新的皂香中揉合帶有穩重感的焚香氣息，打造深邃寧靜的香氣。</p>
            <div class="layered-item layered-item-b">
              <a class="ga-shiropaper2_layered" href="https://shiro-shiro.tw/products/perfume-incense-clear">
                <img class="layered-item-img"
                  src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/incense_clear_eau_de_parfum.jpg?v=1719389981"></a>
              <p class="layered-item-text">
                <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/perfume-incense-clear">沉靜焚香香水</a><br>
                <a class="item--price underline" href="https://shiro-shiro.tw/products/perfume-incense-clear">100mL NT$4,650</a>
              </p>
            </div>
          </div>
        </section>
        {% comment %} white lily {% endcomment %}
        <section id="white-lily" class="layered__container">
          <h3 class="layered-title layered-title--main">WHITE LILY<span class="kakeru"></span><br class="sp">SPICE OF LIFE</h3>
          <div class="layered__main-box">
            <div class="text-area">
              <div class="img-area spOnly">
                <img src="https://cdn.shopify.com/s/files/1/1440/3462/files/layered_whitelily.jpg?v=1713763064"
                  alt="WHITE LILY ✕ SPICE OF LIFE EAU DE PARFUM" loading="lazy">
              </div>
              <p class="layered-disc">高雅的白百合香氣，融合勇敢的心黑胡椒和生薑的刺激香氣，打造華麗、知性氛圍感。</p>
              <div class="layered-item">
                <a class="ga-shiropaper2_layered" href="https://shiro-shiro.tw/products/white-lily-eau-de-parfum">
                  <img class="layered-item-img" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/white_lily.jpg?v=1724033021"></a>
                <p class="layered-item-text">
                  <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/white-lily-eau-de-parfum">白百合香水</a><br>
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/white-lily-eau-de-parfum?variant=48328026980638">10mL NT$500</a> / 
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/white-lily-eau-de-parfum?variant=48328026947870">40mL NT$1,200</a>
                </p>
              </div>
              <div class="layered-item">
                <a class="ga-shiropaper2_layered"
                  href="https://shiro-shiro.tw/products/spice-of-life-eau-de-parfum">
                  <img class="layered-item-img"
                    src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/spiceoflife.jpg?v=1724033021"></a>
                <p class="layered-item-text">
                  <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/spice-of-life-eau-de-parfum">勇敢的心香水</a><br>
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/spice-of-life-eau-de-parfum?variant=48285009576222">50mL NT$3,220</a> / 
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/spice-of-life-eau-de-parfum?variant=48285009608990">100mL NT$4,650</a>
                </p>
              </div>
            </div>
            <div class="img-area pcOnly">
              <img src="https://cdn.shopify.com/s/files/1/1440/3462/files/layered_whitelily.jpg?v=1713763064"
                alt="WHITE LILY ✕ SPICE OF LIFE EAU DE PARFUM" loading="lazy">
            </div>
          </div>
          <div class="layered__sub-box">
            <h3 class="layered-title layered-title-a">WHITE LILY<span class="kakeru-mini"></span>FREESIA MIST</h3>
            <p class="layered-disc-a">白百合的優雅花香與花店清香的繽紛花香交織，彷彿置身於花海之中。</p>
            <div class="layered-item layered-item-a">
              <a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">
                <img class="layered-item-img"
                  src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/freesiamist.jpg"></a>
              <p class="layered-item-text">
                <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">花店清香香水</a><br>
                <a class="item--price underline" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum?variant=48138839916830">50mL NT$3,220</a> / 
                <a class="item--price underline" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum?variant=48138839884062">100mL NT$4,650</a>
              </p>
            </div>
            <h3 class="layered-title layered-title-b">WHITE LILY<span class="kakeru-mini"></span>INTRODUCTION</h3>
            <p class="layered-disc-b">高雅的白百合與溫暖的溫柔清晨相結合，極致展現花香的高雅質感。</p>
            <div class="layered-item layered-item-b">
              <a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/introduction-eau-de-parfum">
                <img class="layered-item-img"
                src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/introduction_eau_de_parfum.jpg?v=1726044171"></a>
              <p class="layered-item-text">
                <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/introduction-eau-de-parfum">溫柔清晨香水</a><br>
                <a class="item--price underline" href="https://shiro-shiro.tw/products/introduction-eau-de-parfum?variant=48285020127518">50mL NT$3,220</a> / 
                <a class="item--price underline" href="https://shiro-shiro.tw/products/introduction-eau-de-parfum?variant=48285020160286">100mL NT$4,650</a>
              </p>
            </div>
          </div>
        </section>
        {% comment %} white tea {% endcomment %}
        <section id="white-tea" class="layered__container">
          <h3 class="layered-title layered-title--main">WHITE TEA<span class="kakeru"></span><br class="sp">FREESIA
            MIST</h3>
          <div class="layered__main-box">
            <div class="text-area">
              <div class="img-area spOnly">
                <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/layered_whitetea.jpg?v=1713840875"
                  alt="WHITE TEA ✕ FREESIA MIST" loading="lazy">
              </div>
              <p class="layered-disc">充滿清新柑橘香氣的白茶與花店清香的馥郁果香相互堆疊，揉合成明亮、可愛的香氣。</p>
              <div class="layered-item">
                <a class="ga-shiropaper2_layered"
                  href="https://shiro-shiro.tw/products/white-tea-eau-de-parfum">
                  <img class="layered-item-img"
                    src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/whitetea.jpg"></a>
                <p class="layered-item-text">
                  <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/white-tea-eau-de-parfum">白茶香水</a><br>
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/white-tea-eau-de-parfum?variant=48328042774814">10mL NT$500</a> / 
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/white-tea-eau-de-parfum?variant=48328042742046">40mL NT$1,200</a>
                </p>
              </div>
              <div class="layered-item">
                <a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">
                <img class="layered-item-img"
                  src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/freesiamist.jpg"></a>
                <p class="layered-item-text">
                  <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">花店清香香水</a><br>
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum?variant=48138839916830">50mL NT$3,220</a> / 
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum?variant=48138839884062">100mL NT$4,650</a>
                </p>
              </div>
            </div>
            <div class="img-area pcOnly">
              <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/layered_whitetea.jpg?v=1713840875"
                alt="WHITE TEA ✕ FREESIA MIST" loading="lazy">
            </div>
          </div>
          <div class="layered__sub-box">
            <h3 class="layered-title layered-title-a">WHITE TEA<span class="kakeru-mini"></span>TAKE IT EASY</h3>
            <p class="layered-disc-a">白茶的柑橘香氣揉合輕鬆小調的深沉木質香，呈現更加沉靜的香氣。</p>
            <div class="layered-item layered-item-a">
              <a class="ga-shiropaper2_layered" href="https://shiro-shiro.tw/products/perfume-take-it-easy">
                <img class="layered-item-img"
                  src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/take_it_easy.jpg?v=1713840874"></a>
              <p class="layered-item-text">
                <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/perfume-take-it-easy">輕鬆小調香水</a><br>
                <a class="item--price underline" href="https://shiro-shiro.tw/products/perfume-take-it-easy">100mL NT$4,650</a>
              </p>
            </div>
            <h3 class="layered-title layered-title-b">WHITE TEA<span class="kakeru-mini"></span>PARISIAN SHIRT</h3>
            <p class="layered-disc-b">白茶的清新氣息，交織具海邊風情的巴黎襯衫香氣，營造出隨性卻優雅的成熟氛圍。</p>
            <div class="layered-item layered-item-b">
              <a class="ga-shiropaper2_layered" href="https://shiro-shiro.tw/products/parisian-shirt-eau-de-parfum">
                <img class="layered-item-img"
                  src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/parisian_shirt_eau_de_parfum.jpg?v=1726044171"></a>
              <p class="layered-item-text">
                <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/parisian-shirt-eau-de-parfum">巴黎襯衫香水</a><br>
                <a class="item--price underline" href="https://shiro-shiro.tw/products/parisian-shirt-eau-de-parfum?variant=48285026287902">50mL NT$3,220</a> / 
                <a class="item--price underline" href="https://shiro-shiro.tw/products/parisian-shirt-eau-de-parfum?variant=48285026255134">100mL NT$4,650</a>
              </p>
            </div>
          </div>
        </section>
        {% comment %} earl grey {% endcomment %}
        <section id="earl-grey" class="layered__container">
          <h3 class="layered-title layered-title--main">EARL GREY<span class="kakeru"></span><br
              class="sp">MARVELLOUS STAR</h3>
          <div class="layered__main-box">
            <div class="text-area">
              <div class="img-area spOnly">
                <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/layered_earlgrey.jpg?v=1713840875"
                  alt="EARL GREY ✕ MARVELLOUS STAR" loading="lazy">
              </div>
              <p class="layered-disc">夢中寶石的醇厚甜香包裹著伯爵茶的華麗氣息，瀰漫溫暖的香氣。</p>
              <div class="layered-item">
                <a class="ga-shiropaper2_layered"
                  href="https://shiro-shiro.tw/products/earl-grey-eau-de-parfum_2">
                  <img class="layered-item-img"
                    src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/earlgrey.jpg"></a>
                <p class="layered-item-text">
                  <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/earl-grey-eau-de-parfum_2">伯爵茶香水</a><br>
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/earl-grey-eau-de-parfum_2?variant=48328051392798">10mL NT$500</a> / 
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/earl-grey-eau-de-parfum_2?variant=48328051360030">40mL NT$1,200</a>
                </p>
              </div>
              <div class="layered-item">
                <a class="ga-shiropaper2_layered" href="https://shiro-shiro.tw/products/perfume-marvellous-star">
                  <img class="layered-item-img"
                    src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/marvellous_star_eau_de_parfum.jpg?v=1719389981"></a>
                <p class="layered-item-text">
                  <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/perfume-marvellous-star">夢中寶石香水</a><br>
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/perfume-marvellous-star">100mL NT$4,650</a>
                </p>
              </div>
            </div>
            <div class="img-area pcOnly">
              <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/layered_earlgrey.jpg?v=1713840875"
                alt="EARL GREY ✕ MARVELLOUS STAR" loading="lazy">
            </div>
          </div>
          <div class="layered__sub-box">
            <h3 class="layered-title layered-title-a">EARL GREY<span class="kakeru-mini"></span>FREESIA MIST</h3>
            <p class="layered-disc-a">伯爵茶富有韻味的果香與花店清香的活潑果香交疊，打造充滿魅力的好感清新香氣。</p>
            <div class="layered-item layered-item-a">
              <a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">
                <img class="layered-item-img"
                  src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/freesiamist.jpg"></a>
              <p class="layered-item-text">
                <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">花店清香香水</a><br>
                <a class="item--price underline" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum?variant=48138839916830">50mL NT$3,220</a> / 
                <a class="item--price underline" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum?variant=48138839884062">100mL NT$4,650</a>
              </p>
            </div>
            <h3 class="layered-title layered-title-b">EARL GREY<span class="kakeru-mini"></span>PARISIENNE FAVOURITE
            </h3>
            <p class="layered-disc-b">巴黎女人香的優雅甜美花香突顯伯爵茶鮮嫩的果香氣息，營造令人雀躍的華麗香氣。</p>
            <div class="layered-item layered-item-b">
              <a class="ga-shiropaper2_layered" href="https://shiro-shiro.tw/products/parisienne-favourite-eau-de-parfum">
                <img class="layered-item-img"
                  src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/parisienne_favourite_eau_de_parfum.jpg?v=1726044172"></a>
              <p class="layered-item-text">
                <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/parisienne-favourite-eau-de-parfum">巴黎女人香香水</a><br>
                <a class="item--price underline" href="https://shiro-shiro.tw/products/parisienne-favourite-eau-de-parfum?variant=48285039821086">50mL NT$3,220</a> / 
                <a class="item--price underline" href="https://shiro-shiro.tw/products/parisienne-favourite-eau-de-parfum?variant=48285039853854">100mL NT$4,650</a>
              </p>
            </div>
          </div>
        </section>
        {% comment %} kinmokusei {% endcomment %}
        <section id="kinmokusei" class="layered__container">
          <h3 class="layered-title layered-title--main">KINMOKUSEI<span class="kakeru"></span><br class="sp">BON
            WOOD</h3>
          <div class="layered__main-box">
            <div class="text-area">
              <div class="img-area spOnly">
                <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/layered_kinmokusei.jpg?v=1713840875"
                  alt="KINMOKUSEI ✕ BON WOOD" loading="lazy">
              </div>
              <p class="layered-disc">森林深處深沉穩重的木質香交織金木樨的甜美香氣，營造深邃、有韻味的花香。</p>
              <div class="layered-item">
                <a class="ga-shiropaper2_layered" href="https://shiro-shiro.tw/products/kinmokusei-eau-de-parfum_1">
                  <img class="layered-item-img"
                    src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/kinmokusei.jpg?v=1724033384"></a>
                <p class="layered-item-text">
                  <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/kinmokusei-eau-de-parfum_1">金木樨香水</a><br>
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/kinmokusei-eau-de-parfum_1?variant=48302266974494">10mL NT$500</a> / 
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/kinmokusei-eau-de-parfum_1?variant=48302266941726">40mL NT$1,200</a>
                </p>
              </div>
              <div class="layered-item">
                <a class="ga-shiropaper2_layered" href="https://shiro-shiro.tw/products/bon-wood-eau-de-parfum">
                  <img class="layered-item-img"
                    src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/bon_wood_eau_de_parfum.jpg?v=1726044171"></a>
                <p class="layered-item-text">
                  <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/bon-wood-eau-de-parfum">森林深處香水</a><br>
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/bon-wood-eau-de-parfum?variant=48285028417822">50mL NT$3,220</a> / 
                  <a class="item--price underline" href="https://shiro-shiro.tw/products/bon-wood-eau-de-parfum?variant=48285028450590">100mL NT$4,650</a>
                </p>
              </div>
            </div>
            <div class="img-area pcOnly">
              <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/layered_kinmokusei.jpg?v=1713840875"
                alt="KINMOKUSEI ✕ BON WOOD" loading="lazy">
            </div>
          </div>
          <div class="layered__sub-box">
            <h3 class="layered-title layered-title-a">KINMOKUSEI<span class="kakeru-mini"></span>SPICES AND TEASE
            </h3>
            <p class="layered-disc-a">秘密基地鮮明的辛香調，使金木樨甜美花香蛻變為成熟颯爽的印象。</p>
            <div class="layered-item layered-item-a">
              <a class="ga-shiropaper2_layered" href="https://shiro-shiro.tw/products/perfume-spices-and-tease">
                <img class="layered-item-img"
                  src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/spices_and_tease_eau_de_parfum.jpg?v=1719389981"></a>
              <p class="layered-item-text">
                <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/perfume-spices-and-tease">秘密基地香水</a><br>
                <a class="item--price underline" href="https://shiro-shiro.tw/products/perfume-spices-and-tease">100mL NT$4,650</a>
              </p>
            </div>
            <h3 class="layered-title layered-title-b">KINMOKUSEI<span class="kakeru-mini"></span>FREESIA MIST</h3>
            <p class="layered-disc-b">帶有新鮮花果香調的花店清香結合金木樨，蛻變為柔和、溫暖的香氣。</p>
            <div class="layered-item layered-item-b">
              <a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">
                <img class="layered-item-img"
                  src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/freesiamist.jpg"></a>
              <p class="layered-item-text">
                <a class="ga-shiropaper2_layered item--link" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">花店清香香水</a><br>
                <a class="item--price underline" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum?variant=48138839916830">50mL NT$3,220</a> / 
                <a class="item--price underline" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum?variant=48138839884062">100mL NT$4,650</a>
              </p>
            </div>
          </div>
        </section>
      </div>
    </section>

    <section id="how-to-use" class="l-content">
      <div class="title__box">
        <p class="sub-title">著用迷人香氣的方法</p>
        <h2 class="title">時髦獨特的香氛使用技巧</h2>
      </div>
      <div class="l-content__inner">
        <div class="how-to-use__disc">
          <img src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/howtouse_top.jpg?v=1719295345" alt="香水插画"
            loading="lazy">
          <p>使用香氛產品能使心情愉悅、沉靜心緒。<br class="pcOnly">為您介紹由SHIRO STAFF推薦，<br>貼近日常生活且獨特的香氛使用技巧。</p>
        </div>
        <div>
          <div class="how-to-use-list">
            <ul class="how-to-use-button">
              <li class="menu__container">
                <a class="list-item ga-shiropaper2_howto" href="https://shiro-shiro.tw/products/savon-aroma-oil">
                  <div class="sp__box">
                    <img class="sp__box__img item03"
                      src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/howtouse_car.jpg?v=1719295345"
                      alt="用於車內" loading="lazy">
                    <dl class="how-to-use__about">
                      <dt class="item01">用於車內</dt>
                      <dd class="item02">將噴有香水或香氛精油的手帕、擴香木放置在車內。相較汽車香薰機，更能輕鬆地改變車內香氣。</dd>
                    </dl>
                  </div>
                  <dl class="how-to-use__item">
                    <div class="sp_item_text">
                      <dt>RECOMMENDED ITEM</dt>
                    </div>
                    <dd class="item--link">皂香香氛精油<br class="pc">NT$750＞</dd>
                  </dl>
                </a>
              </li>
              <li class="menu__container">
                <a class="list-item ga-shiropaper2_howto" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">
                  <div class="sp__box">
                    <img class="sp__box__img item03"
                      src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/howtouse_entrance.jpg?v=1719295345"
                      alt="用於玄關" loading="lazy">
                    <dl class="how-to-use__about">
                      <dt class="item01">用於玄關</dt>
                      <dd class="item02">在訪客抵達前的30分鐘，於玄關噴灑香水。玄關是家的第一印象，美好的香氣能讓您以笑容迎接朋友。</dd>
                    </dl>
                  </div>
                  <dl class="how-to-use__item">
                    <div class="sp_item_text">
                      <dt>RECOMMENDED ITEM</dt>
                    </div>
                    <dd class="item--link">花店清香香水<br class="pc">NT$3,220～＞</dd>
                  </dl>
                </a>
              </li>
              <li class="menu__container">
                <a class="list-item ga-shiropaper2_howto" href="https://shiro-shiro.tw/products/savon-eau-de-parfum_1">
                  <div class="sp__box">
                    <img class="sp__box__img item03"
                      src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/howtouse_toiletpaper.jpg?v=1719295345"
                      alt="用於廁所衛生紙芯筒" loading="lazy">
                    <dl class="how-to-use__about">
                      <dt class="item01">用於廁所衛生紙芯筒</dt>
                      <dd class="item02">將香水使用在廁所衛生紙芯筒上，每次轉動時都能散發溫和的香氣。</dd>
                    </dl>
                  </div>
                  <dl class="how-to-use__item">
                    <div class="sp_item_text">
                      <dt>RECOMMENDED ITEM</dt>
                    </div>
                    <dd class="item--link">皂香香水<br class="pc">NT$500～＞</dd>
                  </dl>
                </a>
              </li>
              <li class="menu__container">
                <a class="list-item ga-shiropaper2_howto" href="https://shiro-shiro.tw/products/bon-wood-eau-de-parfum">
                  <div class="sp__box">
                    <img class="sp__box__img item03"
                      src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/howtouse_bathroom.jpg?v=1719295344"
                      alt="用於浴室" loading="lazy">
                    <dl class="how-to-use__about">
                      <dt class="item01">用於浴室</dt>
                      <dd class="item02">洗澡前，在浴室中輕輕一噴。柔軟舒適的香氣讓您在沐浴時更加放鬆。</dd>
                    </dl>
                  </div>
                  <dl class="how-to-use__item">
                    <div class="sp_item_text">
                      <dt>RECOMMENDED ITEM</dt>
                    </div>
                    <dd class="item--link">森林深處香水<br class="pc">NT$3,220～＞</dd>
                  </dl>
                </a>
              </li>
              <li class="menu__container">
                <a class="list-item ga-shiropaper2_howto" href="https://shiro-shiro.tw/products/bon-wood-eau-de-parfum">
                  <div class="sp__box">
                    <img class="sp__box__img item03"
                      src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/howtouse_bed.jpg?v=1719295345"
                      alt="用於床和床單之間" loading="lazy">
                    <dl class="how-to-use__about">
                      <dt class="item01">用於床和床單之間</dt>
                      <dd class="item02">在床單和棉被之間噴灑數下香水並蓋著就寢，隔天早晨清醒時即可享受宜人的香氣。</dd>
                    </dl>
                  </div>
                  <dl class="how-to-use__item">
                    <div class="sp_item_text">
                      <dt>RECOMMENDED ITEM</dt>
                    </div>
                    <dd class="item--link">森林深處香水<br class="pc">NT$3,220～＞</dd>
                  </dl>
                </a>
              </li>
              <li class="menu__container">
                <a class="list-item ga-shiropaper2_howto" href="https://shiro-shiro.tw/products/white-lily-eau-de-parfum">
                  <div class="sp__box">
                    <img class="sp__box__img item03"
                      src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/howtouse_umbrella.jpg?v=1719295344"
                      alt="用於雨傘" loading="lazy">
                    <dl class="how-to-use__about">
                      <dt class="item01">用於雨傘</dt>
                      <dd class="item02">在傘上輕噴一下香水，開傘時能聞到柔和的香氣飄散開來。不論是在雨天或陽光明媚的日子，都能感受到芬芳的香氣。</dd>
                    </dl>
                  </div>
                  <dl class="how-to-use__item">
                    <div class="sp_item_text">
                      <dt>RECOMMENDED ITEM</dt>
                    </div>
                    <dd class="item--link">白百合香水<br class="pc">NT$500～＞</dd>
                  </dl>
                </a>
              </li>
              <li class="menu__container">
                <a class="list-item ga-shiropaper2_howto" href="https://shiro-shiro.tw/products/introduction-eau-de-parfum">
                  <div class="sp__box">
                    <img class="sp__box__img item03"
                      src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/howtouse_closet.jpg?v=1719295344"
                      alt="用於衣櫃" loading="lazy">
                    <dl class="how-to-use__about">
                      <dt class="item01">用於衣櫃</dt>
                      <dd class="item02">將香水噴灑在棉花上並放置於衣櫃中。當您在不經意地打開衣櫃時，即可感受從衣物散發的療癒芳香。</dd>
                    </dl>
                  </div>
                  <dl class="how-to-use__item">
                    <div class="sp_item_text">
                      <dt>RECOMMENDED ITEM</dt>
                    </div>
                    <dd class="item--link">溫柔清晨香水<br class="pc">NT$3,220～＞</dd>
                  </dl>
                </a>
              </li>
              <li class="menu__container">
                <a class="list-item ga-shiropaper2_howto" href="https://shiro-shiro.tw/products/whitelily-body-oil_1">
                  <div class="sp__box">
                    <img class="sp__box__img item03"
                      src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/howtouse_bodyscrub.jpg?v=1719295344"
                      alt="作為身體磨砂膏使用" loading="lazy">
                    <dl class="how-to-use__about">
                      <dt class="item01">作為身體磨砂膏使用</dt>
                      <dd class="item02">將鹽混合在身體按摩油中，即可作為身體磨砂膏使用。搭配按摩發揮保濕效果，讓身體出汗的同時使皮膚變得滑嫩。</dd>
                    </dl>
                  </div>
                  <dl class="how-to-use__item">
                    <div class="sp_item_text">
                      <dt>RECOMMENDED ITEM</dt>
                    </div>
                    <dd class="item--link">白百合身體按摩油<br class="pc">NT$1,270＞</dd>
                  </dl>
                </a>
              </li>
              <li class="menu__container">
                <a class="list-item ga-shiropaper2_howto" href="https://shiro-shiro.tw/products/parisienne-favourite-eau-de-parfum">
                  <div class="sp__box">
                    <img class="sp__box__img item03"
                      src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/howtouse_nail.jpg?v=1719295344"
                      alt="用於指甲與皮膚之間" loading="lazy">
                    <dl class="how-to-use__about">
                      <dt class="item01">用於指甲與皮膚之間</dt>
                      <dd class="item02">使用棉花棒沾取香水，塗抹於指緣，使指尖散發香氣，打造深刻的印象。</dd>
                    </dl>
                  </div>
                  <dl class="how-to-use__item">
                    <div class="sp_item_text">
                      <dt>RECOMMENDED ITEM</dt>
                    </div>
                    <dd class="item--link">巴黎女人香香水<br class="pc">NT$3,220～＞</dd>
                  </dl>
                </a>
              </li>
              <li class="menu__container">
                <a class="list-item ga-shiropaper2_howto" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">
                  <div class="sp__box">
                    <img class="sp__box__img item03"
                      src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/howtouse_curtain.jpg?v=1719295344"
                      alt="用於窗簾等地方" loading="lazy">
                    <dl class="how-to-use__about">
                      <dt class="item01">用於窗簾等地方</dt>
                      <dd class="item02">在窗簾的底部等處噴灑香水，即可在房間中享受到與擴香截然不同的香氣。</dd>
                    </dl>
                  </div>
                  <dl class="how-to-use__item">
                    <div class="sp_item_text">
                      <dt>RECOMMENDED ITEM</dt>
                    </div>
                    <dd class="item--link">花店清香香水<br class="pc">NT$3,220～＞</dd>
                  </dl>
                </a>
              </li>
              <li class="menu__container">
                <a class="list-item ga-shiropaper2_howto" href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">
                  <div class="sp__box">
                    <img class="sp__box__img item03"
                      src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/howtouse_ankle.jpg?v=1719295344"
                      alt="就寢前用於腳踝" loading="lazy">
                    <dl class="how-to-use__about">
                      <dt class="item01">就寢前用於腳踝</dt>
                      <dd class="item02">就寢前，向腳踝噴灑香水。伴隨喜愛的香氣縈繞周圍，與香氣一同安心入眠。</dd>
                    </dl>
                  </div>
                  <dl class="how-to-use__item">
                    <div class="sp_item_text">
                      <dt>RECOMMENDED ITEM</dt>
                    </div>
                    <dd class="item--link">花店清香香水<br class="pc">NT$3,220～＞</dd>
                  </dl>
                </a>
              </li>
              <li class="menu__container">
                <a class="list-item ga-shiropaper2_howto" href="https://shiro-shiro.tw/products/perfume-take-it-easy">
                  <div class="sp__box">
                    <img class="sp__box__img item03"
                      src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/howtouse_socks.jpg?v=1719295345"
                      alt="用於襪子" loading="lazy">
                    <dl class="how-to-use__about">
                      <dt class="item01">用於襪子</dt>
                      <dd class="item02">在襪子上輕噴一下香水。在散步時一邊享受從腳底散發的香氣，同時也能讓鞋子保留淡淡的香氣。</dd>
                    </dl>
                  </div>
                  <dl class="how-to-use__item">
                    <div class="sp_item_text">
                      <dt>RECOMMENDED ITEM</dt>
                    </div>
                    <dd class="item--link">輕鬆小調香水<br class="pc">NT$4,650＞</dd>
                  </dl>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="trivia" class="l-content">
      <div class="title__box">
        <p class="sub-title">深入了解香水的知識</p>
        <h2 class="title">香氣小知識</h2>
      </div>
      <div class="l-content__inner">
        <p class="title_text">即便總是有使用香氛的習慣，但實際上還有許多你不知道的香氛小知識。<br>
          了解這些小知識，就能更加享受香氣。</p>
        <div class="trivia-box">
          <div class="order1">
            <div class="q--title">
              <img class="q--title--img"
                src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/Q.svg?v=1719299451">
              <p class="q--title--text">香水有使用期限嗎?</p>
            </div>
            <div class="q--box">
              <p>作為化妝品，未開封的使用期限為從製造開始算起的「3年」。然而，超過3年後，依據香氣的性質，還能享受香氣的各種變化。</p>
            </div>
          </div>

          <div class="order2">
            <div class="q--title">
              <img class="q--title--img"
                src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/Q.svg?v=1719299451">
              <p class="q--title--text">香水、淡香水、古龍水…該如何挑選？</p>
            </div>
            <div class="q--box">
              <p>可從香氣的持續時間和使用場合來進行挑選。香水(Eau de parfum)約持續5-6小時，適合度假或外出使用。淡香水(Eau de
                Toilette)約持續3-4小時，適合在商務場合留下深刻印象。古龍水(Eau de Cologne)約持續1-2小時，較適合學校或日常使用。</p>
            </div>
          </div>

          <div class="order3">
            <div class="q--title">
              <img class="q--title--img"
                src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/Q.svg?v=1719299451">
              <p class="q--title--text">所謂香水是用什麼做成的呢？</p>
            </div>
            <div class="q--box">
              <p>通常是由香料、酒精、蒸餾水等成分製成，香水的持續時間取決於香料的濃度。限定版香水會根據季節的氣候與氛圍進行製作調香。</p>
            </div>
          </div>

          <div class="order4">
            <div class="q--title">
              <img class="q--title--img"
                src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/Q.svg?v=1719299451">
              <p class="q--title--text">SHIRO店舖裡的圓形小石是什麼？</p>
            </div>
            <div class="q--box">
              <p>從LAUREL時代*開始，我們持續將試香卡發送至顧客手中，創造了許多美好的相遇，但有時也會被當成垃圾丟棄。目前在實體店鋪內，我們將在札幌產生的軟石噴灑香氛，向顧客傳遞香氣。<br>*註:
                SHIRO於2009-2014年品牌初期創立時的名稱</p>
            </div>
          </div>

          <div class="order5">
            <div class="q--title">
              <img class="q--title--img"
                src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/Q.svg?v=1719299451">
              <p class="q--title--text">為什麼香水會隨著時間變化改變氣味呢？</p>
            </div>
            <div class="q--box">
              <p>香水的香調通常分為三個階段：塗抹在皮膚上大約持續10-30分鐘的前調，約持續1-2小時的中調，以及直到香氣消失的後調。</p>
            </div>
          </div>

          <div class="order6">
            <div class="q--title">
              <img class="q--title--img"
                src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/Q.svg?v=1719299451">
              <p class="q--title--text">香水適合噴灑在身體哪個部位呢？</p>
            </div>
            <div class="q--box">
              <p>在體溫高的部位使用效果更佳。當你想要充分享受香氣時，可以在耳後、頸部、鎖骨等臉部周圍噴灑。若在腳踝、大腿內側、腰部周圍使用，則可以營造淡淡的香氣。</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="line-up__box">
      <div class="line-up__inner">
        <h2 class="line-up__title">LINEUP</h2>
        <div class="line-up__category">
          <h3 class="line-up__heading"><a href="https://shiro-shiro.tw/collections/eau-de-perfume"><span
                class="heading--bg-color">香氛系列 SHIRO FRAGRANCE</span></a></h3>
          <ul class="line-up__list">
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/savon-eau-de-parfum_1">皂香</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/white-lily-eau-de-parfum">白百合</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/white-tea-eau-de-parfum">白茶</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/earl-grey-eau-de-parfum_2">伯爵茶</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/kinmokusei-eau-de-parfum_1">金木樨</a></li>
          </ul>
        </div>
        <div class="line-up__category">
          <h3 class="line-up__heading"><a
              href="https://shiro-shiro.tw/collections/eau-de-parfum-shiro-perfume"><span
                class="heading--bg-color">香水系列 SHIRO PERFUME</span></a></h3>
          <ul class="line-up__list">
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/freesia-mist-eau-de-parfum">花店清香</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/pomegranate-eau-de-parfum">紅石榴</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/parisienne-favourite-eau-de-parfum">巴黎女人香</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/perfume-marvellous-star">夢中寶石</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/perfume-take-it-easy">輕鬆小調</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/spice-of-life-eau-de-parfum">勇敢的心</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/bon-wood-eau-de-parfum">森林深處</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/perfume-spices-and-tease">秘密基地</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/introduction-eau-de-parfum">溫柔清晨</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/parisian-shirt-eau-de-parfum">巴黎襯衫</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/perfume-incense-clear">沉靜焚香</a></li>
            <li class="line-up__item"><a class="ga-shiropaper2_layered"
                href="https://shiro-shiro.tw/products/smoked-leather-eau-de-parfum">薰香皮革</a></li>
          </ul>
        </div>
        <a class="more__btn ga-shiropaper2_layered" href="https://shiro-shiro.tw/collections/eau-de-parfum-shiro-fragrance-shiro-perfume"><span class="font-tw">查看全部香水</span></a>
      </div>
    </section>
    <p class="credit"><span class="u-en">Illustration</span> : <span class="u-en">Manami</span> <span class="u-en">Ishida</span></p>
  </div>
</div>

<script>
  function scrollToTarget (id) {
    const target = document.querySelector(id)
    const pos = target.getBoundingClientRect().top + scrollY 
    const threshold = document.querySelector('#shopify-section-header')
      ? document.querySelector('#shopify-section-header').clientHeight
      : 0

    window.scrollTo({
      behavior: 'smooth',
      top: pos - threshold
    })
  }
</script>