<div class="wrapper wrapper--wide">
<section class="sozai-area-two">
  <div class="sozai-inner">
  <p class="title-page">
    <span class="font-ttL">NATURAL <br class="spOnly">INGREDIENTS</span>
    <span class="sub">充分享受大自然的恩惠</span>
  </p>
  <div class="ingredients">
  <ul class="ingredientsList">
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/sake-kasu" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/sakekasu-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/sakekasu-sp.jpg" class="item__pic"></picture>
  <div class="item__desc">
  <h3 class="desc__titleJa mb-1">酒粕</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">SAKE KASU</p>
  <p class="desc__effect">＜保濕＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/komenuka" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/komenuka-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/komenuka-sp.jpg" class="item__pic"></picture>
    <div class="item__desc textColor--white">
    <h3 class="desc__titleJa mb-1">米糠</h3>
    <p class="desc__titleEn lang-en-tt-r mb-2">KOMENUKA</p>
    <p class="desc__effect">＜保濕＞</p>
    </div>
    </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/gagome-kombu" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/kombu-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/kombu-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">昆布</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">GAGOME KOMBU</p>
  <p class="desc__effect">＜保水＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/tamanu" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/tamanu-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/tamanu-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">海棠</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">TAMANU</p>
  <p class="desc__effect">＜保濕 / 皮膚調理＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/flaxseed" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/flaxseed-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/flaxseed-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">亞麻</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">FLAXSEED</p>
  <p class="desc__effect">＜肌膚保護力＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/aloe" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/aloe-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/aloe-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">蘆薈</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">ALOE</p>
  <p class="desc__effect">＜保濕＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/butterbur" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/butterbur-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/butterbur-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">冬花</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">BUTTERBUR</p>
  <p class="desc__effect">＜肌膚調理＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/calendula" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/crendura-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/crendura-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">金盞花</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">CALENDULA</p>
  <p class="desc__effect">＜肌膚保護力＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/yuzu" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/yuzu-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/yuzu-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">柚子</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">YUZU</p>
  <p class="desc__effect">＜肌膚調理＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/ginger" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/ginger-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/ginger-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">生薑</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">GINGER</p>
  <p class="desc__effect">＜肌膚調理＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/rhubarb" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/rhubarb-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/rhubarb-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">大黃</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">RHUBARB</p>
  <p class="desc__effect">＜調整肌理 / 光澤＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/neem" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/neem-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/neem-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">苦楝樹</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">NEEM</p>
  <p class="desc__effect">＜延緩老化＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/olive" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/olive-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/olive-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">橄欖</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">OLIVE</p>
  <p class="desc__effect">＜保濕＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/rugosa-rose" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/rugosarose-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/rugosarose-sp.jpg" class="item__pic"></picture>
  <div class="item__desc">
  <h3 class="desc__titleJa mb-1">玫瑰</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">RUGOSA ROSE</p>
  <p class="desc__effect">＜保濕＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/shea-butter" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/sheabutter-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/sheabutter-sp.jpg" class="item__pic"></picture>
  <div class="item__desc">
  <h3 class="desc__titleJa mb-1">乳木果油</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">SHEA BUTTER</p>
  <p class="desc__effect">＜高潤澤＞</p>
  </div>
  </a></li>
  <li class="ingredientsList__item"><a href="https://shiro-shiro.tw/collections/liquorice" class="item__link"> <picture> <source media="(min-width: 768px)" srcset="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/liquorice-pc.jpg"> <img alt="" src="https://cdn.shopify.com/s/files/1/0834/8965/3022/files/liquorice-sp.jpg" class="item__pic"></picture>
  <div class="item__desc textColor--white">
  <h3 class="desc__titleJa mb-1">甘草</h3>
  <p class="desc__titleEn lang-en-tt-r mb-2">LIQUORICE</p>
  <p class="desc__effect">＜皮膚調理＞</p>
  </div>
  </a></li>
  </ul>
  </div>
  </div>
  </section>
</div>