<div class="Container thankspage_container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1 tfont">註冊成功</h1>
    </div>
  </header>

  <div class="PageContent PageContent--narrow Rte">
    <!-- {{ page.content }} -->
    <div class="thankspage_content">
      <p>請繼續購物！</p>
      <a href="/account">
        <button type="submit" class="Button Button--primary"><span>返回首頁</span></button>
      </a>
    </div>
  </div>
</div>

<style>
  .thankspage_content{
    text-align:center;
  }
</style>