<div class="l-wrapper">
				<div id="fragrance" class="page-contents">
				  <div class="sticky-pulldown sp-only is-hide">
					<div class="dropdown dropdown-fragrance">
					  <button type="button" class="dropdown-button">Search by the scent</button>
					  <ul class="dropdown-list">
						<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/savon" target="_blank">SAVON</a></li>
						<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/white-lily" target="_blank">WHITE LILY</a></li>
						<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/white-tea" target="_blank">WHITE TEA</a></li>
						<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/earl-grey" target="_blank">EARL GREY</a></li>
						<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/kinmokusei" target="_blank">KINMOKUSEI</a></li>
					  </ul>
					</div>
					<div class="dropdown dropdown-products">
					  <button type="button" class="dropdown-button">Search by the product</button>
					  <ul class="dropdown-list">
						<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/fragrances-five-fragrances" target="_blank">FRAGRANCE</a></li>
						<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/body-care-five-fragrances" target="_blank">BODY CARE</a></li>
						<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/hair-care-five-fragrances" target="_blank">HAIR CARE</a></li>
						<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/home-care-five-fragrances" target="_blank">HOME</a></li>
					  </ul>
					</div>
				  </div>
				  <section class="section section-main-visual">
					<div class="kv-wrap">
					  <h1 class="kv-hello"><span class="big">Hello</span> <br class="sp-only">to our <br class="sp-only">SHIRO Fragrances.
					  </h1>
					  <div class="anchor-dropdowns">
						<div class="dropdown dropdown-fragrance">
						  <button type="button" class="dropdown-button">Search by the scent</button>
						  <ul class="dropdown-list">
							<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/savon" target="_blank">SAVON</a></li>
							<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/white-lily" target="_blank">WHITE LILY</a></li>
							<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/white-tea" target="_blank">WHITE TEA</a></li>
							<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/earl-grey" target="_blank">EARL GREY</a></li>
							<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/kinmokusei" target="_blank">KINMOKUSEI</a></li>
						  </ul>
						</div>
						<div class="dropdown dropdown-products">
						  <button type="button" class="dropdown-button">Search by the product</button>
						  <ul class="dropdown-list">
							<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/fragrances-five-fragrances" target="_blank">FRAGRANCE</a></li>
							<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/body-care-five-fragrances" target="_blank">BODY CARE</a></li>
							<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/hair-care-five-fragrances" target="_blank">HAIR CARE</a></li>
							<li class="dropdown-content"><a href="https://shiro-shiro.uk/collections/home-care-five-fragrances" target="_blank">HOME</a></li>
						  </ul>
						</div>
					  </div>
					  <p class="annotation">it will lead you the product page of your serching items.</p>
					  <div class="box-inner anime_trigger base_anime box-concept" data-anim="is_fade">
						<div class="box-wrap">
						  <p class="concept-en-title">SHIRO FRAGRANCE</p>
						  <h2 class="concept-title">SHIRO fragrances that provide soothing and delightful aromas.
						  </h2>
						  <p class="concept-description">Five fragrances that gracefully accompany us in our everyday life.<br class="pc-only">May tomorrow bring you an abundance of joy.</p>
						</div>
					  </div>
					</div>
				  </section>
				  <!--SAVON-->
				  <section id="savon" class="section section-fragrance sp-visible-pulldowns">
					<div class="fragrance-container">
					<div class="ds-f">
					  <div class="description-wrapper anime_trigger base_anime" data-anim="is_fade">
						<h2 class="fragrance-name">SAVON</h2>
						<h3 class="fragrance-impression">Clear and subtly sweet, the<br>unforgettable fragrance is crafted<br>through the fusion of citrus and soap.
						</h3>
						<p class="fragrance-description anime_trigger base_anime sp-only" data-anim="is_fade">The fragrance draws inspiration from the image of a crisp and invigorating soap, adorned with a delicate hint of fresh fruits. Revitalized by the zestiness of citrus and the tender sweetness of lingering notes, it exudes a comforting aura. We aspire for you to discover a scent unlike any other, one that embraces and soothes all who encounter it.</p>
					  </div>

					  <div class="fragrance-background anime_trigger base_anime" data-anim="is_fade">
						<picture>
							<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/savon_triangle.jpg" media="(min-width: 768px)" width="581"><img class="material__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/savon_triangle_sp.jpg" alt="" width="318">
						</picture>
					  </div>
				      </div>
					  <p class="fragrance-description anime_trigger base_anime pc-only" data-anim="is_fade">The fragrance draws inspiration from the image of a crisp and invigorating soap, adorned with a delicate hint of fresh fruits. Revitalized by the zestiness of citrus and the tender sweetness of lingering notes, it exudes a comforting aura. We aspire for you to discover a scent unlike any other, one that embraces and soothes all who encounter it.</p>
					</div>
					<div class="products-container">
					  <div class="products-list splide products-splide">
						<div class="splide__track">
						  <ul class="splide__list">
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-eau-de-parfum-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/SAVONEAUDEPARFUM22.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/SAVONEAUDEPARFUM22.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON EAU DE PARFUM (BOXLESS)</p>
								  <p class="product-value">£49</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-hair-mist-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12708_2b017c4c-b3c1-48be-85b1-b79657eac545.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12708_2b017c4c-b3c1-48be-85b1-b79657eac545.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON HAIR MIST (BOXLESS)</p>
								  <p class="product-value">£39</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-room-fragrance-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12716.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12716.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON ROOM FRAGRANCE DIFFUSER LIQUID (BOXLESS)</p>
								  <p class="product-value">£120</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-body-oil-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12705.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12705.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON BODY OIL (BOXLESS)</p>
								  <p class="product-value">£47</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-bath-oil-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12710.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12710.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON BATH OIL (BOXLESS)</p>
								  <p class="product-value">£45</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-solid-perfume-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12703.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12703.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON SOLID PERFUME (BOXLESS)</p>
								  <p class="product-value">£37</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-fabric-softener-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12713.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12713.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON FABRIC SOFTENER (BOXLESS)</p>
								  <p class="product-value">£28</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-laundry-detergent-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12711.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12711.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON LAUNDRY DETERGENT (BOXLESS)</p>
								  <p class="product-value">£28</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-hand-serum-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12706.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12706.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON HAND SERUM (BOXLESS)</p>
								  <p class="product-value">£29</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-body-cologne-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12701.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12701.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON BODY COLOGNE (BOXLESS)</p>
								  <p class="product-value">£32</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-hair-oilboxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12709.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12709.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON HAIR OIL (BOXLESS)</p>
								  <p class="product-value">£39</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-clay-hand-soapboxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12707.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12707.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON CLAY HAND SOAP (BOXLESS)</p>
								  <p class="product-value">£30</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-body-milkboxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12704.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12704.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON BODY MILK (BOXLESS)</p>
								  <p class="product-value">£45</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-body-soapboxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12717.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12717.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON BODY SOAP (BOXLESS)</p>
								  <p class="product-value">£38</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-aroma-oil-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12715.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12715.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON AROMA OIL (BOXLESS)</p>
								  <p class="product-value">£32</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/savon-body-mist" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://a74laycpr313ry47-14403462.shopifypreview.com/cdn/shop/files/12870_600x.jpg" data-src="https://a74laycpr313ry47-14403462.shopifypreview.com/cdn/shop/files/12870_600x.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">SAVON BODY MIST (BOXLESS)</p>
								  <p class="product-value">£48</p>
								</div>
							  </a>
							</li>
						  </ul>
						</div>
					  </div>
					  <button type="button" class="button-more-products" onclick="window.open('https://shiro-shiro.uk/collections/savon', '_blank')" target="_blank">SAVON Series Product List ＞</button>
					</div>
				  </section>
				  <section id="whitelily" class="section section-fragrance">
					<div class="fragrance-container">
						<div class="ds-f">
						  <div class="description-wrapper anime_trigger base_anime" data-anim="is_fade">
							<h2 class="fragrance-name">WHITE LILY</h2>
							<h3 class="fragrance-impression">Enveloped in a bouquet of pristine white flowers, it propels you towards becoming the person you aspire to be. Introducing the sophisticated essence of White Lily.
							</h3>
							<p class="fragrance-description anime_trigger base_anime sp-only" data-anim="is_fade">A refined and pristine fragrance embraced by graceful floral notes. The exquisite Lily has been enhanced, complemented by the gentle presence of Magnolia, resulting in an overall tender impression. It is a scent that delicately instills self-assurance within you.</p>
						  </div>

						  <div class="fragrance-background anime_trigger base_anime" data-anim="is_fade">
							<picture>
								<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/whitelily_triangle_pc.jpg" media="(min-width: 768px)" width="527"><img class="material__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/whitelily_triangle_sp.jpg" alt="" width="318">
							</picture>
						  </div>
						  </div>
						  <p class="fragrance-description anime_trigger base_anime pc-only" data-anim="is_fade">A refined and pristine fragrance embraced by graceful floral notes. The exquisite Lily has been enhanced, complemented by the gentle presence of Magnolia, resulting in an overall tender impression. It is a scent that delicately instills self-assurance within you.</p>
						</div>
					<div class="products-container">
					  <div class="products-list splide products-splide">
						<div class="splide__track">
						  <ul class="splide__list">
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-eau-de-parfum-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/WHITELILYEAUDEPARFUM22.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/WHITELILYEAUDEPARFUM22.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY EAU DE PARFUM (BOXLESS)</p>
								  <p class="product-value">£49</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-hair-mist-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12728.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12728.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY HAIR MIST (BOXLESS)</p>
								  <p class="product-value">£39</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-room-fragrance-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12736.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12736.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY ROOM FRAGRANCE DIFFUSER LIQUID (BOXLESS)</p>
								  <p class="product-value">£120</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-body-oil-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12725.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12725.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY BODY OIL (BOXLESS)</p>
								  <p class="product-value">£47</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-bath-oil-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12730.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12730.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY BATH OIL (BOXLESS)</p>
								  <p class="product-value">£45</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-solid-perfume-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12723.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12723.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY SOLID PERFUME (BOXLESS)</p>
								  <p class="product-value">£37</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-fabric-softener-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12733.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12733.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY FABRIC SOFTENER (BOXLESS)</p>
								  <p class="product-value">£28</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-laundry-detergent-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12731.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12731.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY LAUNDRY DETERGENT (BOXLESS)</p>
								  <p class="product-value">£28</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-hand-serum-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12726.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12726.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY HAND SERUM (BOXLESS)</p>
								  <p class="product-value">£29</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-body-cologne-22-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12721.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12721.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY BODY COLOGNE (BOXLESS)</p>
								  <p class="product-value">£32</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/whitelily-body-mist" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://shiro-shiro.uk/cdn/shop/files/12871_600x.jpg?v=1685438500" data-src="https://shiro-shiro.uk/cdn/shop/files/12871_600x.jpg?v=1685438500" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY BODY MIST (BOXLESS)</p>
								  <p class="product-value">£32</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-hair-oilboxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12729.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12729.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY HAIR OIL (BOXLESS)</p>
								  <p class="product-value">£39</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-clay-hand-soapboxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12727.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12727.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY CLAY HAND SOAP (BOXLESS)</p>
								  <p class="product-value">£30</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-body-milkboxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12724.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12724.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY BODY MILK (BOXLESS)</p>
								  <p class="product-value">£45</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-lily-aroma-oil-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12735.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12735.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE LILY AROMA OIL (BOXLESS)</p>
								  <p class="product-value">£32</p>
								</div>
							  </a>
							</li>
						  </ul>
						</div>
					  </div>
					  <button type="button" class="button-more-products" onclick="window.open('https://shiro-shiro.uk/collections/white-lily', '_blank')" target="_blank">WHITE LILY Series Product List ＞</button>
					</div>
				  </section>
				  <section id="whitetea" class="section section-fragrance">
					<div class="fragrance-container">
						<div class="ds-f">
						  <div class="description-wrapper anime_trigger base_anime" data-anim="is_fade">
							<h2 class="fragrance-name">WHITE TEA</h2>
							<h3 class="fragrance-impression">The freshness of citrus and green envelops your body, while white tea creates a sense of comfort, enabling you to be yourself.
							</h3>
							<p class="fragrance-description anime_trigger base_anime sp-only" data-anim="is_fade">It begins with a revitalizing burst of green and vibrant citrus, leaving you with an elegant and invigorating impression. Subsequently, the tranquility of woody and amber undertones brings about a sense of relaxation. Immersed in this soothing and gentle aroma, you will undoubtedly rediscover your forgotten essence.</p>
						  </div>

						  <div class="fragrance-background anime_trigger base_anime" data-anim="is_fade">
							<picture>
								<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/whitetea_triangle_pc.jpg" media="(min-width: 768px)" width="527"><img class="material__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/whitetea_triangle_sp.jpg" alt="" width="318">
							</picture>
						  </div>
						  </div>
						  <p class="fragrance-description anime_trigger base_anime pc-only" data-anim="is_fade">It begins with a revitalizing burst of green and vibrant citrus, leaving you with an elegant and invigorating impression. Subsequently, the tranquility of woody and amber undertones brings about a sense of relaxation. Immersed in this soothing and gentle aroma, you will undoubtedly rediscover your forgotten essence.</p>
						</div>
					<div class="products-container">
					  <div class="products-list splide products-splide">
						<div class="splide__track">
						  <ul class="splide__list">
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/whitetea-bath-salt-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://d67ueg97gu0cp3pz-14403462.shopifypreview.com/cdn/shop/files/12904_600x.jpg" data-src="https://d67ueg97gu0cp3pz-14403462.shopifypreview.com/cdn/shop/files/12904_600x.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE TEA BATH SALT (BOXLESS)</p>
								  <p class="product-value">£47</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-tea-body-mist-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://d67ueg97gu0cp3pz-14403462.shopifypreview.com/cdn/shop/files/12905_600x.jpg" data-src="https://d67ueg97gu0cp3pz-14403462.shopifypreview.com/cdn/shop/files/12905_600x.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE TEA BODY MIST (BOXLESS)</p>
								  <p class="product-value">£32</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-tea-eau-de-parfum-boxless-1" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://d67ueg97gu0cp3pz-14403462.shopifypreview.com/cdn/shop/files/12906_600x.jpg" data-src="https://d67ueg97gu0cp3pz-14403462.shopifypreview.com/cdn/shop/files/12906_600x.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE TEA EAU DE PARFUM (BOXLESS)</p>
								  <p class="product-value">£49</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-tea-body-milk-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://d67ueg97gu0cp3pz-14403462.shopifypreview.com/cdn/shop/files/12907_600x.jpg" data-src="https://d67ueg97gu0cp3pz-14403462.shopifypreview.com/cdn/shop/files/12907_600x.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE TEA BODY MILK (BOXLESS)</p>
								  <p class="product-value">£45</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-tea-aroma-oil-boxless-1" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://d67ueg97gu0cp3pz-14403462.shopifypreview.com/cdn/shop/files/12908_600x.jpg" data-src="https://d67ueg97gu0cp3pz-14403462.shopifypreview.com/cdn/shop/files/12908_600x.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE TEA AROMA OIL (BOXLESS)</p>
								  <p class="product-value">£32</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-tea-clay-hand-soap-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12909.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12909.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE TEA CLAY HAND SOAP (BOXLESS)</p>
								  <p class="product-value">£30</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-tea-hand-serum-boxless-1" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12910.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12910.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE TEA HAND SERUM (BOXLESS)</p>
								  <p class="product-value">£30</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-tea-hair-oil-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12911.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12911.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE TEA HAIR OIL (BOXLESS)</p>
								  <p class="product-value">£39</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-tea-hair-mist-boxless-1" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12912.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12912.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE TEA HAIR MIST (BOXLESS)</p>
								  <p class="product-value">£39</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-tea-fabric-softener-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12913.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12913.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE TEA FABRIC SOFTENER (BOXLESS)</p>
								  <p class="product-value">£28</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-tea-laundry-detergent-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12915.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12915.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE TEA LAUNDRY DETERGENT (BOXLESS)</p>
								  <p class="product-value">£28</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/white-tea-fragrance-diffuser-liquid-boxless-1" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12917.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12917.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">WHITE TEA FRAGRANCE DIFFUSER LIQUIDE (BOXLESS)</p>
								  <p class="product-value">£120</p>
								</div>
							  </a>
							</li>
						  </ul>
						</div>
					  </div>
					  <button type="button" class="button-more-products" onclick="window.open('https://shiro-shiro.uk/collections/white-tea', '_blank')" target="_blank">WHITE TEA Series Product List ＞</button>
					</div>
				  </section>
				  <section id="earlgrey" class="section section-fragrance">
					<div class="fragrance-container">
						<div class="ds-f">
						  <div class="description-wrapper anime_trigger base_anime" data-anim="is_fade">
							<h2 class="fragrance-name">EARL GREY</h2>
							<h3 class="fragrance-impression">The aroma of ripe, bursting fruits intertwines harmoniously with the sublime elegance of Earl Grey. This enchanting scent exudes a captivating charm and irresistible sophistication.
							</h3>
							<p class="fragrance-description anime_trigger base_anime sp-only" data-anim="is_fade">This fruity Earl Grey fragrance commences with the comforting sweetness of bergamot. Over time, the underlying notes of Earl Grey and rose unveil an exquisite impression of elegance. Embrace your true self and relish in the evolving essence of this scent.</p>
						  </div>

						  <div class="fragrance-background anime_trigger base_anime" data-anim="is_fade">
							<picture>
								<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/earlgrey_triangle_pc.jpg" media="(min-width: 768px)" width="527"><img class="material__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/earlgrey_triangle_sp.jpg" alt="" width="318">
							</picture>
						  </div>
						  </div>
						  <p class="fragrance-description anime_trigger base_anime pc-only" data-anim="is_fade">This fruity Earl Grey fragrance commences with the comforting sweetness of bergamot. Over time, the underlying notes of Earl Grey and rose unveil an exquisite impression of elegance. Embrace your true self and relish in the evolving essence of this scent.</p>
						</div>
					<div class="products-container">
					  <div class="products-list splide products-splide">
						<div class="splide__track">
						  <ul class="splide__list">
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/earl-grey-eau-de-parfum-boxless" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://shiro-shiro.uk/cdn/shop/products/SHIRO_EARLGREYeaudeparfum_8a221997-349c-438f-9e4a-45cc0b768abc_600x.jpg" data-src="https://shiro-shiro.uk/cdn/shop/products/SHIRO_EARLGREYeaudeparfum_8a221997-349c-438f-9e4a-45cc0b768abc_600x.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">EARL GREY EAU DE PARFUM (BOXLESS)</p>
								  <p class="product-value">£49</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/earl-grey-body-mist" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12873.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12873.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">EARL GREY BODY MIST (BOXLESS)</p>
								  <p class="product-value">£32</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/earl-grey-hand-serum" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://a74laycpr313ry47-14403462.shopifypreview.com/cdn/shop/files/12739_600x.jpg" data-src="https://a74laycpr313ry47-14403462.shopifypreview.com/cdn/shop/files/12739_600x.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">EARL GREY HAND SERUM (BOXLESS)</p>
								  <p class="product-value">£29</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/earl-clay-hand-soap" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12740.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12740.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">EARL GREY CLAY HAND SOAP (BOXLESS)</p>
								  <p class="product-value">£30</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/earl-grey-hair-oil" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12741.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12741.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">EARL GREY HAIR OIL (BOXLESS)</p>
								  <p class="product-value">£39</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/earl-grey-fabric-softener" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12742.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12742.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">EARL GREY FABRIC SOFTENER (BOXLESS)</p>
								  <p class="product-value">£28</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/earl-grey-laundry-detergent" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12743.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12743.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">EARL GREY LAUNDRY DETERGENT (BOXLESS)</p>
								  <p class="product-value">£28</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/earl-grey-fragrance-diffuser-liquid" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12744.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12744.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">EARL GREY FRAGRANCEDIFFUSER LIQUID (BOXLESS)</p>
								  <p class="product-value">£120</p>
								</div>
							  </a>
							</li>
						  </ul>
						</div>
					  </div>
					  <button type="button" class="button-more-products" onclick="window.open('https://shiro-shiro.uk/collections/earl-grey', '_blank')" target="_blank">EARL GREY Series Product List ＞</button>
					</div>
				  </section>
				  <section id="kinmokusei" class="section section-fragrance">
						<div class="fragrance-container">
							<div class="ds-f">
							  <div class="description-wrapper anime_trigger base_anime" data-anim="is_fade">
								<h2 class="fragrance-name">KINMOKUSEI</h2>
								<h3 class="fragrance-impression">The scent possesses an exotic yet nostalgic charm that entices and intrigues, causing people to instinctively glance back.
								</h3>
								<p class="fragrance-description anime_trigger base_anime sp-only" data-anim="is_fade">The journey begins with the invigorating sweetness of bergamot, leading to the gentle and tranquil aroma of Kinmokusei (fragrant olive), evoking a sense of nostalgia. Enveloped in an ambiance of exotic and sentimental scents, cherish this special day for yourself.</p>
							  </div>

							  <div class="fragrance-background anime_trigger base_anime" data-anim="is_fade">
								<picture>
									<source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/kinmokusei_triangle_pc.jpg" media="(min-width: 768px)" width="527"><img class="material__image" src="https://cdn.shopify.com/s/files/1/1440/3462/files/kinmokusei_triangle_sp.jpg" alt="" width="318">
								</picture>
							  </div>
							  </div>
							  <p class="fragrance-description anime_trigger base_anime pc-only" data-anim="is_fade">The journey begins with the invigorating sweetness of bergamot, leading to the gentle and tranquil aroma of Kinmokusei (fragrant olive), evoking a sense of nostalgia. Enveloped in an ambiance of exotic and sentimental scents, cherish this special day for yourself.</p>
						</div>
					<div class="products-container">
					  <div class="products-list splide splide products-splide">
						<div class="splide__track">
						  <ul class="splide__list">
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/kinmokusei-eau-de-parfum" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/KINMOKUSEI_eaudeparfum.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/KINMOKUSEI_eaudeparfum.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">KINMOKUSEI EAU DE PARFUM (BOXLESS)</p>
								  <p class="product-value">£49</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/kinmokusei-body-mist" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12636.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12636.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">KINMOKUSEI BODY MIST (BOXLESS)</p>
								  <p class="product-value">£32</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/kinmokusei-hand-serum" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12745.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12745.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">KINMOKUSEI HAND SERUM(BOXLESS)</p>
								  <p class="product-value">£29</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/kinmokusei-clay-hand-soap" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12746.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12746.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">KINMOKUSEI CLAY HAND SOAP (BOXLESS)</p>
								  <p class="product-value">£30</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/kinmokusei-hair-mist" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12747.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12747.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">KINMOKUSEI HAIR MIST (BOXLESS)</p>
								  <p class="product-value">£39</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/kinmokusei-fabric-softener" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12748.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12748.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">KINMOKUSEI FABRIC SOFTENER (BOXLESS)</p>
								  <p class="product-value">£28</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/kinmokusei-laundry-detergent" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12749.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12749.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">KINMOKUSEI LAUNDRY DETERGENT (BOXLESS)</p>
								  <p class="product-value">£28</p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/products/kinmokusei-fragrance-diffuser-liquid" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12744_2fe20425-670c-4312-98e4-b682e77ac464.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/files/12744_2fe20425-670c-4312-98e4-b682e77ac464.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="product-name">KINMOKUSEI FRAGRANCEDIFFUSER LIQUID (BOXLESS)</p>
								  <p class="product-value">£120</p>
								</div>
							  </a>
							</li>
						  </ul>
						</div>
					  </div>
					  <button type="button" class="button-more-products" onclick="window.open('https://shiro-shiro.uk/collections/kinmokusei', '_blank')" target="_blank">KINMOKUSEI Series Product List ＞</button>
					</div>
				  </section>
				  <section class="section section-products">
					<div class="section-header">
					  <div class="section-title-en">Search by Product</div>
					  <h2 class="section-title-jp">
						<picture class="lozad" style="display: block; min-height: 1rem" data-alt="">
						  <source media="(max-width: 768px)" srcset="/client_info/SHIRO/view/userweb/ext/fragrance/assets/images/products/products_title_sp.svg">
						  <source media="(min-width: 769px)" srcset="/client_info/SHIRO/view/userweb/ext/fragrance/assets/images/products/products_title.svg">
						</picture>
					  </h2>
					</div>
					<div class="products-container">
					  <div class="products-list-header">
						<h3 class="products-category">FRAGRANCE</h3>
						<a class="products-more" href="https://shiro-shiro.uk/collections/fragrances-five-fragrances" target="_blank">See More Product ＞</a>
					  </div>
					  <div class="products-list splide products-splide">
						<div class="splide__track">
						  <ul class="splide__list">
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/eau-de-parfum-five-fragrances" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/SAVONEAUDEPARFUM22.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/SAVONEAUDEPARFUM22.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">EAU DE PARFUM</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY /<br>KINMOKUSEI </p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/body-cologne" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/2418/1099/products/12701_700x_50932547-93eb-4eae-be0a-b2fe5089c611.jpg" data-src="https://cdn.shopify.com/s/files/1/2418/1099/products/12701_700x_50932547-93eb-4eae-be0a-b2fe5089c611.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">BODY COLOGNE</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY </p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/shiro-fragrance/Solidperfume" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://shiro-shiro.uk/cdn/shop/products/12703_700x.jpg" data-src="https://shiro-shiro.uk/cdn/shop/products/12703_700x.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">SOLID PERFUME</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA </p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/body-mist-five-fragrances" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://a74laycpr313ry47-14403462.shopifypreview.com/cdn/shop/files/12870_600x.jpg" data-src="https://a74laycpr313ry47-14403462.shopifypreview.com/cdn/shop/files/12870_600x.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">BODY MIST</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY /<br>KINMOKUSEI </p>
								</div>
							  </a>
							</li>
						  </ul>
						</div>
					  </div>
					</div>
					<div class="products-container">
					  <div class="products-list-header">
						<h3 class="products-category">BODY CARE</h3>
						<a class="products-more" href="https://shiro-shiro.uk/collections/body-care-five-fragrances" target="_blank">See More Product ＞</a>
					  </div>
					  <div class="products-list splide products-splide">
						<div class="splide__track">
						  <ul class="splide__list">
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/hand-serum-five-fragrances" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12706.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12706.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">HAND SERUM</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY /<br>KINMOKUSEI </p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/clay-hand-soap" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12707.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12707.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">CLAY HAND SOAP</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY /<br>KINMOKUSEI </p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/body-milk-1" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/2418/1099/products/12704_700x_334915f1-f916-44a9-9d64-b0ff5833223d.jpg" data-src="https://cdn.shopify.com/s/files/1/2418/1099/products/12704_700x_334915f1-f916-44a9-9d64-b0ff5833223d.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">BODY MILK</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA </p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/body-oil" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/2418/1099/products/12705_700x_31fccab8-719c-4f18-b8c0-6846cd96d6a0.jpg" data-src="https://cdn.shopify.com/s/files/1/2418/1099/products/12705_700x_31fccab8-719c-4f18-b8c0-6846cd96d6a0.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">BODY OIL</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY </p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/bath-oil" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/2418/1099/products/12710_700x_755cbdaf-70c3-46b0-ad36-f4bfd37ac4e9.jpg" data-src="https://cdn.shopify.com/s/files/1/2418/1099/products/12710_700x_755cbdaf-70c3-46b0-ad36-f4bfd37ac4e9.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">BATH OIL</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA </p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/body-soap" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/2418/1099/products/12717_700x_6a88e4f3-4e6f-4c46-9024-efc4e6c0de34.jpg" data-src="https://cdn.shopify.com/s/files/1/2418/1099/products/12717_700x_6a88e4f3-4e6f-4c46-9024-efc4e6c0de34.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">BODY SOAP</p>
								  <p class="category-fragrance"> SAVON </p>
								</div>
							  </a>
							</li>
						  </ul>
						</div>
					  </div>
					</div>
					<div class="products-container">
					  <div class="products-list-header">
						<h3 class="products-category">HAIR CARE</h3>
						<a class="products-more" href="https://shiro-shiro.uk/collections/hair-care-five-fragrances" target="_blank">See More Product ＞</a>
					  </div>
					  <div class="products-list splide products-splide">
						<div class="splide__track">
						  <ul class="splide__list">
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/hair-oil" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12709.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12709.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">HAIR OIL</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY /<br>EARL GREY </p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/hair-mist" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12708_2b017c4c-b3c1-48be-85b1-b79657eac545.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12708_2b017c4c-b3c1-48be-85b1-b79657eac545.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">HAIR MIST</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY /<br>KINMOKUSEI </p>
								</div>
							  </a>
							</li>
						  </ul>
						</div>
					  </div>
					</div>
					<div class="products-container">
					  <div class="products-list-header">
						<h3 class="products-category">HOME</h3>
						<a class="products-more" href="https://shiro-shiro.uk/collections/home-care-five-fragrances" target="_blank">See More Product ＞</a>
					  </div>
					  <div class="products-list splide products-splide">
						<div class="splide__track">
						  <ul class="splide__list">
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/fragrance-diffuser-liquid-five-fragrances" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12716.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12716.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">FRAGRANCE DIFFUSER LIQUID</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY /<br>KINMOKUSEI </p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/laundry-detergent" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12711.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12711.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">LAUNDRY DETERGENT</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY /<br>KINMOKUSEI </p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/fabric-softener-1" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/products/12713.jpg" data-src="https://cdn.shopify.com/s/files/1/1440/3462/products/12713.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">FABRIC SOFTENER</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA / EARL GREY /<br>KINMOKUSEI </p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
							  <a class="product-item" href="https://shiro-shiro.uk/collections/aroma-oil" target="_blank">
								<div class="product-thumbnail">
								  <img class="lozad" src="https://cdn.shopify.com/s/files/1/2418/1099/products/12715_700x_1f6ac253-39ee-4504-a2b6-10e8e8cb54d3.jpg" data-src="https://cdn.shopify.com/s/files/1/2418/1099/products/12715_700x_1f6ac253-39ee-4504-a2b6-10e8e8cb54d3.jpg" alt="" loading="lazy">
								</div>
								<div class="product-info">
								  <p class="category-name">AROMA OIL</p>
								  <p class="category-fragrance"> SAVON / WHITE LILY /<br>WHITE TEA </p>
								</div>
							  </a>
							</li>
							<li class="splide__slide">
								<a class="product-item" href="https://shiro-shiro.uk/products/whitetea-bath-salt-boxless" target="_blank">
								  <div class="product-thumbnail">
									<img class="lozad" src="https://cdn.shopify.com/s/files/1/1440/3462/files/12904.jpg" data-src=https://cdn.shopify.com/s/files/1/1440/3462/files/12904.jpg" alt="" loading="lazy">
								  </div>
								  <div class="product-info">
									<p class="category-name">WHITE TEA BATH SALT (BOXLESS)</p>
									<p class="category-fragrance"> WHITE TEA </p>
								  </div>
								</a>
							  </li>
						  </ul>
						</div>
					  </div>
					</div>
				  </section>
				</div>
			  </div>