<div class="Container thankspage_container">
  <header class="PageHeader">
    <div class="SectionHeader SectionHeader--center">
      <h1 class="SectionHeader__Heading Heading u-h1 tfont">新會員註冊成功</h1>
    </div>
  </header>

  <div class="PageContent PageContent--narrow Rte">
    <!-- {{ page.content }} -->
    <div class="thankspage_content">
      <p>感謝您加入SHIRO Taiwan會員<br>
        已向您註冊的電子郵件地址發送了會員註冊完成的郵件通知。<br>
        如果您沒有收到郵件，請透過下述管道與我們聯繫。<br>
        客服信箱：info@shiro-shiro.tw<br>
        客服專線：0800-004-646</p>
      <a href="//shiro-tw-store.myshopify.com/">
        <button type="submit" class="Button Button--primary"><span>返回首頁</span></button>
      </a>
    </div>
  </div>
</div>

<style>
  .thankspage_content{
    text-align:center;
  }
  @media screen and (max-width: 640px) {
  .thankspage_container .thankspage_content p{
  text-align: left;
  }
}
</style>