<div id="oil_collection">
  <h1>oil_collection</h1>
  <img class="only-pc"
    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/BN_73670f68-aba9-4ee0-ac98-2b7f44e3d5cb.jpg?v=1708291818" alt="">
  <img class="only-sp"
    src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/BN_sp_197e6036-7e69-4eda-88d4-23e4c095598b.jpg?v=1708291818">
  <div class="container">
    <div class="content1">
      <div class="content_inner">
        <h2 class="oil_title">感受素材真實原貌的保養油</h2>
        <p>
          「素材」是SHIRO產品的核心，<br>堅持選用優質素材的理念從品牌誕生至今從未改變。<br>我們與用心培育素材的生產者們、自然孕育而成的天然素材相遇，<br>盡最大可能創造出不添加多餘成分的產品。<br>在追尋與自然關係融洽的過程中所發現的植物，<br>擁有著超越我們想像的力量、強健我們心靈與身體。
        </p>
        <p>我們致力於以更單純且直接的方式將植物的優點充分發揮出來，<br>於是，我們最終與保養油相遇。</p>
        <p>使用奢華植物油所製成的8種保養油。<br>今天的你、最適合哪一款呢？
        </p>
      </div>
    </div>
    <div class="content2">
      <div class="content_inner">
        <h2 class="oil_title">8種自然素材的力量滋養肌膚</h2>


        <div class="oil_collection_list">
          <div class="slider_container">

            <div class="slider">
              <div class="slick-img">
                <a href="/products/oil-collection-calendula-oil" target="_blank">
                  <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/01.jpg?v=1708291817" alt="金盞花油"/>
                </a>
              </div>
              <div class="slick-img">
                <a href="/products/oil-collection-kalahari-melon-oil" target="_blank">
                  <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/02.jpg?v=1708291817" alt="卡拉哈里瓜油"/>
                </a>
              </div>
              <div class="slick-img">
                <a href="/products/oil-collection-tamanu-oil" target="_blank">
                  <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/03.jpg?v=1708291818" alt="海棠油" />
                </a>
              </div>
              <div class="slick-img">
                <a href="/products/oil-collection-st-johns-wort-oil" target="_blank">
                  <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/04.jpg?v=1708291818" alt="聖約翰草油" />
                </a>
              </div>
              <div class="slick-img">
                <a href="/products/oil-collection-yomogi-oil" target="_blank">
                  <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/05.jpg?v=1708291817" alt="魁蒿油" />
                </a>
              </div>
              <div class="slick-img">
                <a href="/products/oil-collection-flaxseed-oil" target="_blank">
                  <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/06.jpg?v=1708291817" alt="亞麻油" />
                </a>
              </div>
              <div class="slick-img">
                <a href="/products/oil-collection-arnica-oil" target="_blank">
                  <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/07.jpg?v=1708291818" alt="山金車花油" />
                </a>
              </div>
              <div class="slick-img">
                <a href="/products/oil-collection-himashi-oil" target="_blank">
                  <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/08.jpg" alt="蓖麻油" />
                </a>
              </div>
              
            </div>
          </div>

        </div>

        <script>
          // $(function () {
          //   $(".slider").slick({
          //     autoplay: true,
          //     dots: true,
          //     slidesToShow: 3,
          //     slidesToScroll: 1
          //   });
          // });

          $(function () {
            $(".slider").slick({
              arrows: true,
              autoplay: false,
              adaptiveHeight: true,
              dots: true,
              slidesToShow: 3,
              prevArrow: '<button class="slide-arrow prev-arrow"></button>',
              nextArrow: '<button class="slide-arrow next-arrow"></button>',
              responsive: [
                {
                  breakpoint: 740,
                  settings: {
                    slidesToShow: 1,
                  },
                },
              ],
            });
          });

        </script>
        <style>
          .slick-dots li.slick-active button:before {
            color: #E9C437;
          }

          .slick-dots li button:before {
            color: #000;

          }

          .slick-dots li button:before:hover {
            color: #000 !important;
          }

          /* .slider {
            margin: 30px auto 0;
            max-width: 1200px;
            width: 100%;
          } */
          .slick-img {
            margin: -10px;
          }

          .slick-img img {
            height: auto;
            width: 100%;
            padding: 20px;
          }

          .slide-arrow {
            background-color: #333;
            bottom: 0;
            height: 0;
            margin: auto;
            position: absolute;
            top: 0;
            width: 0;
          }

          .prev-arrow {
            border-bottom: 15px solid #fff;
            border-left: 0;
            border-right: 15px solid #E6C935;
            border-top: 15px solid #fff;
            left: -25px;
          }

          .next-arrow {
            border-bottom: 15px solid #fff;
            border-left: 15px solid #E6C935;
            border-right: 0;
            border-top: 15px solid #fff;
            right: -25px;
          }
        </style>

      </div>
      <div class="content3">
        <h2 class="oil_title">一瓶守護肌膚<br>使用保養油的多種方式</h2>
        <img class="only-pc" src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use01.png?v=1708291818"
          alt="">
        <img class="only-pc" src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use02.png?v=1708291818"
          alt="">
        <img class="only-sp" src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use01_sp.png?v=1708291818"
          alt="">
        <img class="only-sp" src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/how-to-use02_sp.png?v=1708291818"
          alt="">
      </div>
    </div>


  </div>

  <style>
    #oil_collection {
      color: #222;
    }

    #oil_collection h1 {
      display: none;
    }

    #oil_collection .container {
      max-width: 985px;
      margin: auto;
      padding: 0 0px;
    }

    #oil_collection .content_inner {
      margin: auto;
    }

    #oil_collection .content1 .content_inner,
    #oil_collection .content2 .content_inner,
    #oil_collection .content3 .oil_title {
      padding: 0 10%;
    }

    #oil_collection .content1,
    #oil_collection .content2 {
      background-color: #fff;
    }

    #oil_collection .content2 .content_inner {
      margin-bottom: 80px;
    }

    #oil_collection .slider {
      padding-bottom: 20px;

    }

    #oil_collection .content3 {
      background-color: #F4D740;
      margin-bottom: 80px;
    }

    #oil_collection .oil_title {
      font-size: 28px;
    }

    #oil_collection .content1 .oil_title {
      padding-top: 40px;
      margin-bottom: 30px;
    }

    #oil_collection .content2 .oil_title {
      padding-top: 40px;
      margin-bottom: 30px;
    }

    #oil_collection .content3 {
      padding: 0 30px;
    }

    #oil_collection .content3 .oil_title {
      padding-top: 40px;
      margin-bottom: 50px;
    }

    #oil_collection .container p {
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 1px;
      font-weight: 400;
    }

    .only-pc {
      display: none;
    }

    @media screen and (min-width: 769px) {
      .only-pc {
        display: block;
      }

      .only-sp {
        display: none;
      }
    }

    @media screen and (max-width: 768px) {
      #oil_collection .container {
        width: 95%;
        padding: 0px;
      }

      #oil_collection .oil_title {
        font-size: 22px;
      }


      #oil_collection .content1 .content_inner,
      #oil_collection .content2 .content_inner,
      #oil_collection .content3 .oil_title {
        padding-top: 40px;
        margin-bottom: 0;
      }

      #oil_collection .content3 {
        padding: 0 30px;
      }

      #oil_collection .content3 .oil_title {
        margin-bottom: 50px;
        padding: 30px 0 0 0;
      }

      .slider {
        width: 80%;
        margin: auto;
      }
    }
  </style>