<div id="gift_wrapping">
  <div class="page_width">
  <div class="gift_header gift_inner">

    <h2 class="title">禮物包裝</h2>
    <h3 class="subtitle">Gift</h3>
    <p class="paragraph">SHIRO提供禮物包裝服務。<br>
      送禮給重要的人或紀念日等各個場合皆歡迎多加利用。</p>
  </div>


  <div class="gift_container">
    <div class="gift_inner">
      <div class="gift_content1">
        <img class="content_img" src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/wrapping-1.jpg?v=1708293346" alt="">
        <p class="content_text1">禮盒各90元</p>
        <p class="content_text2">在每個商品購物頁中，依據您購買的商品大小，<br>我們提供相應尺寸的SHIRO品牌禮盒推薦，歡迎加價選購。</p>
      </div>

      <div class="gift_flex">
        <div class="gift_content2">
          <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/wrapping-slide-1.jpg?v=1708293346" alt="">
            <p>禮盒1、禮盒2為平口紙袋。</p>
            <p class="sp-only">
              禮盒1 寬：125mm / 高：190mm / 側：70mm <br>
              禮盒2 寬：110mm / 高：232mm / 側：70mm</p>
        </div>

        <div class="gift_content3">
          <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/wrapping-slide-2.jpg?v=1708293346" alt="">
            <p>禮盒3的盒型為書型盒，禮盒中會放入繪有SHIRO素材的紙作爲緩衝。 <br>
              </p>
            <p class="sp-only">
              禮盒3 寬：265mm / 高：205mm / 側：95mm <br>
            </p>
        </div>
      </div>

        <div class="pc-only gift_content23_p">
          <p>
            禮盒1 寬：125mm / 高：190mm / 側：70mm <br>
            禮盒2 寬：110mm / 高：232mm / 側：70mm</p>
          <p>
            禮盒3 寬：265mm / 高：205mm / 側：95mm <br>
          </p>
        </div>

      <p class="sp_mt">■圖片僅供參考。 <br>
        ■如您對禮物包裝有任何相關需求，(例如:僅部分商品需要包裝)請在「選擇付款方式」頁面下方「備註事項」欄位中填寫需求內容，我們將會依據您需求包裝的商品大小，提供相應尺寸的禮物盒包裝服務。</p>

      <hr class="hr_1">
    </div>
    <div class="gift_inner">
      <div class="gift_content4">
        <img src="//cdn.shopify.com/s/files/1/0834/8965/3022/files/shopping-bag_2.jpg" alt="">
        <p>在每個商品購物頁中，依據您購買的商品大小， <br>
          我們提供相應尺寸的SHIRO品牌紙袋推薦，歡迎您可以額外選購。</p>
      </div>
      <hr class="hr_2">

      <div class="gift_content5">
        <p><span class="size">◆S</span><br>
          寬：200mm / 高：200mm / 側：85mm<br>
          適合裝入中型尺寸之商品:如化妝水、洗顏慕斯、保濕身體乳等</p>
        <p>
          <span class="size">◆M</span><br>
          寬：225mm / 高：330mm / 側：95mm<br>
          適合裝入體積較大之商品: 如室內擴香、衣物柔軟精、洗衣精等</p>
      </div>

      <hr class="hr_3">

      <div class="gift_content6">
        <p>溫馨提醒</p>
        <ul>
          <li>您可以購買的紙袋數量與商品數量相同，為了提供您更好的送禮需求，目前SHIRO品牌紙袋都為日本空運進口，數量有限，故尚未開放大量選購紙袋。</li>
          <li>如果我們推薦的SHIRO品牌紙袋尺寸不適合您的需求，請於下單時填寫備註，告知我們您希望更換的尺寸， 客服人員會依據您的需求調整您的訂單包裹</li>
        </ul>
      </div>
    </div>

  </div>
</div>

</div>



<style>
  #gift_wrapping {
    padding-top: 50px;
  }
  /* #gift_wrapping h2 ,#gift_wrapping h3,#gift_wrapping p{
    font-family: NotoSansJP, TTCommons, "Hiragino Kaku Gothic Pro", Meiryo, メイリオ, "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Roboto, "Droid Sans", sans-serif !important;
  } */
  #gift_wrapping p{
    /* font-weight: 600 !important; */
  }
  .page_width {
    max-width: 864px;
    width: 90%;
    margin: auto;
  }

  .gift_container {
    background-color: #fff;
    margin: auto;
    padding: 50px 0 50px 0;
    margin-bottom: 80px;
  }

  .gift_inner {
    width: 90%;
    margin: auto;
  }
  .gift_container p{
  font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
}
  .gift_container .gift_inner img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .gift_flex {
    display: flex;
    justify-content: space-between;
  }
  .gift_content1 .content_text1{
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 1px;
    /* font-weight: 700; */
    }
  .gift_content1 .content_text2{
    display: flex; 
    justify-content: center;
    margin-bottom: 30px;
    /* font-weight: 600; */
  }
  .gift_content2,
  .gift_content3 {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
  .pc_w48{
    width: 48%;
    align-items: right;
  }
  .gift_content2_p,
  .gift_content3_p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* .gift_content5 p span{
    font-weight: 700;
  } */
  .gift_content5 p .size{
    font-size: 15px;
    line-height: 32px;
  }
  .gift_content6 p{
    font-size: 15px;
    line-height: 32px;
    /* font-weight: 700; */
  }
  .gift_content6 ul li {
    list-style-position: outside;
    position: relative;
    padding-left: 15px !important;
    font-size: 12px;
    line-height: 16px;
    list-style: none;
}
.gift_content6 ul li:before {
    content: '■';
    position: absolute;
    left: 0;
    top: 0;
}
  hr{
    border-top: solid 1px #888;
    border-color: #D5D5D6 !important;
  }
.hr_1{
  margin: 50px 0 40px;
  height: 1px;
}
.hr_2, .hr_3{
  margin: 32px 0 24px;
  height: 1px;

}

  .gift_header {
    text-align: center;
    /* font-weight: 500; */
  }

  .gift_header .title {
    font-size: 28px;
    /* font-weight: 400; */
    text-align: center;
    line-height: 1.75;
    margin-bottom: 0;
  }

  .gift_header .subtitle {
    display: block;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
  }

  .gift_header .paragraph {
    margin-bottom: 50px;
    line-height: 1.75;
    font-size: 16px;
  }
.gift_content23_p{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.gift_content23_p p{
  width: 48%;
  vertical-align: bottom;
}
@media screen and (min-width: 769px) {
    .sp-only {
      display: none !important;
    }
  }

  @media screen and (max-width: 768px) {
    .pc-only {
      display: none !important;
    }
    .gift_content1 .content_text2{
    display: block; 
    justify-content: start;
    margin-bottom: 30px;
    }
    .gift_flex{
      display: block;
    }
    .gift_content2 ,.gift_content3{
      width: 100%;
    }
    .gift_content2 .sp-only{
      margin-bottom: 40px;
    }
    .gift_content3 .sp-only,.sp_mt{
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 640px) {
    .page_width {
      width: 95%;
    }
    .gift_container{
      margin-bottom: 40px;
    }
    .gift_header .paragraph {
      text-align: left;
  }
  }
</style>