<div class="l-wrapper">
  <div class="l-main" id="savon-whitelily">
    <section class="l-content content-01">
      <div class="l-content__container l-inner">
        <div class="l-content__box--wide u-mb_s40-p60">
          <div class="content__header">
            <h1 class="content__img">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/01_cover-pc.jpg" width="100%" height="*" media="(min-width: 768px)"><img src="https://cdn.shopify.com/s/files/1/1440/3462/files/01_cover-sp.jpg" alt="RENEWAL With new Savon and White Lily,Be more yourself." width="100%" height="*">
              </picture>
            </h1>
          </div>
        </div>
        <div class="l-content__box u-mb_s40-p60">
          <p class="content__introduction">The scent of Savon and White Lily that many customers have been using for many years.<br>In February 2023, SHIRO has change some fragrance formulas and turned them into even more enjoyable fragrances<sup>*</sup>.</p>
          <p class="content__alertText">*The target ingredient is “Lilial”. The possibility of being an allergen was reported, and the usage limit of ingredient has been changed. However, SHIRO has never received any case reports of health damage caused by these ingredients in SHIRO products</p>
        </div>
        <div class="l-content__box u-mb_s40-p60">
          <div class="content__list l-justify-between--pc">
            <div class="content__item l-flex-column">
              <div class="item__container">
                <h3 class="item__heading u-text-align--center"><span class="u-font-tt--light heading__new">new</span>　<span class="u-font-tt--medium heading__name">SAVON</span></h3>
                <div class="item__box">
                  <p class="box__title u-text-align--center u-font-weight--700">Relive the excitement<br>of meeting Savon<br>for the first time</p>
                  <div class="box__lead u-text-align--center">
                    <p>Fresh, uplifting citrus,<br>and the gentleness of soap,<br>have all been enhanced.</p>
                  </div>
                </div>
              </div>
              <div class="item__container img__container">
                <div class="item__img">
                  <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/01_savon_triangle-pc.jpg" width="100%" height="*" media="(min-width: 768px)"><img src="https://cdn.shopify.com/s/files/1/1440/3462/files/01_savon_triangle-sp.jpg" alt="SAVON" width="100%" height="*">
                  </picture>
                </div>
              </div>
              <div class="item__container">
                <p class="item__feature heading__line--right">Fragrance Features</p>
                <p class="item__text">The new Savon range is finished with a similar composition as the former scent, therefore there is no significant difference.<br>We enhanced the citrus and fruity accords of the top notes to add more freshness.<br>Additionally, the base note is slightly less sweet, making it easier for people of all ages to use in any season.</p>
              </div>
              <div class="item__container u-mt_auto"><a class="item__btn item__btn--w100 arrow--right-white u-text-align--center l-justify-align-center" href="https://shiro-shiro.uk/collections/savon">
                  <p class="u-font-weight--700"><span class="btn__text">New Savon Product List</span></p>
                </a></div>
            </div>
            <div class="content__item l-flex-column">
              <div class="item__container">
                <h3 class="item__heading u-text-align--center"><span class="u-font-tt--light heading__new">new</span>　<span class="u-font-tt--medium heading__name">WHITE LILY</span></h3>
                <div class="item__box">
                  <p class="box__title u-text-align--center u-font-weight--700">New me,<br>the person that I want to be.<br>White Lily</p>
                  <div class="box__lead u-text-align--center">
                    <p>With a more enhanced floral feel.<br>Pick up a new scent and find a new you.</p>
                  </div>
                </div>
              </div>
              <div class="item__container">
                <p class="item__feature heading__line--right">Fragrance Features</p>
                <p class="item__text">The new White Lily range is enhancing core features of the conventional scent, so there is no significant difference.<br>We strengthened the lily of the middle note and added a floral scent, such as magnolia, to create a rounder impression overall.</p>
              </div>
              <div class="item__container img__container">
                <div class="item__img">
                  <picture>
                    <source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/01_whitelily_triangle-pc.jpg" width="100%" height="*" media="(min-width: 768px)"><img src="https://cdn.shopify.com/s/files/1/1440/3462/files/01_whitelily_triangle-sp.jpg" alt="WHITE LILY" width="100%" height="*">
                  </picture>
                </div>
              </div>
              <div class="item__container u-mt_auto"><a class="item__btn item__btn--w100 arrow--right-white u-text-align--center l-justify-align-center" href="https://shiro-shiro.uk/collections/white-lily">
                  <p class="u-font-weight--700"><span class="btn__text">New White Lily Product List</span></p>
                </a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="l-content content-02" id="itemList">
      <div class="l-content__container l-inner">
        <div class="l-content__box--wide u-mb_s40-p60">
          <div class="content__header">
            <div class="content__img">
              <picture>
                <source srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/02_cover-pc.jpg" width="100%" height="*" media="(min-width: 768px)"><img src="https://cdn.shopify.com/s/files/1/1440/3462/files/02_cover-sp.jpg" alt="ITEM LIST Product List" width="100%" height="*">
              </picture>
            </div>
            <div class="content__headerText pcOnly">
              <div class="content__title u-font-tt--light--pc l-justify-between__align-center">
                <h2 class="title__titleEn">ITEM LIST</h2>
              </div>
              <div class="content__Lead">
                <p>Savon and White Lily Product Lineup.<br>Along with the changes in the scents of Savon and White Lily, we have also improved the, texture and design of each product so that you can enjoy it more.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="l-content__box u-mb_s40-p60 headerText">
          <div class="content__headerText spOnly">
            <div class="content__title u-font-tt--light--pc l-justify-between__align-center">
              <h2 class="title__titleEn">ITEM LIST</h2>
            </div>
            <div class="content__Lead">
              <p>Savon and White Lily Product Lineup.<br>Along with the changes in the scents of Savon and White Lily, we have also improved the, texture and design of each product so that you can enjoy it more.</p>
            </div>
          </div>
        </div>
        <div class="l-content__box u-mb_30">
          <h3 class="content__category heading__line--long"><span>new SAVON</span></h3>
        </div>
        <div class="l-content__box--wide-sp u-mb_s50-p100">
          <div class="swiper-area productSavon">
            <div class="swiper">
              <div class="productList swiper-wrapper"><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/collections/shiro-fragrance/products/savon-eau-de-parfum-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12702_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON EAU DE PARFUM 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;49.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-body-cologne-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12701_5aa8e965-301e-4614-abbc-204199c07b8f_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON BODY COLOGNE 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;32.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-body-milkboxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12704_dfc2fc05-b52f-43c9-be4c-52c8fdd024b4_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON BODY MILK 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;45.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-hand-serum-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12706_94c84645-2636-4e15-93e5-0808ed7195f0_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name"><span style="word-break:break-all;">【PREVIOUS CONTAINER】SAVON HAND SERUM 22 (BOXLESS)</span></p>
                    <p class="productList__price">&#0163;29.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-room-fragrance-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12716_f1a04c6a-bbd6-4b00-884d-fa1e0c8111a8_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON ROOM FRAGRANCE DIFFUSER LIQUID 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;60.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-aroma-oil-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12715_e1bb6f5c-1b57-4a26-aab3-e30d47e1dfc6_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON AROMA OIL 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;32.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-fabric-softener-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12713_60084068-989d-4aae-98e2-153411e534a1_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON FABRIC SOFTENER 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;28.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-laundry-detergent-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/SAVON_LAUNDRY_DETERGENT_500ml_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON LAUNDRY DETERGENT 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;28.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-hair-oilboxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12709_a29daa02-9e4e-4fa7-a27b-0c1b56f9da68_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON HAIR OIL 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;39.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-hair-mist-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12708_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON HAIR MIST 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;39.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-clay-hand-soapboxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12707_ca675488-6c20-43fc-8f88-ba7b29ca7213_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON CLAY HAND SOAP 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;30.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-body-oil-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12705_1f354a06-9998-486f-9018-b5e4d7f04c39_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON BODY OIL 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;47.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-solid-perfume-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12703_0d5a9aff-c4fc-409b-aada-214183976ead_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON SOLID PERFUME 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;37.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-bath-oil-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12710_900cdf89-7d73-4600-80b1-307774497eaa_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON BATH OIL 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;45.00</p>
                  </div>
                </a>{% comment %}<a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/savon-body-soapboxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12717_6f3af5c2-fef0-4822-a5b8-bc84255dea15_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">SAVON BODY SOAP 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;38.00</p>
                  </div>
                </a>{% endcomment %}
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
        <div class="l-content__box u-mb_30">
          <h3 class="content__category heading__line--long"><span>new WHITE LILY</span></h3>
        </div>
        <div class="l-content__box--wide-sp u-mb_s50-p100">
          <div class="swiper-area productLily">
            <div class="swiper">
              <div class="productList swiper-wrapper"><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/collections/best-sellers/products/white-lily-eau-de-parfum-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12722_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">WHITE LILY EAU DE PARFUM 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;49.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/white-lily-body-cologne-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12721_78c185b7-96df-43f7-883d-91776b7c9533_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">WHITE LILY BODY COLOGNE 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;32.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/white-lily-body-milkboxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12724_72a80d55-ebb8-41f7-9bf6-d6d62ea2afdf_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">WHITE LILY BODY MILK 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;45.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/white-lily-hand-serum-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12726_a09a0a0d-7fb3-4480-8b36-23f7516b92f6_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name"><span style="word-break:break-all;">【PREVIOUS CONTAINER】WHITE LILY HAND SERUM 22 (BOXLESS)</span></p>
                    <p class="productList__price">&#0163;29.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/white-lily-room-fragrance-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12736_921cec6d-bf7b-4992-976e-55e8813a1f85_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">WHITE LILY ROOM FRAGRANCE DIFFUSER LIQUID 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;60.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/white-lily-aroma-oil-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12735_1afe2fea-09ad-423f-97f3-231410cbe7e2_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">WHITE LILY AROMA OIL 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;32.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/white-lily-fabric-softener-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12733_e3915e2a-e51b-4029-b071-ecfc7e18973c_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">WHITE LILY FABRIC SOFTENER 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;28.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/white-lily-laundry-detergent-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12731_113cb71c-782a-48a7-b000-0cc5b2358519_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">WHITE LILY LAUNDRY DETERGENT 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;28.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/white-lily-hair-oilboxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12729_6e1cc3fa-b5a1-4a5e-b973-a8b35b82a5dd_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">WHITE LILY HAIR OIL 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;39.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/white-lily-hair-mist-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12728_69db838a-12a2-4714-a8c6-3fa27d6b4cd1_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">WHITE LILY HAIR MIST 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;39.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/white-lily-clay-hand-soapboxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12727_215d1680-b1d2-4ef1-b6af-5d93a4707507_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">WHITE LILY CLAY HAND SOAP 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;30.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/white-lily-body-oil-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12725_89495449-f81d-4161-a5f2-6a940cc0d3f5_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">WHITE LILY BODY OIL 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;47.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/white-lily-solid-perfume-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12723_ef06630c-d71b-4343-b921-de10258f4d5e_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">WHITE LILY SOLID PERFUME 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;37.00</p>
                  </div>
                </a><a class="productList__item productList__link swiper-slide" href="https://shiro-shiro.uk/products/white-lily-bath-oil-22-boxless">
                  <div class="productList__thumb"><img class="productList__img" src="https://shiro-shiro.uk/cdn/shop/files/12730_6360372a-36d3-4c19-9f08-c28327e28a8a_700x.jpg" alt=""></div>
                  <div class="productList__body">
                    <p class="productList__name">WHITE LILY BATH OIL 22 (BOXLESS)</p>
                    <p class="productList__price">&#0163;45.00</p>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
        <div class="l-content__box u-mb_s40-p60">
          <h3 class="content__category u-mb_30 heading__line--right"><span>RENEWAL ITEMS</span></h3>
          <div class="heading__square u-mb_30">
            <h4 class="content__title u-mb_30 u-font-weight--700">SHIRO Room Fragrance has been renewed to the specifications to last for a longer period</h4>
          </div>
          <div class="content__listRenewal l-justify-between--pc u-mb_s40-p60">
            <div class="renewal__img"><img src="https://cdn.shopify.com/s/files/1/1440/3462/files/02_renewal_item_img.jpg" alt="RENEWAL ITEMS" width="100%" height="*"></div>
            <div class="renewal__item">
              <p class="item__product u-font-weight--700">SHIRO Fragrance Diffuser</p>
              <div class="u-font-weight--700">
                <p class="item__name">liquid (with 10 sticks)</p>
                <p class="item__price">300mL　&#0163;60</p>
              </div>
              <p class="item__text">The liquid refill packaged in a waste plastic container made from 100% recycled plastic.<br>The entire scent could be used for about 3 months.</p>
              <p class="item__product u-font-weight--700">SHIRO Fragrance Diffuser</p>
              <div class="u-font-weight--700">
                <p class="item__name">Glass Vase</p>
                <p class="item__price">Container only / Common to use for different scents　&#0163;50</p>
              </div>
              <p class="item__text">This re-useable glass diffuser can be used repeatedly for all scents.
                <br>Pour the liquid and enjoy the fragrance in your room or use it according to your lifestyle.
            <br><br><span style="color: red;">Sales of this product are currently suspended. Please click <a href="https://shiro-shiro.uk/blogs/shiro-news/apology-and-notice-regarding-suspension-of-sales-of-fragrance-diffuser-glass-vase"><u style="color:red;">here</u></a> for details.</span></p>
              <p class="item__product u-font-weight--700">SHIRO Fragrance Diffuser</p>
              <div class="u-font-weight--700">
                <p class="item__name">Sticks (10 sticks)</p>
                <p class="item__price">Common to use for different scents　&#0163;7</p>
              </div>
              <p class="item__text">Fragrance diffuser sticks made from waste plastic, Spread the fragrance better than the previous paper sticks.</p>
            </div>
          </div>
        </div>
        <div class="l-content__box u-mb_s40-p60">
          <div class="heading__square u-mb_30">
            <h4 class="content__title u-mb_30 u-font-weight--700">Product lineup with changed specifications</h4>
          </div>
          <div class="content__listLineup l-justify-left">
            <div class="lineup__item l-flex-column">
              <div class="lineup__img"><img src="https://cdn.shopify.com/s/files/1/1440/3462/products/SOLID.PERFUME_700x.jpg" alt="" width="100%" height="*"></div>
              <div class="lineup__name l-justify-align-center">
                <p class="u-text-align--center u-font-weight--700">Solid Perfume</p>
              </div>
              <div class="lineup__text">
                <p>Adjusted the amount of Shea butter<sup>*1</sup> and added Jojoba oil<sup>*2</sup>.</p>
              </div>
            </div>
            <div class="lineup__item l-flex-column">
              <div class="lineup__img"><img src="https://cdn.shopify.com/s/files/1/1440/3462/products/SAVON_HANDSERUM_1000x.jpg" alt="" width="100%" height="*"></div>
              <div class="lineup__name l-justify-align-center">
                <p class="u-text-align--center u-font-weight--700">Hand Serum</p>
              </div>
              <div class="lineup__text">
                <p>Sake Kasu<sup>*3</sup> has been replaced with Gagome Kombu (extract)<sup>*4</sup> to enhance the texture and the fragrance.</p>
              </div>
            </div>
            <div class="lineup__item l-flex-column">
              <div class="lineup__img"><img src="https://cdn.shopify.com/s/files/1/1440/3462/products/SAVON_HANDSOAP_1000x.jpg" alt="" width="100%" height="*"></div>
              <div class="lineup__name l-justify-align-center">
                <p class="u-text-align--center u-font-weight--700">Clay Hand Soap</p>
              </div>
              <div class="lineup__text">
                <p>Aloe vera leaf extract<sup>*5</sup> has been replaced with Aloe vera juice<sup>*6</sup> for a finer feel and texture.</p>
              </div>
            </div>
            <div class="lineup__item l-flex-column">
              <div class="lineup__img"><img src="https://cdn.shopify.com/s/files/1/1440/3462/products/SAVON_BODYMILK_1000x.jpg" alt="" width="100%" height="*"></div>
              <div class="lineup__name l-justify-align-center">
                <p class="u-text-align--center u-font-weight--700">Body Milk</p>
              </div>
              <div class="lineup__text">
                <p>Aloe vera leaf extract<sup>*5</sup> has been removed, and shea butter (shea butter)<sup>*1</sup> has been added. More enhanced fragrance.</p>
              </div>
            </div>
            <div class="lineup__item l-flex-column">
              <div class="lineup__img"><img src="https://cdn.shopify.com/s/files/1/1440/3462/products/SAVON_HAIRMIST_1000x.jpg" alt="" width="100%" height="*"></div>
              <div class="lineup__name l-justify-align-center">
                <p class="u-text-align--center u-font-weight--700">Hair Mist</p>
              </div>
              <div class="lineup__text">
                <p>Added yuzu distilled water (yuzu peel water)<sup>*7</sup> to improve the blend of moisturizing ingredients and the fragrance.</p>
              </div>
            </div>
            <div class="lineup__item l-flex-column">
              <div class="lineup__img"><img src="https://cdn.shopify.com/s/files/1/1440/3462/products/SAVON_BODYOIL_1000x.jpg?v=1573084250" alt="" width="100%" height="*"></div>
              <div class="lineup__name l-justify-align-center">
                <p class="u-text-align--center u-font-weight--700">Body Oil</p>
              </div>
              <div class="lineup__text">
                <p>Improved fragrance. Only White Lily, linseed oil<sup>*8</sup> is removed from the formula for a smoother feel and texture.</p>
              </div>
            </div>
            <div class="lineup__item l-flex-column">
              <div class="lineup__img"><img src="https://cdn.shopify.com/s/files/1/1440/3462/files/BodyCologne.jpg" alt="" width="100%" height="*"></div>
              <div class="lineup__name l-justify-align-center">
                <p class="u-text-align--center u-font-weight--700">Body Cologne</p>
              </div>
              <div class="lineup__text">
                <p>Available in all UK Stores now.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="l-content__box u-mb_s40-p60">
          <div class="lineup__alertText">
            <p>*1 *2 *3 *4 *5 *6 *7 *8 Both are moisturizing ingredients</p>
          </div>
        </div>
        <div class="l-content__box">
          <div class="btn__container l-justify-between--pc u-font-weight--700">
            <div class="item__container u-mb_30"><a class="item__btn arrow--right-white u-text-align--center l-justify-align-center" href="https://shiro-shiro.uk/collections/savon">
                <p><span class="btn__text">New Savon Product List</span></p>
              </a></div>
            <div class="item__container u-mb_30"><a class="item__btn arrow--right-white u-text-align--center l-justify-align-center" href="https://shiro-shiro.uk/collections/white-lily">
                <p><span class="btn__text">New White Lily Product List</span></p>
              </a></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>