<div id="Store-locations">
    <h1 class="store-toptitle">STORE LOCATION</h1>
    <div class="store-container">
        <h2 class="store-shoptitle pc-only">SHIRO MONMOUTH STREET</h2>
        <div class="store-container__inner store-container__inner--re">
            <div class="store-container__img-wrapper">
                <img src="https://cdn.shopify.com/s/files/1/0785/2841/3982/files/shiro-monmouthstreet.png?v=1709102578" alt="shop image">
            </div>
            <div class="store-container__text-wrapper">
                <div class="store-shopinfo">
                    <h2 class="store-shoptitle sp-only">SHIRO MONMOUTH STREET</h2>
                    <dl class="store-shopinfo__detail">
                        <dt>Address</dt>
                        <dd>Ground Floor, 63 Monmouth Street, London,<br>WC2H 9DG, UK</dd>
                    </dl>
                    <dl class="store-shopinfo__detail">
                        <dt>Phone</dt>
                        <dd>020 3637 9346</dd>
                    </dl>
                    <dl class="store-shopinfo__detail">
                        <dt>Opening hours</dt>
                        <dd>Monday - Saturday/ 10:30am - 7:30pm<br>
                            Sunday / 11:00am - 6:00pm
                        <dd>
                    </dl>
                    <dl class="store-shopinfo__detail">
                        <dt>Payments</dt>
                        <dd>Available by card</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="store-container">
        <div class="store-container__inner">
            <div class="store-container__img-wrapper">
                <div class="store-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d39727.98778664769!2d-0.126974!3d51.51323!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604cd1a0bc05d%3A0x28fb2e8a8e7580e4!2sSHIRO%20Monmouth%20Street!5e0!3m2!1sja!2sjp!4v1709100479081!5m2!1sja!2sjp" width="420" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="store-container__text-wrapper">
                <div class="store-shopinfo">
                    <dl class="store-shopinfo__detail">
                        <dt>How to reach us</dt>
                        <dd>・Leicester Square Sta. (3-min walk)<br>
                            ・Tottenham Court Road Sta. (6-min walk)<br>
                            ・London Charing Cross Sta. (8-min walk)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>