<div class="Container">
    <header class="PageHeader">
        <div class="SectionHeader SectionHeader--center">
            <h1 class="SectionHeader__Heading Heading u-h1">{{ page.title }}</h1>
        </div>
    </header>

    <div class="PageContent Rte">
        <div id="fragrance">
            <div class="fragrance_wrap">
                <div class="fragrance_wrap_item classic">
                    <div class="title">SHIRO FRAGRANCE</div>
                    <a href="/collections/shiro-fragrance">SEE PRODUCTS</a>
                </div>
                <div class="fragrance_wrap_item perfume">
                    <div class="title">SHIRO PERFUME</div>
                    <a href="/collections/shiro-perfume">SEE PRODUCTS</a>
                </div>
            </div>
        </div>
    <div class="BannerContent">
      <a href="/pages/layering-shirofragrance-shiroperfume">
        <picture>
          <source class="ImageBanner__Image-Wrapper" media="(max-width: 640px)" srcset="https://cdn.shopify.com/s/files/1/1440/3462/files/pickup_layering-shirofragrance-shiroperfume_sp.jpg">
          <img class="ImageBanner__Image-Wrapper" src="https://cdn.shopify.com/s/files/1/1440/3462/files/pickup_layering-shirofragrance-shiroperfume.jpg" alt="Brend SHIRO FRAGRANCE and SHIRO PERFUME together.">
        </picture>
      </a>
    </div>
    </div>
</div>
